<ion-header>
    <!-- <ion-toolbar class="toolbar1">
        <ion-avatar style=" width: 32px; height: 32px; float: right">
            <img src="assets/icon/picture.png">
        </ion-avatar>
        <ion-label class="labelName" *ngIf="personalList">
            {{personalList.employeeName}}</ion-label>
        <div class="verticalLine"></div>
        <!-- <i class="far fa-bell"></i>
        <i class="far fa-edit"></i>
        <ion-icon class="search" name="search"></ion-icon> 
        <div style="width:15px; float: right; height: 20px"></div>
        <div class="bell-icon" [inlineSVG]="'assets/icon/Top_header/notifications.svg'"></div>
        <div style="width: 12px; float:right; height: 20px"></div>
        <div class="edit-icon" [inlineSVG]="'assets/icon/Top_header/action.svg'"></div>
        <div style="width:15px; float: left; height: 20px"></div>
        <div class="search-icon" [inlineSVG]="'assets/icon/Top_header/search.svg'"></div>
    </ion-toolbar> -->

    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f;font-size: 16px;">
            My Profile
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="contentMenu" contentId="content">
    <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of employeeSetupPage; let i=index">
            <ion-item class="items" lines="none" (click)="getIndexToShowArrow(i)">
                <ion-label [style.color]="numOfArray === i ? '#057dcd' : ''">
                    {{p.title}}
                </ion-label>
                <div *ngIf="numOfArray === i">
                    <ion-icon slot="end" color="primary" name="arrow-dropright"></ion-icon>
                </div>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>
</ion-content>

<ion-content class="content2">
    <ion-router-outlet></ion-router-outlet>
</ion-content>