<!-------------------------------- create new profile ------------------------------------->
<ion-menu style="--width: 424px;" contentId="createNewRoleContent" side="end" type="overlay"
  (ionDidClose)="menuOpen=false" menuId="createNewAttendanceDetails">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">CREATE NEW PROFILES
    </p>
  </ion-header>

  <ion-content>
    <div>
      <div>
        <p style="margin-bottom: 0;margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;font-weight: bold;">
          PROFILE NAME</p>
        <div style="width: 100%;">
          <mat-form-field appearance="outline"
            style="margin: 15px;height: 45px;display: block;font-size: 12px;color:#43425d;margin-top: 0;">
            <mat-label>New profile name here</mat-label>
            <input matInput [formControl]="newAttendanceName" required>
          </mat-form-field>
        </div>
        <div style="width: 100%;">
          <mat-form-field appearance="outline"
            style="margin: 15px;display: block;font-size: 12px;color:#43425d;margin-bottom: 0;">
            <mat-label>Description</mat-label>
            <textarea matInput [formControl]="newAttendanceDescription" required
              style="height: 55px;resize: none;"></textarea>
          </mat-form-field>
        </div>

        <!-------------------- Employee List with searchbar ------------------------->

        <!-- <div style="margin-left:16px;margin-right: 16px;margin-top: 10px;">
          <div style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;color: #a5a4bf;">
            <ion-row>
              <ion-col style="font-weight: bold;white-space: nowrap;
            text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                EMPLOYEE LIST</ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding-top: 0;color: #808495;padding-bottom: 0;margin-bottom: 5px;">
                Type their name or even by department & company
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-searchbar mode="md" class="searchbar" placeholder="Search by Name/Department or Company"
                (ionChange)="changeDetails($event.srcElement.value)">
              </ion-searchbar>
            </ion-row>
          </div>
          <div
            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 4px;margin-bottom: 5px;color: #a5a4bf;font-weight: bold;">
            <ion-row nowrap>
              <ion-col size="2"
                style="text-align: center;padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                <ion-checkbox mode="ios" class="ionCheckbox" style="margin-top: 6px;" [(ngModel)]="headCheckbox"
                  [indeterminate]="indeterminateVal" (click)="headerCheckbox()">
                </ion-checkbox>
              </ion-col>
              <ion-col size="2" [class]="'hide-md-down'" style="white-space: nowrap;
                    text-overflow: ellipsis;overflow: hidden;align-self: center">
                ID
              </ion-col>
              <ion-col size="6" align-self-center style="white-space: pre-line;
                    text-overflow: ellipsis;overflow: hidden;">
                EMPLOYEE NAME
              </ion-col>
              <ion-col align-self-center>
                <ion-buttons end style="height: 26px;" *ngIf="indeterminateVal || headCheckbox"
                  (click)="showCheckedUser()">
                  <div style="width: 18px;height: 18px;fill: #a5a4bf;opacity: 0.8;cursor: pointer;"
                    [inlineSVG]="'assets/icon/add_employee/filters.svg'">
                  </div>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </div>
          <div style="height: calc( 100% - 200px);overflow: auto;">
            <ng-container>
              <ion-row class="detailsRow" *ngFor="let item of _userList; let i=index">
                <ion-col size="2" align-self-center class="selection-column">
                  <div>
                    <ion-avatar class="avatar">
                      <!-- (mouseover)="hoverInOut(i, true, item.isChecked)"
                      (mouseout)="hoverInOut(i, false, item.isChecked)" --
                      <img src="assets/icon/evans.jpg" style="margin-left: 5px;">
                      <!-- [style.display]="showCheckBox[i] ? 'none' : 'block'" --
                      <div class="checkboxOnAvatar">
                        <!-- [style.display]="showCheckBox[i] ? 'block' : 'none'" --
                        <ion-checkbox mode="ios" class="ionCheckbox"
                          style="position: absolute;margin-top: 7px;margin-left: -4px;" (ionChange)="contentCheckbox()">
                          <!-- [(ngModel)]="item.isChecked" --
                        </ion-checkbox>
                      </div>
                    </ion-avatar>
                  </div>
                </ion-col>
                <ion-col size="2" [class]="'hide-md-down'" style=" color: #7a8589; font-size: 13px;" align-self-center
                  style="color: #808495; font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                  {{item.staffNumber}}
                </ion-col>
                <ion-col size="6" style="white-space: pre-line;overflow: hidden;text-overflow: ellipsis;">
                  <ion-label style="color:#43425d; font-weight: bold;;font-size: 12px;">
                    {{item.employeeName}}</ion-label>
                  <p
                    style="color: #808495;font-size:11px;text-overflow: ellipsis;overflow: hidden;white-space: pre-line;">
                    {{item.designation}}</p>
                  <p [class]="'hide-md-up'"
                    style="color: #808495;font-size:11px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                    ID: {{item.staffNumber}}</p>
                </ion-col>
                <ion-col></ion-col>
                <ion-item lines="full" style=" --min-height: none;width: 100%;"></ion-item>
              </ion-row>
            </ng-container>
            <div *ngIf="_userList && _userList.length === 0" style="width: 100%; text-align:center;padding: 10px">
              <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
              <p style="font-size: 20px;color:#a3a6b4;opacity: 0.8;padding-top:10px ">No Results Found
              </p>
            </div>
          </div>
        </div> -->

        <div style="margin: 20px;text-align: center;">
          <ion-button
            style="--border-radius: 2px;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
            color="primary" (click)="createNew();showSmallSpinner=true"
            [disabled]="!newAttendanceName.valid || !newAttendanceDescription.valid">
            Create New Profile<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
            </ion-spinner>
          </ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="createNewRoleContent">
</ion-router-outlet>


<!------------------------------------- edit profile ----------------------------------- -->
<ion-menu style="--width: 424px;" contentId="editRoleContent" side="end" type="overlay" menuId="editAttendanceDetails"
  (ionDidClose)="menuOpen=false">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">EDIT PROFILES
    </p>
  </ion-header>

  <ion-content>
    <p style="margin-bottom: 0;margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;font-weight: bold;">
      PROFILE NAME</p>
    <div style="width: 100%;">
      <mat-form-field appearance="outline"
        style="margin: 15px;height: 45px;display: block;font-size: 12px;color:#43425d;margin-top: 0;">
        <input matInput [formControl]="editAttendanceName">
      </mat-form-field>
    </div>
    <div style="width: 100%;">
      <mat-form-field appearance="outline" style="margin: 15px;display: block;font-size: 12px;color:#43425d;">
        <textarea matInput [formControl]="editAttendanceDescription" style="height: 55px;resize: none;"></textarea>
      </mat-form-field>
    </div>
    <div style="margin: 20px;text-align: center;">
      <ion-button
        style="--border-radius: 2px;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
        color="primary" (click)="updateRole();showSmallSpinner=true">
        Update <ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
        </ion-spinner>
      </ion-button>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="editRoleContent">
</ion-router-outlet>

<ion-card>
  <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
    <div class="fullContainer">
      <ion-item-group style="display: flex;">
        <div class="left" style="min-width: fit-content;">
          <img src="assets/icon/attendance/icon_time_attendance.png" style="width:35px;height:33px">
        </div>
        <div class="right">
          <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Time Attendance
            Management
          </ion-card-subtitle>
          <ion-card-subtitle class="subtitle" style="font-size: 12px;">
            Create the attendance profile and assign employee according configuration of working place details
          </ion-card-subtitle>
        </div>
      </ion-item-group>
      <ion-item-group style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
        <div style="right: 75px;top: 25px;">
          <p
            style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
            Edit
            Mode: {{mode}}</p>
          <div style="display: inline-block;position: absolute;margin-top: 12px;">
            <ion-toggle class="toggleButton" mode="ios" color="secondary" (ionChange)="toggleMode($event)">
            </ion-toggle>
          </div>
        </div>
      </ion-item-group>
    </div>
  </ion-card-header>
  <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
    <app-spinner></app-spinner>
  </div>
  <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
    <div class="cardContent">
      <ion-card-content style="max-height: 100%;height: 100%;">
        <div class="row" style="flex-wrap: wrap; overflow-y: auto;">
          <div class="role" style="flex: 1; min-width: 200px;">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col size="9" style="font-size: 12px;white-space: nowrap;
                                  text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  PROFILE DETAILS</ion-col>
                <ion-col align-self-center style="text-align: right;">
                  <ion-icon class="addIcon" name="add-circle-outline" *ngIf="mode == 'ON'"
                    (click)="menuOpen = true;_sharedService.menu.open('createNewAttendanceDetails'); _sharedService.menu.enable(true, 'createNewAttendanceDetails'); _sharedService.menu.enable(false, 'editAttendanceDetails');">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);">
              <ng-container *ngIf="mode == 'OFF'">
                <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                  <ion-col size="9.5" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="textHover"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      [ngClass]="{'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                      (click)="selectedProfile(role, i);editAttendanceName.patchValue(role.code);editAttendanceDescription.patchValue(role.description);">
                      {{role.code}}
                    </p>
                    <p
                      style="font-style: italic;font-weight: 600;padding-bottom: 5px;font-size: 11px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      {{role.description}}
                    </p>
                    <div
                      style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      Assigned Employee No.: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{role.total_employee_attach}}</p>
                    </div>
                  </ion-col>
                  <ion-col *ngIf="mode == 'OFF'" style="text-align: right;padding-right: 15px; display: flex;align-items: center;
                                      justify-content: center; ">
                  </ion-col>
                  <!-- <ion-col align-self-center *ngIf="mode == 'ON'" style="text-align: right;padding-right: 15px; display: flex; flex-flow: row
                                      wrap; align-items: center;">
                    <img src="assets/icon/leave_setup/icon_edit@3x.png"
                      style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                      (click)="menuOpen = true;selectedProfile(role, i);editAttendanceName.patchValue(role.code);editAttendanceDescription.patchValue(role.description);_sharedService.menu.enable(true, 'editAttendanceDetails'); _sharedService.menu.open('editAttendanceDetails'); _sharedService.menu.enable(false, 'createNewAttendanceDetails');"
                      [ngClass]="{ 
                                          'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                    &nbsp;&nbsp;
                    <img src="assets/icon/leave_setup/icon_trash@3x.png"
                      style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                      (click)="delete(role.role_guid, role.code)">
                  </ion-col> -->
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </ng-container>

              <ng-container *ngIf="mode == 'ON'">
                <section class="my-dropzone scrollable" dndDropzone dndDragoverClass="custom-drag-over"
                  (dndDrop)="onDropped($event, role)" [dndDisableIf]="i==clickedIndex"
                  *ngFor="let role of roleList; let i=index">
                  <ion-row class="sectionRow">
                    <ion-col size="9.5" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                      <p class="textHover"
                        style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                        [ngClass]="{'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                        (click)="selectedProfile(role, i);editAttendanceName.patchValue(role.code);editAttendanceDescription.patchValue(role.description);">
                        {{role.code}}
                      </p>
                      <p
                        style="font-style: italic;font-weight: 600;padding-bottom: 5px;font-size: 11px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                        {{role.description}}
                      </p>
                      <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow:
                                              hidden;white-space: pre-line;text-overflow: ellipsis;">
                        Assigned Employee No.: <p
                          style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                          {{role.total_employee_attach}}</p>
                      </div>
                    </ion-col>
                    <ion-col align-self-center *ngIf="mode == 'ON'"
                      style="text-align: right;padding-right: 15px;display: flex; flex-flow: row wrap; align-items: center;">
                      <img src="assets/icon/leave_setup/icon_edit@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="menuOpen = true;selectedProfile(role, i);editAttendanceName.patchValue(role.code);editAttendanceDescription.patchValue(role.description);_sharedService.menu.enable(true, 'editAttendanceDetails'); _sharedService.menu.open('editAttendanceDetails'); _sharedService.menu.enable(false, 'createNewAttendanceDetails');"
                        [ngClass]="{
                                          'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                      &nbsp;&nbsp;
                      <img src="assets/icon/leave_setup/icon_trash@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="delete(role.attendance_guid, role.code)">
                    </ion-col>
                  </ion-row>
                </section>
              </ng-container>
            </div>
          </div>
          <div class="assigned" style="flex: 1; min-width: 230px;">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row style="flex-flow: nowrap">
                <ion-col *ngIf="mode == 'ON'"
                  style="max-width: 28px;align-self: center; min-width: fit-content; display: flex;">
                  <ion-checkbox mode="ios" style="width: 16px; height: 16px; margin-top: 1px;  margin-right: 5px;"
                    *ngIf="mode == 'ON'" [(ngModel)]="roleListCheckAll" [indeterminate]="roleListIsIndeterminate"
                    (click)="checkAllRoleListAssignedEmployees()">
                  </ion-checkbox>
                  <div *ngIf="roleListIsIndeterminate || roleListCheckAll">
                    <ion-icon name="more"
                      style="width: 18px; height: 18px; color: #7069d8; font-size: 16px; cursor: pointer;" mat-button
                      [matMenuTriggerFor]="menu">
                    </ion-icon>
                    <mat-menu #menu="matMenu">
                      <ion-label style=" background: #f5f6fa;white-space: pre-line;text-overflow:
                                              ellipsis;color: #4d4f5c;font-size:11px; padding: 15px;display: flex;">
                        Move selected to: </ion-label>
                      <ion-list>
                        <div mat-menu-item
                          style="white-space: pre-line;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;"
                          *ngFor="let list of roleList; let i=index" (click)="reassignToOtherRoles(list)">{{list.code}}
                        </div>
                      </ion-list>
                    </mat-menu>
                  </div>
                </ion-col>
                <ion-col style="font-size: 12px;white-space: nowrap;
                                  text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  ASSIGNED EMPLOYEE</ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);" *ngIf="mode == 'OFF'">
              <ion-row *ngFor="let item of assignedNameList; let i =index" style="width: 100%;padding-left: 10px;">
                <ion-col align-self-center size="9" style="padding-top: 0;padding-bottom: 0;">
                  <p style="overflow: hidden;white-space: pre-line;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;padding-top: 13px;
                                      padding-bottom: 13px;">
                    {{item.fullname}}</p>
                </ion-col>
                <ion-item class="divider" lines="full">
                </ion-item>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);" *ngIf="mode == 'ON'">
              <mat-card *ngFor="let draggable of assignedNameList" [dndDraggable]="draggable.content"
                [dndEffectAllowed]="draggable.effectAllowed" [dndDisableIf]="draggable.disable"
                style="margin: 5px;border-radius: 3px;box-shadow: 0 3px 6px 0 rgba(77, 77, 77, 0.16);">
                <div style="float: left;padding-right: 15px;cursor: move; display: flex;">
                  <ion-checkbox mode="ios" style="height: 16px; width: 16px; margin-right: 10px;"
                    [(ngModel)]="draggable.isChecked" (ionChange)="checkRoleListAssignedEmployeeEvent()">
                  </ion-checkbox>
                  <img src="assets/icon/leave_setup/icon_reorder@3x.png" style="width: 16px;height: 16px;"
                    *ngIf="draggable.handle" dndHandle>
                </div>
                <p [hidden]="!draggable.handle" style="color: #4d4f5c;font-size:11px;display: flex;">
                  {{draggable.content}}</p>
              </mat-card>
            </div>
          </div>

          <!----------------------------------- office --------------------------------->
          <div class="leave" *ngIf="_property">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 7px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col
                  style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;padding-top: 0;">
                  OFFICE
                  <p style="font-style: italic;
                  font-size: 10px;
                  color: #808495;
                  opacity:0.8;
                  padding: 0;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;">Working at the office</p>
                </ion-col>
                <ion-col style="text-align: right;">
                  <p *ngIf="_property.office.value === true" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                    margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                    Enable</p>
                  <p *ngIf="_property.office.value === false" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                    margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                    Disable</p>
                  <div style="display: inline-flex" *ngIf="mode === 'ON'">
                    <ion-toggle class="enableButton" mode="ios" color="secondary" [checked]="_property.office.value"
                      (ionChange)="$event.detail.checked === true? _property.office.value = true : _property.office.value = false">
                    </ion-toggle>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);">
              <div class="leaveSetup">
                <ion-list lines="none" style="padding-top: 0;">
                  <ion-item class="ionItem">
                    <ion-label>View client list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.office.client_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View project selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.office.project_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View contract selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.office.contract_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View activity list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.office.activity_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>Enable geofence filter</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.office.geofence_filter">
                    </ion-checkbox>
                  </ion-item>
                </ion-list>
              </div>

              <!----------------------- site --------------------------->
              <div
                style="font-size: 12px;width:100%;background: #f5f6fa;padding: 7px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                <ion-row>
                  <ion-col
                    style="font-size: 12px;white-space: nowrap;
                                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;padding-top: 0;">
                    SITE <p style="font-style: italic;
                    font-size: 10px;
                    color: #808495;
                    opacity:0.8;
                    padding: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;">On site job at client place</p>
                  </ion-col>
                  <ion-col style="text-align: right;">
                    <p *ngIf="_property.site.value === true" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                      margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                      Enable</p>
                    <p *ngIf="_property.site.value === false" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                      margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                      Disable</p>
                    <div style="display: inline-flex" *ngIf="mode === 'ON'">
                      <ion-toggle class="enableButton" mode="ios" color="secondary" [checked]="_property.site.value"
                        (ionChange)="$event.detail.checked === true? _property.site.value = true : _property.site.value = false">
                      </ion-toggle>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="leaveManagement">
                <ion-list lines="none" class="ionItem"
                  style="padding-bottom: 10px;padding-top: 0px;white-space: nowrap;">
                  <ion-item class="ionItem">
                    <ion-label>View client list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.site.client_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View project selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.site.project_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View contract selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.site.contract_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View activity list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.site.activity_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>Enable geofence filter</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.site.geofence_filter">
                    </ion-checkbox>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>

          <!------------------------------ home ----------------------------------->
          <div class="manage" *ngIf="_property">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 7px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
                        text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;padding-top: 0;">
                  HOME <p style="font-style: italic;
                  font-size: 10px;
                  color: #808495;
                  opacity:0.8;
                  padding: 0;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;">Working from home</p>
                </ion-col>
                <ion-col style="text-align: right;">
                  <p *ngIf="_property.home.value === true" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                    margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                    Enable</p>
                  <p *ngIf="_property.home.value === false" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                    margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                    Disable</p>
                  <div style="display: inline-flex" *ngIf="mode === 'ON'">
                    <ion-toggle class="enableButton" mode="ios" color="secondary" [checked]="_property.home.value"
                      (ionChange)="$event.detail.checked === true? _property.home.value = true : _property.home.value = false">
                    </ion-toggle>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);">
              <div class="profileManagement">
                <ion-list lines="none" class="ionItem"
                  style="padding-bottom: 10px;padding-top: 0px;white-space: nowrap;">
                  <ion-item class="ionItem">
                    <ion-label>View client list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.home.client_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View project selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.home.project_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View contract selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.home.contract_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View activity list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.home.activity_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>Enable geofence filter</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.home.geofence_filter">
                    </ion-checkbox>
                  </ion-item>
                </ion-list>


              </div>
              <!------------------------- others ------------------------------------>
              <div
                style="font-size: 12px;width:100%;background: #f5f6fa;padding: 7px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                <ion-row>
                  <ion-col style="font-size: 12px;white-space: nowrap;
                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;padding-top: 0;">
                    OTHERS<p style="font-style: italic;
                    font-size: 10px;
                    color: #808495;
                    opacity:0.8;
                    padding: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;">Working outside, meeting, etc</p>
                  </ion-col>
                  <ion-col style="text-align: right;">
                    <p *ngIf="_property.others.value === true" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                      margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                      Enable</p>
                    <p *ngIf="_property.others.value === false" style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;
                      margin-right: 10px;top: 10px;position: absolute;" [style.right.px]="mode === 'ON' ? '35' : '0'">
                      Disable</p>
                    <div style="display: inline-flex" *ngIf="mode === 'ON'">
                      <ion-toggle class="enableButton" mode="ios" color="secondary" [checked]="_property.others.value"
                        (ionChange)="$event.detail.checked === true? _property.others.value = true : _property.others.value = false">
                      </ion-toggle>
                    </div>
                  </ion-col>
                </ion-row>
              </div>

              <div class="calendarView">
                <ion-list lines="none" class="ionItem" style="padding-bottom: 10px;
                padding-top: 0px;white-space: nowrap;">
                  <ion-item class="ionItem">
                    <ion-label>View client list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.others.client_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View project selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.others.project_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View contract selection</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.others.contract_selection">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>View activity list</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.others.activity_list">
                    </ion-checkbox>
                  </ion-item>
                  <ion-item class="ionItem">
                    <ion-label>Enable geofence filter</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [disabled]="mode == 'OFF'"
                      [(ngModel)]="_property.others.geofence_filter">
                    </ion-checkbox>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>

        </div>
      </ion-card-content>
    </div>
  </div>
</ion-card>