:host(.menuOverlay) {
    z-index: 101 !important;
  }
  :host {
    // margin: auto;
    // width: 100%;
    // height: calc(100% - 58px);
    margin: auto;
    width: 100%;
    z-index: 0 !important;
    // top: 48px;

//     height: 100%;
//   max-height: 100%;
//   width: calc(50% - 30px);
//   display: flex;
  
    .divider {
      --min-height: none;
      padding-top: 1%;
      padding-bottom: 1%;
      width: 100%;
    }
    ion-col {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .container {
      background: white;
      min-height: 100%;
      width: 95%;
      margin: auto;
      height: 100%;
    }
    // .cardContent {
    //   overflow: auto;
    //   --offset-top: 0px;
    //   --offset-bottom: 0px;
    //   min-height: calc(100% - 38px);
    //   height: calc(100% - 130px);
    // }
    .paginator {
      color: #7a8589;
      font-size: 12px;
      margin-top: 11px;
      margin-right: 25px;
      text-align: right;
      width: 95%;
      white-space: nowrap;
      margin: auto;
    }
    .titleLabel {
      color: #20291f;
      font-weight: 500;
      font-size: 12px;
    }
    .titleRow {
      padding-left: 2%;
      padding-bottom: 2%;
    }
    .detailsRow {
      padding-left: 2%;
    }
    .colOfLeave {
      color: #7a8589;
      font-size: 13px;
    }
    .button-round {
      --padding-start: 18px;
      --padding-end: 18px;
    }
    .button-outline {
      --border-width: 1px;
    }
    .arrow {
      font-size: 18px;
      padding-left: 10px;
      cursor: pointer;
      position: absolute;
    }
    .edit-pencil-icon {
      width: 12px;
      height: 12px;
      fill: #bebebe;
      cursor: pointer;
      position: absolute;
    }
    .edit-pencil-icon:hover {
      width: 12px;
      height: 12px;
      fill: #057dcd;
      cursor: pointer;
      position: absolute;
    }
    .trash-icon {
      width: 12px;
      height: 12px;
      fill: #bebebe;
      float: right;
      cursor: pointer;
      position: absolute;
      margin-left: 30px;
    }
    .trash-icon:hover {
      width: 12px;
      height: 12px;
      fill: #f04141;
      float: right;
      cursor: pointer;
      position: absolute;
      margin-left: 30px;
    }
  
    // new
    ion-card {
      height: calc(100% - 48px);
      margin: 0;
      top: 48px;
      box-shadow: none;
    }
    .fullContainer {
      display: flex;
      flex-wrap: wrap;
      margin: 17px;
    }
    .right {
      padding-left: 20px;
      // padding-top: 4px;
    }
    .cardContent {
      line-height: 1.25;
      background: white;
      height: calc(100% - 154px);
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .toggleButton {
      zoom: 0.7;
      transform: scale(0.8);
      --background: #a5a4bf;
    }
    .enableButton{
        zoom: 0.7;
        transform: scale(0.8);
        --background: #ff6768;
    }
    .row {
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      max-height: 100%;
      height: 100%;
  
    }
    .row::-webkit-scrollbar {
      display: none;
    }
    .row {
      -ms-overflow-style: none;
    }
    .role {
      // flex: 28%;
      // max-width: 28%;
      max-height: 100%;
    }
    .assigned {
      // flex: 22%;
      // max-width: 22%;
      max-height: 100%;
    }
    .assigned {
      margin-right: 10px;
      margin-left: 10px;
    }
    .leave {
      margin-right: 10px;
    }
    .leave,
    .manage {
      flex: 23.5%;
      max-width: 23.5%;
      max-height: 100%;
    }
    .textColor {
      color: #3b86ff;
    }
    .oriColor {
      color: #4d4f5c;
    }
    .textHover:hover {
      color: #3b86ff;
    }
    .addIcon {
      color: #7069d8;
      font-size: 16px;
      cursor: pointer;
    }
    .sectionRow {
      padding-left: 5px;
      box-shadow: rgba(77, 77, 77, 0.16) 0px 3px 6px 0px;
      border-radius: 3px;
      margin: 5px;
    }
    .dndDragging {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    .custom-drag-over {
      background-color: #fafafa;
    }
    // menu
    .newClicked {
      --background: #7069d8;
    }
    .newUnclicked {
      --background: #43425d;
    }
    .cloneUnclicked {
      --background: #43425d;
    }
    .cloneClicked {
      --background: #7069d8;
    }
    ::ng-deep .mat-radio-outer-circle {
      border-color: #7069d8;
    }
    ::ng-deep .mat-radio-label-content {
      padding-left: 13px;
    }
  
    // ::-webkit-scrollbar,
    // *::-webkit-scrollbar {
    //   display: none;
    //   overflow: hidden;
    // }

    .objects-icon {
        float: left;
        width: 200px;
        height: 140px;
        margin-left: 4%;
        margin-top: 10px;
      }
      .pText {
        text-overflow: ellipsis;
        overflow: hidden;
        color: #7a8589;
        width: 39%;
        margin-left: 10%;
        margin-top: 58px;
        line-height: 1.6;
        letter-spacing: 1px;
        background: #eff0f1;
        vertical-align: middle;
        height: 35%;
      }
      // flex-layout
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
      }
      .column1 {
        flex: 100%;
        max-width: 33%;
        padding: 0 10px;
      }
      .column2 {
        flex: 100%;
        max-width: 33%;
        padding: 0 10px;
      }
      .column3 {
        flex: 100%;
        max-width: 33%;
        padding: 0 10px;
      }
      .leaveSetup {
        vertical-align: middle;
        box-shadow: none;
        background: white;
      }
      // .column1 .reportView {
      //   margin-top: 20px;
      //   margin-bottom: 20px;
      //   vertical-align: middle;
      //   box-shadow: none;
      //   background: white;
      // }
      .column1 .calendarView {
        margin-top: 20px;
        margin-bottom: 20px;
        vertical-align: middle;
        box-shadow: none;
        background: white;
      }
      .column2 .leaveManagement {
        margin-top: 10px;
        vertical-align: middle;
        box-shadow: none;
        background: white;
      }
      // .column2 .calendarView {
      //   margin-top: 20px;
      //   margin-bottom: 20px;
      //   vertical-align: middle;
      //   box-shadow: none;
      //   background: white;
      // }
      .column3 .profileManagement {
        margin-top: 10px;
        vertical-align: middle;
        box-shadow: none;
        background: white;
      }
    
      // content style
      .ionItem {
        color: #43425d;
        font-size: 11px;
      }
      .ionCheckbox {
        width: 20px;
        height: 20px;
        margin-right: 14px;
        opacity: 1;
        --border-width: 2px;
        --border-color: #7069d8;
      }
      ::ng-deep .mat-select-value {
        color: #43425d;
      }
      ::ng-deep .mat-option-text {
        color: #43425d;
      }
      .cardTitle {
        font-size: 16px;
        color: #43425d;
      }
    
      // button
      .button-outline {
        --border-width: 1px;
      }
      // create role
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0%;
      }
      .item-interactive-disabled .sc-ion-label-md-h {
        opacity: 1 !important;
      }
      // .row {
      //   display: flex;
      //   flex-wrap: nowrap;
      //   margin: 0;
      //   max-height: 100%;
      //   height: 100%;
      // }
      .leave {
        margin-right: 10px;
      }
      .leave,
      .manage {
        // flex: 49%;
        // max-width: 50%;
        flex: 1;
        min-width: 200px;
        max-height: 100%;
      }
    
  }
  
  ::ng-deep .mat-menu-content:not(:empty) {
    padding: 0px;
    width: 150px;
    @media screen and (min-height: 720px) {
      max-height: 350px;
      overflow-y: auto;
    }
  
    @media screen and (max-height: 721px) {
      max-height: 250px;
      overflow-y: auto;
    }
  }
  
  ::ng-deep .mat-menu-item {
      line-height: initial;
      display: flex; 
      align-items: center;
  }