<div style="height: 100%;margin-top: 51px;">
  <div class="avatar">
    <ion-icon name="business" style="height: 70%; width: 70%"></ion-icon>
  </div>
  <div style="margin-top: -120px; padding-bottom: 10px">
    <ion-card style="margin: 0 auto; margin-top: 80px;">
      <div class="example-container">
        <form [formGroup]="formGroupValidation">
          <span>EMAIL ADDRESS</span><br>
          <mat-form-field appearance="outline">
            <input matInput #emailInput placeholder="Email address" formControlName="email" required>
            <mat-error *ngIf="formGroupValidation.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>
          <br>
          <span>PASSWORD</span><br>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Password" #passwordInput [type]="showPassword ? 'text' : 'password'"
              formControlName="pass" required>
            <mat-error *ngIf="formGroupValidation.controls['pass'].invalid">{{getPassErrorMessage()}}</mat-error>
            <mat-icon class="showHidePassword" matSuffix>
              <ion-icon name="eye-off" (click)="showPasswordKey()" *ngIf="!showPassword"></ion-icon>
              <ion-icon name="eye" (click)="hidePasswordKey()" *ngIf="showPassword"></ion-icon>
            </mat-icon>
          </mat-form-field>
          <br>
          <br>
          <ion-checkbox (ionChange)="rememberMe($event, emailInput.value, passwordInput.value)" [checked]="valueOfCheck"
            style="display: inline-flex;--size: 14px;" [disabled]="!formGroupValidation.valid"></ion-checkbox>
          <span style="padding-left: 10px; color:#7a8589">Remember me</span>
          <ion-button shape="round" fill="solid" float-right style="margin-right: 7%; margin-top: -0.2%;font-size: 10px;
      height: 27px;" (click)="signIn(emailInput.value, passwordInput.value)" [disabled]="!formGroupValidation.valid">
            Sign In</ion-button>
        </form>
      </div>
    </ion-card>
  </div>
  <div style="text-align: center;color: #057dcd;">Forgot my password</div>
</div>