<ion-header *ngIf="!connectionRoute">
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f; font-size: 16px;">
            Employee Directory
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <!-- <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i> -->
            <!-- <i class="fas fa-sliders-h" (click)="moreFilter()"></i> -->
            <div class="filter-icon" [inlineSVG]="'assets/icon/Option/filter.svg'" (click)="moreFilter()"></div>
        </div>
    </ion-toolbar>
</ion-header>

<div class="advertiseTop" *ngIf="showHeader" style="width: 95%;height: 150px;background: #01a0d7;
margin: 0 auto;margin-top: 3%;">
    <div class="objects-icon" [inlineSVG]="'assets/icon/User_profile/OBJECTS.svg'"></div>
    <div class="close-icon" [inlineSVG]="'assets/icon/Option/close.svg'" (click)="showHeader=false"></div>
    <p class="pText">Find staff across the business, access their profiles and get connected by adding them to your
        connections</p>
</div>

<!-------------------------------------------LIST VIEW------------------------------------------>

<div class="connectionsContainer" *ngIf="listView" [style.height]="connectionRoute ? '100%' : 'calc(100% - 58px)'"
    [style.width.%]="connectionRoute ? '100' : '95'">
    <div class="topHeader">
        <p class="numOfPeople" [style.left.%]="connectionRoute ? '3' : '5'" *ngIf="employeeList">{{employeeList.length}}
            people</p>
        <ion-searchbar mode="ios" class="searchbar" placeholder="Search by ID or name" (ionClear)="clearDetails()"
            (ionChange)="changeDetails($event)"></ion-searchbar>
        <div style="display: inline-block;white-space: nowrap;width: 66%;">
            <div style="padding-top: 18px;display: inline-block;padding-left: 46%">
                <i class="fas fa-bars" (click)="viewOnList()" [style.color]="listView ? '#7a8589' : '#bebebe'"></i>
                <i class="fas fa-th" (click)="viewOnGrid()" [style.color]="gridView ? '#7a8589' : '#bebebe'"></i>
            </div>
            <div style="color: #7a8589;font-size: 12px;display: inline;
            padding-left: 3%;">
                <span style="padding-right: 10px;">Page</span>
                <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
                padding-right: 7px;">{{pageIndex}}</span>
                <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
                <i class="fas fa-angle-left" title="Previous page"
                    style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                    (click)="clickToPrevPage(pageIndex-1)"></i>
                <i class="fas fa-angle-right" title="Next page"
                    style="cursor:pointer; font-size: 15px;padding-left: 10px"
                    (click)="clickToNextPage(pageIndex+1)"></i>
            </div>
        </div>
    </div>


    <ion-content class="listContent">
        <ion-row class="titleRow">
            <ion-col size="0.7" style="padding-left: 10px;">
                <!-- <ion-checkbox mode="ios" style="width: 20px; height: 20px;"></ion-checkbox> -->
            </ion-col>
            <ion-col size="1" style="display: inline-flex">
                <ion-label style="font-size: 12px;">ID</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesId()" *ngIf="sortDirectionArrowDownId">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownId" (click)="sortAscId()">
                </ion-icon>
            </ion-col>
            <ion-col size="3" style="display: inline-flex">
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesName()"
                    *ngIf="sortDirectionArrowDownName">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownName" (click)="sortAscName()">
                </ion-icon>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">DESIGNATION</ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">EMAIL ADDRESS</ion-label>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of personalList; let i=index">
            <ion-col size="0.7">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                    <!-- <div class="checkboxOnAvatar">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;">
                        </ion-checkbox>
                    </div> -->
                </ion-avatar>
            </ion-col>
            <ion-col size="1">
                <ion-label style="color:#7a8589; font-size: 13px;">{{item.staffNumber}}</ion-label>
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color: #057dcd; font-size: 13px;">{{item.employeeName}}
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.designation}}
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.email}}
            </ion-col>
            <ion-col>
                <!-- <ion-icon name="more" style="color: #dfe3e6; cursor: pointer"></ion-icon> -->
                <ion-icon name="more" class="iconMore" [matMenuTriggerFor]="menu" style="cursor:pointer"></ion-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Add to my connection</button>
                    <button mat-menu-item>Send a message</button>
                </mat-menu>
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

    </ion-content>
    <div style="padding-left: 17px; display: inline-flex">
        <ion-button [disabled]="disabledPreviousButton" fill="outline" (click)="clickToPrevPage(pageIndex-1)"
            style="font-size: 12px;height: 30px;width: 90px;" color="primary">
            <ion-icon name="arrow-back"></ion-icon>Prev
        </ion-button>
        <div style="padding-left: 10px"></div>
        <ion-button [disabled]="disabledNextButton" style="font-size: 12px;height: 30px;width: 90px;" color="primary"
            (click)="clickToNextPage(pageIndex+1)">Next<ion-icon name="arrow-forward">
            </ion-icon>
        </ion-button>
        <div [style.padding-right.%]="connectionRoute ? '3' : '8'"
            style="position: absolute;color: #7a8589;font-size: 12px;right: 0;padding-top: 1%;">
            <span style="padding-right: 10px;">Page</span>
            <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
            padding-right: 7px;">{{pageIndex}}</span>
            <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
            <i class="fas fa-angle-left" title="Previous page"
                style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                (click)="clickToPrevPage(pageIndex-1)"></i>
            <i class="fas fa-angle-right" title="Next page" style="cursor:pointer; font-size: 15px;padding-left: 10px"
                (click)="clickToNextPage(pageIndex+1)"></i>
        </div>
    </div>
</div>

<!-------------------------------------------GRID VIEW------------------------------------------>

<div class="connectionsContainer" *ngIf="gridView" [style.height]="connectionRoute ? '100%' : 'calc(100% - 58px)'"
    [style.width.%]="connectionRoute ? '100' : '95'">
    <div class="topHeader">
        <p class="numOfPeople" [style.left.%]="connectionRoute ? '3' : '5'" *ngIf="employeeList">{{employeeList.length}}
            people</p>
        <ion-searchbar mode="ios" class="searchbar" placeholder="Search by ID or name" (ionClear)="clearDetails()"
            (ionChange)="changeDetails($event)"></ion-searchbar>
        <div style="display: inline-block;
                white-space: nowrap;
                width: 66%;">
            <div style="padding-top: 18px;display: inline-block;padding-left: 46%">
                <i class="fas fa-bars" (click)="viewOnList()" [style.color]="listView ? '#7a8589' : '#bebebe'"></i>
                <i class="fas fa-th" (click)="viewOnGrid()" [style.color]="gridView ? '#7a8589' : '#bebebe'"></i>
            </div>
            <div style="color: #7a8589;font-size: 12px;display: inline;padding-left: 3%;">
                <span style="padding-right: 10px;">Page</span>
                <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
                        padding-right: 7px;">{{pageIndex}}</span>
                <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
                <i class="fas fa-angle-left" title="Previous page"
                    style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                    (click)="clickToPrevPage(pageIndex-1)"></i>
                <i class="fas fa-angle-right" title="Next page"
                    style="cursor:pointer; font-size: 15px;padding-left: 10px"
                    (click)="clickToNextPage(pageIndex+1)"></i>
            </div>
        </div>
    </div>


    <ion-content class="gridContent">
        <mat-grid-list cols="4" rowHeight="230px" style="height: 111%">
            <mat-grid-tile *ngFor="let item of personalList; let i=index">
                <mat-card class="example-card" style="width: 98%;height: 98%;border-radius: 4px;
                border: solid 0.5px #dfe3e6;">
                    <i class="fas fa-star" (click)="clickAsFavourite(i,item)"
                        [style.color]="userIDExists(item.id) ? '#ffbb00' : '#dfe3e6'"></i>
                    <ion-icon class="moreIcon" name="more"></ion-icon>
                    <ion-avatar style="margin: 0 auto;">
                        <img src="assets/icon/picture.png">
                    </ion-avatar>
                    <mat-card-header>
                        <mat-card-subtitle style="color: #057dcd;white-space: nowrap">{{item.employeeName}}
                        </mat-card-subtitle>
                        <mat-card-subtitle> <i class="far fa-id-card"></i>
                            {{item.staffNumber}}</mat-card-subtitle>
                        <mat-card-subtitle style="white-space: nowrap">{{item.designation}}
                        </mat-card-subtitle>
                        <mat-card-subtitle style="white-space: nowrap">{{item.email}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <button mat-button class="footerButton">
                            <i class="far fa-comment"></i>Send a message
                        </button>
                    </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

    </ion-content>
    <div style="padding-left: 17px; display: inline-flex">
        <ion-button [disabled]="disabledPreviousButton" fill="outline" (click)="clickToPrevPage(pageIndex-1)"
            style="font-size: 12px;height: 30px;width: 90px;" color="primary">
            <ion-icon name="arrow-back"></ion-icon>Prev
        </ion-button>
        <div style="padding-left: 10px"></div>
        <ion-button [disabled]="disabledNextButton" style="font-size: 12px;height: 30px;width: 90px;" color="primary"
            (click)="clickToNextPage(pageIndex+1)">Next<ion-icon name="arrow-forward">
            </ion-icon>
        </ion-button>
        <div [style.padding-right.%]="connectionRoute ? '3' : '8'"
            style="position: absolute;color: #7a8589;font-size: 12px;right: 0;padding-top:1%">
            <span style="padding-right: 10px;">Page</span>
            <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
                padding-right: 7px;">{{pageIndex}}</span>
            <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
            <i class="fas fa-angle-left" title="Previous page"
                style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                (click)="clickToPrevPage(pageIndex-1)"></i>
            <i class="fas fa-angle-right" title="Next page" style="cursor:pointer; font-size: 15px;padding-left: 10px"
                (click)="clickToNextPage(pageIndex+1)"></i>
        </div>
    </div>

</div>

<!-------------------------------------------Filter Options-------------------------------------->

<div class="filerContainer" *ngIf="viewMoreFilter">
    <ion-icon name="close" style="color:#dfe3e6;padding: 10px;font-size: 25px;cursor: pointer;" (click)="moreFilter()">
    </ion-icon>
    <p style="color: #20291f;padding-left: 15px;font-size: 14px;">FILTER BY</p>

    <p style="color: #7a8589;font-size: 14px;padding-left: 15px;padding-top: 10px;">Office location</p>
    <mat-select class="locationSelect" placeholder="All locations" [(value)]="selectedLocation">
        <mat-option style="color:#7a8589" class="select" *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>

    <p style="color: #7a8589;font-size: 14px;padding-left: 15px;padding-top: 67px;">Divisions</p>
    <mat-select class="divisionSelect" placeholder="All divisions" [(value)]="selectedDivision">
        <mat-option style="color:#7a8589" class="select" *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>

    <p style="color: #7a8589;font-size: 14px;padding-left: 15px;padding-top: 57px;">Departments</p>
    <mat-select class="departmentSelect" placeholder="All departments" [(value)]="selectedDepartment">
        <mat-option style="color:#7a8589" class="select" *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
    <p style="color: #057dcd;font-size: 14px;padding-left: 15px;padding-top: 40px;cursor: pointer;">Add more filter
    </p>
    <div style="position: absolute;bottom: 31px;left: 52px;">
        <ion-button shape="round" fill="none"
            (click)="selectedLocation=undefined;selectedDivision=undefined;selectedDepartment=undefined; $event.stopPropagation()"
            style="height: 27px; font-size: 12px;text-transform: none">Clear
        </ion-button>
        <ion-button shape="round" fill="outline" style="height: 27px;font-size: 12px;width: 115px;text-transform: none">
            Apply filter
        </ion-button>
    </div>
</div>