:host {
  margin: auto;
  width: 100%;
  top: 48px;
  // min-height: calc(100% - 58px);

  ion-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
  }
  .arrow {
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
  }
  .detailsRow {
    // height: 55px;
    padding-left: 10px;
  }
  .divider {
    --min-height: none;
    // padding-top: 1%;
    // padding-bottom: 1%;
    width: 100%;
  }
  .avatar {
    width: 65px;
    height: 65px;
    // margin-top: -7px;
  }
  .topPaginator {
    display: inline-block;
    right: 0;
    position: absolute;
    padding-top: 12px;
    background-color: #f9fafc;
  }
  .bottomPaginator {
    right: 0;
    position: absolute;
    background-color: #f9fafc;
  }
  .button-outline {
    --border-width: 1px;
  }
  .titleRow {
    background: #f5f6fa;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .topHeader {
    width: 100%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-left: 2%;
    white-space: nowrap;
  }
  .paginator {
    color: #7a8589;
    font-size: 12px;
    margin-top: 11px;
    margin-right: 25px;
    text-align: right;
    width: 95%;
    white-space: nowrap;
    margin: auto;
  }
  .searchbar {
    width: 260px;
    height: 40px;
    color: #43425d;
    font-size: 12px;
    float: left;
    margin-top: 4px;
  }
  .fa-bars {
    cursor: pointer;
  }
  .fa-th {
    padding-left: 10px;
    cursor: pointer;
  }
  .trash-icon {
    width: 12px;
    height: 12px;
    fill: #bebebe;
    cursor: pointer;
    margin-left: 30px;
  }
  // .trash-icon:hover {
  //   width: 12px;
  //   height: 12px;
  //   fill: #f04141;
  //   cursor: pointer;
  //   margin-left: 30px;
  // }
  .more {
    width: 12px;
    height: 12px;
    color: #bebebe;
    cursor: pointer;
    margin-left: 30px;
  }
  .more:hover {
    width: 12px;
    height: 12px;
    color: #7a8589;
    cursor: pointer;
    margin-left: 30px;
  }
  .formField {
    width: 70%;
    font-size: 12px;
  }
  .numOfPeople {
    color: #20291f;
    // left: 5%;
    float: left;
    width: 130px;
  }
  .people {
    float: left;
    height: 40px;
    width: 112px;
    text-transform: none;
    --border-radius: 2px;
  }
  mat-card-subtitle {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-card-header {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
  }
  .mat-card-footer {
    text-align: center;
    background: #f9fafc;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    border: solid 0.5px #dfe3e6;
    border-radius: 4px;
  }
  .fa-star {
    position: absolute;
    cursor: pointer;
  }
  .fa-comment {
    padding-right: 10px;
  }
  .moreIcon {
    color: #dfe3e6;
    float: right;
    cursor: pointer;
  }
  .moreIcon:hover {
    color: #7a8589;
    float: right;
    cursor: pointer;
  }
  .footerButton {
    color: #057dcd;
    background: transparent;
  }
  .filerContainer {
    width: 300px;
    height: calc(100% - 84px);
    position: absolute;
    top: 84px;
    right: 0;
    border: solid 0.5px #dfe3e6;
    background-color: #ffffff;
  }
  .locationSelect {
    width: 80%;
    border-radius: 2.5px;
    border: solid 0.5px #dfe3e6;
    position: absolute;
    left: 15px;
    padding: 10px;
    padding-left: 17px;
    font-size: 14px;
  }
  .divisionSelect {
    width: 80%;
    border-radius: 2.5px;
    border: solid 0.5px #dfe3e6;
    position: absolute;
    left: 15px;
    padding: 10px;
    top: 222px;
    padding-left: 17px;
    font-size: 14px;
  }
  .departmentSelect {
    width: 80%;
    border-radius: 2.5px;
    border: solid 0.5px #dfe3e6;
    position: absolute;
    left: 15px;
    padding: 10px;
    top: 311px;
    padding-left: 17px;
    font-size: 14px;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  ::ng-deep .mat-select-arrow {
    color: #7a8589;
  }
  // new
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 154px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .toggleButton {
    zoom: 0.7;
    transform: scale(0.8);
  }

  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }

  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    font-size: 12px;
    // padding-top: 3px;
  }
  .listContent {
    padding: 20px;
    height: 445px;
    // height: calc(100% - 130px);
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    // padding: 0 10px;
  }
  .table {
    flex: 35%;
    max-width: 35%;
  }
  .details {
    flex: 65%;
    max-width: 65%;
    margin-left: 10px;
  }
  // paginator
  ::ng-deep .ngx-pagination .current {
    background: #7069d8;
    border: 1px solid #7069d8;
    line-height: 22px;
  }
  ::ng-deep .ngx-pagination a {
    color: #4d4f5c;
    width: 31.3px;
    height: 31.3px;
    border-radius: 2px;
    line-height: 22px;
  }
  ::ng-deep .ngx-pagination li {
    width: 31.3px;
    height: 31.3px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #e8e9ec;
    border-radius: 2px;
    margin-right: 8px;
    line-height: 22px;
  }
  .label {
    color: #43425d;
    opacity: 0.8;
    font-weight: bold;
    font-size: 12px;
  }
  .addIcon {
    color: #7069d8;
    font-size: 16px;
    cursor: pointer;
  }
  .textHover:hover {
    color: #3b86ff;
  }
  .textColor {
    color: #3b86ff;
    opacity: 0.8;
  }
  .oriColor {
    color: #4d4f5c;
    opacity: 0.8;
  }
  ::ng-deep .mat-select-value-text {
    opacity: 0.8;
    font-size: 12px;
    color: #43425d;
  }
  ::ng-deep .mat-select-arrow {
    color: #43425d;
    opacity: 0.8;
  }
  ::ng-deep .mat-option-text {
    color: #43425d;
    opacity: 0.8;
    font-size: 12px;
  }
  ::ng-deep .matFormField > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix {
    border-top: 0;
  }
  .matFormField {
    display: block;
    width: 80%;
    font-size: 11px;
    color: #4d4f5c;
  }
  ::ng-deep .selectForm > .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  ::ng-deep .mat-input-element:disabled{
    color: #43425d;
    // opacity: 0.8;
  }
  .pText {
    color: #4d4f5c;
    font-size: 11px;
  }
  // menu
  .individualClicked {
    --background: #7069d8;
  }
  .individualUnclicked {
    --background: #43425d;
  }
  .bulkUnclicked {
    --background: #43425d;
  }
  .bulkClicked {
    --background: #7069d8;
  }
}
