<!-- <div style="width: 100%; height:100%; text-align: center;" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div> -->
<div style="text-align: center" *ngIf="showSpinner">
    <ion-spinner name="lines" color="primary"></ion-spinner>
</div>
<div class="container" *ngIf="!showSpinner">
    <div class="cardContent">
        <ion-card-content *ngIf="!showDetailPage">
            <div style="color: #057dcd;text-align: right;padding-top: 15px;">
                <div style="display: inline-block;">
                    <div class="user-icon" [inlineSVG]="'assets/icon/option/user.svg'"></div>
                    <ion-label class="label" style="font-size: 14px; color: #057dcd;
                    margin-top: 2px;cursor: pointer;padding-left: 10px;padding-right: 10px;"
                        (click)="showDetailPage=true;id=''">
                        Assign</ion-label>
                </div>
                &nbsp;&nbsp;
                <div class="textAssign" style="display: inline-block;">
                    <div class="user-icon" [inlineSVG]="'assets/icon/option/add.svg'"></div>
                    <ion-label class="label" style="font-size: 14px; color: #057dcd;
            margin-top: 2px;cursor: pointer;padding-left: 10px;" (click)="showDetailPage=true;id=''">
                        Create</ion-label>
                </div>
            </div>
            <div style="margin-top: 2%">
                <ion-row class="titleRow">
                    <ion-col size="3">
                        <ion-label class="titleLabel">PROFILE NAME</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="titleLabel">DESCRIPTION</ion-label>
                    </ion-col>
                    <ion-col size="3">
                        <ion-label class="titleLabel">WORKING HOUR</ion-label>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                </ion-row>
                <ion-row class="detailsRow" *ngFor="let item of list">
                    <ion-col size="3">
                        <ion-label class="colOfLeave">{{item.code}}</ion-label>
                    </ion-col>
                    <ion-col size="4" class="colOfLeave">{{item.description}}
                    </ion-col>
                    <ion-col size="3" class="colOfLeave" *ngIf="list">{{item.strtime}} - {{item.endtime}}
                    </ion-col>
                    <ion-col>
                        <div class="edit-pencil-icon" [inlineSVG]="'assets/icon/option/pencil.svg'"
                            (click)="showDetailPage = true;id=item.working_hours_guid">
                        </div>
                        <div class="trash-icon" [inlineSVG]="'assets/icon/option/trash.svg'"
                            (click)="deleteWorkingHrProfile(item.working_hours_guid, item.code)"></div>
                    </ion-col>
                    <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
            </div>
        </ion-card-content>

        <ion-card-content *ngIf="showDetailPage">
            <app-working-hour [showDetailPage]="showDetailPage" [id]="id" (valueChange)="valueChanged($event)">
            </app-working-hour>
        </ion-card-content>
    </div>
</div>