:host {
  ///////////////////////////////// new scss /////////////////////////
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    padding-top: 4px;
  }
  .mainDivider {
    --min-height: none;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    padding-top: 3px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    overflow: auto;
    height: calc(100% - 154px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    // padding: 0 10px;
  }
  .calendar,
  .restday,
  .assigned {
    flex: 32.5%;
    max-width: 32.5%;
    // background: #ffffff;
    // margin: 1%;
    // border-radius: 2px;
    // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  }
  .textColor {
    color: #3b86ff;
  }
  .oriColor {
    color: #4d4f5c;
  }
  .textHover:hover{
    color: #3b86ff;
  }
  .restday {
    margin-right: 10px;
    margin-left: 10px;
  }
  mat-chip {
    max-width: 68px;
    min-height: 20px;
    min-width: 68px;
  }
  .mat-chip.mat-standard-chip {
    background-color: #7069d8;
  }
  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin-top: 5px;
  }

  //////////////////////////////// end //////////////////////////////
  .personal {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-plus {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-times {
    color: #f04141;
    padding-right: 10px;
  }
  .fa-trash-alt {
    cursor: pointer;
    font-size: 12px;
    color: #bebebe;
  }
  .fa-trash-alt:hover {
    color: #f04141;
  }
  .app-calendar {
    width: 55%;
    margin-top: 1%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }
  .holidayView {
    padding-left: 3%;
    margin-top: 1%;
    float: right;
    width: 45%;
    overflow: auto;
  }
  .titleRow {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
    padding-top: 5px;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  ::ng-deep .mat-select-value-text {
    opacity: 0.8;
    font-size: 12px;
    color: #43425d;
  }
  ::ng-deep .mat-select-arrow {
    color: #43425d;
    opacity: 0.8;
  }
  ::ng-deep .mat-option-text {
    color: #43425d;
    opacity: 0.8;
    font-size: 12px;
  }
  .button-outline {
    --border-width: 1px;
  }
  // full calendar
  ::ng-deep .fc-toolbar > * > :not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-event-container {
    cursor: pointer;
  }
}
