:host {
  margin: auto;
  width: 100%;
  min-height: calc(100% - 58px);

  .header-md:after {
    height: 0px;
    background-image: none;
  }
  .toolbar2 {
    --min-height: 35px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .bell-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .edit-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .search-icon {
    float: left;
    width: 20px;
    height: 20px;
    fill: #7a8589;
    cursor: pointer;
  }
  .verticalLine {
    border-left: 1px solid #dfe3e6;
    height: 28px;
    float: right;
    padding-right: 20px;
  }
  .labelName {
    float: right;
    font-size: 14px;
    color: #7a8589;
    padding-right: 10px;
    padding-top: 8px;
  }
  ion-label {
    color: #20291f;
    font-weight: 500;
  }
  .arrow {
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    margin-top: -2px;
  }
  .detailsRow {
    height: 55px;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin-top: -7px;
  }
  .button-outline {
    --border-width: 1px;
  }
  .connectionsContainer {
    background: white;
    height: 100%;
    width: 95%;
    margin: 0 auto;
  }
  .topHeader {
    width: 93%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1%;
  }
  .searchbar {
    color: #7a8589;
    font-size: 12px;
  }
  ::ng-deep .searchbar-clear-icon {
    display: none;
  }
  ::ng-deep .searchbar-input-container .sc-ion-searchbar-ios {
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #057dcd;
  }
  ::ng-deep .searchbar-search-icon.sc-ion-searchbar-ios {
    width: 29px;
    left: 0;
  }
  .chipList {
    display: inline;
  }
  .fa-trash-alt {
    position: relative;
    top: -3.3px;
    cursor: pointer;
    font-size: 12px;
    color: #bebebe;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fa-trash-alt:hover {
    color: #f04141;
  }
  .data-container {
    width: 82.6%;
    margin-left: 2%;
    background: white;
    display: block;
    position: absolute;
    border: solid 0.5px #dfe3e6;
    height: auto;
    max-height: 188px;
    overflow-y: auto;
    top: 121px;
    z-index: 1;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .data-list {
    font-size: 14px;
    font-weight: 400;
    color: #7a8589;
    padding-left: 10px;
    cursor: pointer;
  }
  .numOfPeople {
    padding-bottom: 20px;
    color: #20291f;
  }
}
