<ion-header>
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f">
            Invites
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <i class="material-icons"
                style="padding-left: 10px; color: #7a8589; float: right;cursor: pointer">more_horiz</i>
        </div>
    </ion-toolbar>
</ion-header>

<div class="connectionsContainer">
    <div class="topHeader">
        <ion-searchbar mode="ios" class="searchbar" autocomplete="true" #searchbar [value]="inputValue"
            placeholder="Start typing name or email address" (ionInput)="getInputValue($event)"
            searchIcon="arrow-round-back">
            <ion-icon name="close-circle-outline" style="position: absolute;color: #bebebe;
            right: 120px;font-size: 16px;cursor: pointer;z-index: 1;" (click)="deleteSearchText()"></ion-icon>
            <ion-button fill="outline" style="cursor: pointer;position: absolute;font-size: 10px;height: 23px;width: 62px;
            right: 35px;top: 15px;z-index: 1;" (click)="addSelectedContact()" [disabled]="dataSelected.length === 0">
                Add</ion-button>
        </ion-searchbar>
        <ion-list class="chipList" *ngFor="let list of dataSelected; let i =index">
            <ion-chip outline mode="ios" style="font-size: 12px;" *ngIf="showChips">
                <ion-label>{{list.employeeName}}</ion-label>
                <ion-icon name="close" (click)="deleteChip(i, list)" style="cursor: pointer"></ion-icon>
            </ion-chip>
        </ion-list>
    </div>
    <div class="data-container" *ngIf="showDropDown">
        <p class="data-list" *ngFor="let data of filterList; let i = index" (click)="updateTextBox(data)">
            {{data.employeeName}}
        </p>
    </div>

    <ion-content style="padding: 20px;height: calc( 100% - 130px);--background: #f9f9f9;">
        <div style="padding: 30px;">
            <div class="numOfPeople">You have added {{dataList.length}} people</div>
            <ion-row class="detailsRow" *ngFor="let item of dataList; let i=index">
                <ion-col size="0.7">
                    <ion-avatar class="avatar">
                        <img src="assets/icon/picture.png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="1">
                    <ion-label style="color:#7a8589; font-size: 13px;">{{item.staffNumber}}</ion-label>
                </ion-col>
                <ion-col class="colOfLeave" size="3" style="color: #057dcd; font-size: 13px;">{{item.employeeName}}
                </ion-col>
                <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.designation}}
                </ion-col>
                <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.email}}
                </ion-col>
                <ion-col>
                    <i class="far fa-trash-alt" (click)="removeContact(i, item)"></i>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
            </ion-row>
        </div>
    </ion-content>
    <div style="padding-left: 34.5%; position: absolute; bottom: 0">
        <ion-button fill="outline" style="font-size: 12px;height: 30px;width: 90px;background: white;" color="primary">
            CANCEL
        </ion-button>
        <div style="width: 10px; display: inline-block"></div>
        <ion-button style="font-size: 12px;height: 30px;width: 178px;" color="primary"
            [disabled]="dataList.length === 0">SEND INVITATION
        </ion-button>
    </div>