<h1 mat-dialog-title style="text-align: center;color: #20291f;font-size: 14px;">Confirmation</h1>
<div mat-dialog-content style="text-align: center;color:#7a8589;font-size: 13px;">
    <p>Are you sure you want to delete <strong>{{data.name}}</strong>?</p>
</div>
<div mat-dialog-actions style="display: block; text-align: center;color:#7a8589;font-size: 13px;">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.value" cdkFocusInitial>Delete</button>
</div>