:host {
    .header-md:after{
        height: 0px;
        background-image: none;
    }
    ion-toolbar.toolbar1.hydrated{
        --min-height: 35px;
        border: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))

    }
    ion-toolbar.toolbar2.hydrated{
        --min-height: 35px;
        border: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))

    }
    ion-title.title-md.hydrated{
        --min-height: 35px;
    }
    ion-content.hydrated{
        width: 250px;
        border-right: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))
    }
    .mat-chip.mat-standard-chip{
        background-color: transparent;
        border: 1px solid #e0e0e0;
    }
    ion-item{
        cursor: pointer;
    }
    ion-label:hover{
        color: var(--ion-color-primary-shade);
    }
    ion-avatar{
        float: right;
    }
}