:host {
    .header-md:after{
        height: 0px;
        background-image: none;
    }
    .toolbar2{
        --min-height: 35px;
        border: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))

    }
    .contentMenu{
        width: 250px;
        border-right: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.13))))
    }
    .labels:hover{
        color: var(--ion-color-primary-shade);
    }
    .items{
        cursor: pointer;
        color: #7a8589;
    }
}