:host(.menuOverrideOverlay) {
  z-index: 101 !important;
}
button.mat-menu-item {
  outline: none;
}
:host {
  margin: auto;
  width: 100%;
  z-index: 0 !important;

  .search-icon {
    width: 30px;
    height: 30px;
    fill: #a3a6b4;
    opacity: 0.8;
    margin: 0 auto;
  }
  .pStyle {
    margin-bottom: 10px;
  }
  .titleRow {
    padding-bottom: 10px;
    color: #20291f;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  // .detailsRow {
  //   height: 55px;
  // }
  .content {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  // .avatar {
  //   width: 30px;
  //   height: 30px;
  //   // margin-top: -7px;
  // }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  .button-outline {
    --border-width: 1px;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  .ionCheckbox {
    --border-width: 2px;
    --border-color: #a5a4bf;
    width: 20px;
    height: 20px;
  }
  // ion-col {
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  //   align-self: center;
  // }

  // radio button
  mat-radio-button {
    top: -5.5px;
    position: relative;
  }
  ::ng-deep .mat-radio-container {
    height: 20px;
    width: 20px;
  }

  //NEW
  ion-card {
    height: calc(100% - 48px);
    margin: 0;
    top: 48px;
    box-shadow: none;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    // flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
  }
  .filter {
    flex: 1.5;
    // flex: 52%;
    // max-width: 52%;
    max-height: 100%;
    width: -webkit-fill-available;

    @media screen and (min-width: 576px) {
      min-width: 450px;
    }
  }
  .selection {
    flex: 1;
    // flex: 48%;
    // max-width: 48%;
    width: -webkit-fill-available;
    min-width: 250px;
    max-height: 100%;

    @media screen and (min-width: 576px) {
      margin-left: 10px;
    }

    @media screen and (max-width: 577px) {
      margin-top: 5px;
    }
  }
  .searchbar {
    height: 40px;
    color: #43425d;
    font-size: 12px;
    float: left;
    margin-top: 4px;

    @media screen and (min-width: 576px) {
      width: 70%;
    }

    @media screen and (max-width: 577px) {
      width: 100%;
    }
  }
  .action-form {
    height: calc(100% - 62px);
    overflow-y: auto;
    overflow-x: hidden;
    @media screen and (min-width: 576px) {
      padding-left: 15px;
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ::ng-deep .mat-radio-outer-circle {
    border-width: 2px;
    height: 20px;
    width: 20px;
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-inner-circle {
    height: 20px;
    width: 20px;
  }
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.2);
  }
  ::ng-deep .mat-radio-button .mat-radio-ripple {
    display: none;
  }
  ::ng-deep .mat-radio-label-content {
    font-size: 11px;
  }
  .employee-list-container {

    @media screen and (min-width: 576px) {
      height: calc(100% - 200px);
    }

    @media screen and (max-width: 577px) {
      height: calc(100% - 260px);
    }

  }
  .leave-application-details {
    padding-top: 5px;
    color: #808495;
    font-size:11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 30%;
    min-width: 135px;
  }
  .applicant-leave-details-content {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 577px) {
      padding-left: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
