:host(.menuOverrideOverlay) {
  z-index: 101 !important;
}
button.mat-menu-item {
  outline: none;
}
:host {
  margin: auto;
  width: 100%;
  z-index: 0 !important;

  .search-icon {
    width: 30px;
    height: 30px;
    fill: #a3a6b4;
    opacity: 0.8;
    margin: 0 auto;
  }
  .pStyle {
    margin-bottom: 10px;
  }
  .titleRow {
    padding-bottom: 10px;
    color: #20291f;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  // .detailsRow {
  //   height: 55px;
  // }
  .content {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  // .avatar {
  //   width: 30px;
  //   height: 30px;
  //   // margin-top: -7px;
  // }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  .button-outline {
    --border-width: 1px;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  // ion-col {
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  //   align-self: center;
  // }

  // radio button
  mat-radio-button {
    top: -5.5px;
    position: relative;
  }
  ::ng-deep .mat-radio-container {
    height: 20px;
    width: 20px;
  }

  //NEW
  ion-card {
    height: calc(100% - 48px);
    margin: 0;
    top: 48px;
    box-shadow: none;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
  }
  .filter {
    flex: 52%;
    max-width: 52%;
    max-height: 100%;
  }
  .selection {
    flex: 48%;
    max-width: 48%;
    max-height: 100%;
    margin-left: 10px;
  }
  .searchbar {
    width: 70%;
    height: 40px;
    color: #43425d;
    font-size: 12px;
    float: left;
    margin-top: 4px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  ::ng-deep .mat-radio-outer-circle {
    border-width: 2px;
    height: 20px;
    width: 20px;
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-inner-circle {
    height: 20px;
    width: 20px;
  }
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.2);
  }
  ::ng-deep .mat-radio-button .mat-radio-ripple {
    display: none;
  }
  ::ng-deep .mat-radio-label-content {
    font-size: 11px;
  }
}
