<ion-menu class="approval-override-history" contentId="approvalOverrideContent" side="end" type="overlay"
    menuId="approvalOverrideDetails" (ionDidClose)="overlay=false">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 17px;width: 22px;height: 17px;float:left"
            src="assets/icon/dashboard/icon All Holidays@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">
            APPROVAL OVERRIDE HISTORY
        </p>
    </ion-header>

    <ion-content>
        <div style="display: block;width: 100%;" *ngFor="let item of history">
            <div
                style="font-size: 11px;background: #f5f6fa;padding: 10px;padding-left: 15px;margin: 10px;color: #a3a6b4;font-weight: bold;">
                <ion-row style=" display: flex; flex-wrap: wrap;">
                    <ion-col size="7" style=" flex: 1; white-space: nowrap;">DATE: <p
                            style="font-size: 11px;color: #43425d;font-weight: bold;display: inline;">
                            {{item.applicationDate | date: 'dd MMM yyyy' | uppercase}}</p>
                    </ion-col>
                    <ion-col style=" flex: 1; white-space: nowrap;">DONE BY: <p
                            style="font-size: 11px;color: #43425d;font-weight: bold;display: inline;">
                            {{item.overrideBy | uppercase}}</p>
                    </ion-col>
                </ion-row>
            </div>
            <div style="margin: 20px;margin-top:10px;margin-left: 25px;">
                <ion-row style="display: flex;flex-wrap: wrap;">
                    <ion-col class="popup-content-employee">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 12px;">
                            Affected Employees</ion-label>
                        <p class="pStyle"></p>
                        <p
                            style="margin-bottom: 5px;color: #808495;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space: pre-line;margin: 0">
                            {{item.employeeName}}</p>
                    </ion-col>
                    <ion-col class="popup-content">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 12px;">
                            Leave Type</ion-label>
                        <p class="pStyle"></p>
                        <p
                            style="margin-bottom: 5px;color: #808495;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space: pre-line;margin: 0">
                            {{item.leaveTypeName}}</p>
                    </ion-col>
                    <ion-col class="popup-content">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 12px;">
                            Total Days</ion-label>
                        <p class="pStyle"></p>
                        <p
                            style="margin-bottom: 5px;margin: 0;color: #808495;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            {{item.noOfDays}}</p>
                    </ion-col>
                    <ion-col class="popup-content">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 12px;">
                            Status</ion-label>
                        <p class="pStyle"></p>
                        <p
                            style="margin-bottom: 5px;margin: 0;color: #808495;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            {{item.status | titlecase}}</p>
                    </ion-col>
                </ion-row>
                <ion-row style="display: flex;flex-wrap: wrap;">
                    <ion-col class="popup-content-employee">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 12px;">
                            Remarks</ion-label>
                        <p class="pStyle"></p>
                        <p
                            style="margin-bottom: 5px;color: #808495;font-size:12px;text-overflow: ellipsis;overflow: hidden;white-space: pre-line;margin: 0">
                            {{item.remarks}}</p>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="approvalOverrideContent">
</ion-router-outlet>

<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <div style="display: flex; width: auto;">
                <div class="left">
                    <img src="assets/icon/leave_setup/icon_override@3x.png" style="width:24px;height:32px">
                </div>
                <div class="right">
                    <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Approval
                        Override
                    </ion-card-subtitle>
                    <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                        Override leave application status for employee</ion-card-subtitle>
                </div>
            </div>
            <div style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
                <ion-button
                    style="--border-radius: 2px;font-size: 11px;height: 30px;width:193px;cursor: pointer;text-transform: none;"
                    color="primary" (click)="openMenu()">
                    View Approval Override History
                </ion-button>
            </div>
        </div>
    </ion-card-header>
    <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content style="max-height: 100%;height: 100%;overflow-y: auto;">
                <div class="row">
                    <div class="filter">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 15px;color: #a5a4bf;">
                            <ion-row>
                                <ion-col style="font-weight: bold;white-space: nowrap;
                                text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    EMPLOYEE LIST</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col style="padding-top: 0;color: #808495;padding-bottom: 0;margin-bottom: 5px;">
                                    You can override leave status for employee. Simply type their name or even by
                                    department name and change their leave application- as individual or whole
                                    department.
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-searchbar mode="md" class="searchbar"
                                    placeholder="Search by Name/Department or Company"
                                    (ionChange)="changeDetails($event.srcElement.value)">
                                </ion-searchbar>
                            </ion-row>
                        </div>
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 4px;margin-bottom: 5px;color: #a5a4bf;font-weight: bold;">
                            <ion-row nowrap>
                                <ion-col size="1.5"
                                    style="text-align: center;padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                                    <ion-checkbox mode="ios" class="ionCheckbox" style="margin-top: 6px;"
                                        [(ngModel)]="mainCheckbox" [indeterminate]="indeterminate"
                                        (click)="mainEvent()">
                                    </ion-checkbox>
                                </ion-col>
                                <ion-col size="8" align-self-center style="white-space: pre-line;
                                text-overflow: ellipsis;overflow: hidden;">
                                    EMPLOYEE & LEAVE APPLICATION DETAILS
                                </ion-col>
                                <ion-col size="1.5" align-self-center [class]="'hide-sm-down'" style="text-align: center;white-space: nowrap;
                                text-overflow: ellipsis;overflow: hidden;">
                                    DAYS
                                </ion-col>
                                <ion-col align-self-center>
                                    <ion-buttons end style="height: 26px;" [matMenuTriggerFor]="menu">
                                        <div style="width: 18px;height: 18px;fill: #a5a4bf;opacity: 0.8;cursor: pointer;"
                                            [inlineSVG]="'assets/icon/add_employee/filters.svg'">
                                        </div>
                                    </ion-buttons>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="filterStatus('APPROVED')">Approved</button>
                                        <button mat-menu-item (click)="filterStatus('REJECTED')">Rejected</button>
                                        <button mat-menu-item (click)="filterStatus('PENDING')">Pending</button>
                                    </mat-menu>
                                </ion-col>
                            </ion-row>
                        </div>
                        <div class="employee-list-container" style="overflow: auto;">
                            <ng-container *ngIf="!innerSpinner">
                                <ion-row class="detailsRow" *ngFor="let item of pendingList; let i=index">
                                    <ion-col size="1.5" align-self-center
                                        style="text-align: center;padding-right: 30px;">
                                        <ion-avatar class="avatar"
                                            *ngIf="approvalOverridePlatform.platforms().includes('tablet' || 'desktop')"
                                            (mouseover)="mouseEvent(true, i, item.isChecked)"
                                            (mouseout)="mouseEvent(false, i, item.isChecked)">
                                            <img src="assets/icon/evans.jpg" style="margin-left: 5px;"
                                                [style.display]="displayCheckbox[i] ? 'none' : 'block'">
                                            <div class="checkboxOnAvatar"
                                                [style.display]="displayCheckbox[i] ? 'block' : 'none'">
                                                <ion-checkbox mode="ios" class="ionCheckbox"
                                                    style="position: absolute;margin-top: 7px;margin-left: -4px;"
                                                    [(ngModel)]="item.isChecked" (ionChange)="subEvent()">
                                                </ion-checkbox>
                                            </div>
                                        </ion-avatar>
                                        <ion-avatar class="avatar"
                                            *ngIf="!approvalOverridePlatform.platforms().includes('tablet' || 'desktop')"
                                            (mouseover)="mouseEvent(true, i, item.isChecked)"
                                            (mouseout)="mouseEvent(false, i, item.isChecked)">
                                            <!-- <img src="assets/icon/evans.jpg" style="margin-left: 5px;"
                                                [style.display]="displayCheckbox[i] ? 'none' : 'block'"> -->
                                            <div class="checkboxOnAvatar" style="display: block;">
                                                <ion-checkbox mode="ios" class="ionCheckbox"
                                                    style="position: absolute;margin-top: 7px;margin-left: -4px;"
                                                    [(ngModel)]="item.isChecked" (ionChange)="subEvent()">
                                                </ion-checkbox>
                                            </div>
                                        </ion-avatar>
                                    </ion-col>
                                    <ion-col size="8" class="applicant-leave-details-content">
                                        <div>
                                            <ion-label
                                                style="opacity: 0.8;color:#43425d; font-weight: bold;;font-size: 12px;">
                                                {{item.employeeName}} | </ion-label>
                                            <ion-label [class]="hide-sm-up" style="font-size: 12px;">{{item.noOfDays}} day(s)</ion-label>
                                        </div>
                                        <div style="display: flex;padding-top: 5px; flex-wrap: wrap;">
                                            <!-- <div style="display: inline-block;padding-right: 20px;"> -->
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">ID:</span> {{item.staffNumber}}</p>
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">Leave Type:</span>
                                                {{item.leaveTypeAbbr}}</p>
                                            <!-- </div>
                                            <div style="display: inline-block;padding-right: 20px;"> -->
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">Status:</span> {{item.status}}</p>
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">Date Applied:</span>
                                                {{item.dateApplied | date: 'yyyy-MM-dd'}}
                                            </p>
                                            <!-- </div>
                                            <div style="display: inline-block;"> -->
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">Start Date:</span>
                                                {{item.startDate}}
                                            </p>
                                            <p class="leave-application-details">
                                                <span style="font-weight: bold;">End Date:</span> {{item.endDate}}
                                            </p>
                                            <!-- </div> -->
                                        </div>
                                    </ion-col>
                                    <ion-col size="1.5" align-self-center [class]="'hide-sm-down'" style=" color: #7a8589; font-size: 13px;text-align: center;color: #808495; font-size: 11px;white-space:
                                        nowrap;overflow: hidden;text-overflow: ellipsis;">
                                        {{item.noOfDays}}
                                    </ion-col>
                                    <ion-col></ion-col>
                                    <ion-item lines="full" style=" --min-height: none;width: 100%;"></ion-item>
                                </ion-row>
                            </ng-container>
                            <div style="width: 100%; height:100%; text-align: center; margin-top: -30px"
                                *ngIf="innerSpinner">
                                <app-spinner></app-spinner>
                            </div>
                            <div *ngIf="pendingList.length === 0 && !innerSpinner"
                                style="width: 100%; text-align:center;padding: 10px">
                                <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
                                <p style="font-size: 20px;color:#a3a6b4;opacity: 0.8;padding-top:10px ">No Results Found
                                </p>
                            </div>
                        </div>

                        <!-- <p *ngIf="filteredPendingList.length == 0 " style="color: #a3a6b4;opacity:0.8;font-size: 12px;width: 30%;
                        margin: 0 auto;padding-top: 30px;">
                            Nothing to view. Please search & select employee or department first. </p> -->
                    </div>
                    <div class="selection">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a5a4bf;">
                            <ion-row>
                                <ion-col style="font-weight: bold;white-space: nowrap;
                                text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ACTION REQUIRED</ion-col>
                            </ion-row>
                        </div>
                        <form [formGroup]="approvalForm" class="action-form">
                            <div style="margin-top: 30px; margin-bottom: 20px;">
                                <mat-radio-group formControlName="radio" required
                                    style="padding-left: 10px;white-space: nowrap;color: #7a8589;"
                                    (change)="enableDisableButton()">
                                    <mat-radio-button value="CANCELLED" style="padding-right: 15px;">Cancel
                                    </mat-radio-button>
                                    <mat-radio-button value="REJECTED" style="padding-right: 15px;">Reject
                                    </mat-radio-button>
                                    <mat-radio-button value="APPROVED" style="padding-right: 15px;">Approve
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <ion-item class="divider" lines="full"></ion-item>
                            <mat-form-field appearance="outline" style="width: 99%;margin-top: 20px;font-size: 12px;">
                                <mat-label>Reason</mat-label>
                                <textarea matInput formControlName="remark" required style="height: 100px;resize: none;"
                                    (input)="enableDisableButton()"></textarea>
                                <mat-error *ngIf="!approvalForm.remark" style="padding: 5px;padding-left: 0;">
                                    Please enter reason</mat-error>
                            </mat-form-field>
                            <div style="text-align: center;width: 100%;">
                                <ion-button fill="outline"
                                    (click)="approvalForm.reset();mainCheckbox=false;indeterminate=false; clearValue()"
                                    style="--border-radius: 2px;background: #f5f6fa;height: 30px; width: 40%;font-size: 12px;text-transform: none">
                                    Clear
                                </ion-button>
                                <ion-button
                                    style="--border-radius: 2px;height: 30px; width: 57%;font-size: 12px;text-transform: none"
                                    (click)="patchStatus();mainCheckbox=false;indeterminate=false"
                                    [disabled]="disableButton">
                                    Submit
                                </ion-button>
                            </div>
                        </form>
                    </div>
                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>