<div *ngIf="employmentPersonalList">
    <div *ngIf="!edit" style="color: #057dcd; text-align: right;padding-top: 15px;padding-bottom: 15px;"
        (click)="edit = true;">
        <i class=" far fa-edit personal"></i>
        <span style="padding-right: 10px;cursor: pointer;">Edit</span>
    </div>
    <div style="text-align: right;" *ngIf="edit">
        <ion-button fill="clear" (click)="edit = false"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="patchEmploymentData();"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            save
        </ion-button>
    </div>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>EMPLOYEE ID NO</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.employeeNumber}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="numID">
            </mat-form-field>
        </ion-col>
        <ion-col>
            <ion-label>DESIGNATION</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employeeDesignation}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="designation">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <!-- <ion-col>
            <ion-label>GRADE</ion-label>
            <p *ngIf="!edit">{{personalList.personalDetail.emailAddress}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="grade">
            </mat-form-field>
        </ion-col> -->
        <ion-col>
            <ion-label>DEPARTMENT</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employeeDepartment}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="department">
            </mat-form-field>
        </ion-col>
        <ion-col>
            <ion-label style="display: block;">REPORTING TO</ion-label>
            <ion-avatar style="width: 24px; height: 24px; display: inline-block; margin-top: 3px">
                <img src="assets/icon/picture.png">
            </ion-avatar>
            <p *ngIf="!edit" style="color: #057dcd; display: inline;position: absolute;top: 31px;left: 37px;">
                {{employmentPersonalList.employmentDetail.reportingTo}}
            </p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="reportingTo">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>WORK LOCATION</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.workLocation}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="workLocation">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-item class="divider"></ion-item>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>EMPLOYMENT TYPE</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.employmentType}}</p>
            <mat-form-field *ngIf="edit">
                <mat-select [(value)]="type" (selectionChange)="typeChanged($event)">
                    <mat-option value="Permanent">Permanent</mat-option>
                    <mat-option value="Contract">Contract</mat-option>
                    <mat-option value="Temporary">Temporary</mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
        <ion-col>
            <ion-label>EMPLOYMENT STATUS</ion-label>
            <p *ngIf="!edit">{{status}}</p>
            <mat-form-field *ngIf="edit">
                <mat-select [(value)]="status" (selectionChange)="statusChanged($event)">
                    <mat-option value="Probation">Probation</mat-option>
                    <mat-option value="Confirmed">Confirmed</mat-option>
                    <mat-option value="Terminated">Terminated</mat-option>
                </mat-select>
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>DATE OF HIRE</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.dateOfJoin}}</p>
            <form [formGroup]="dateJoinForm">
                <mat-form-field *ngIf="edit" style="width:67%">
                    <input matInput [matDatepicker]="dateOfJoin" formControlName="dateJoin" required
                        (dateChange)="dateChange()">
                    <mat-datepicker-toggle matSuffix [for]="dateOfJoin"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfJoin></mat-datepicker>
                </mat-form-field>
            </form>
        </ion-col>
        <ion-col>
            <ion-label>DATE OF CONFIRMATION</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.dateOfConfirmation}}</p>
            <form [formGroup]="dateConfirmForm">
                <mat-form-field *ngIf="edit" style="width:67%">
                    <input matInput [matDatepicker]="dateOfConfirm" formControlName="dateConfirm" required
                        (dateChange)="dateChange()">
                    <mat-datepicker-toggle matSuffix [for]="dateOfConfirm"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfConfirm></mat-datepicker>
                </mat-form-field>
            </form>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>DATE OF TERMINATION</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.dateOfResign}}</p>
            <form [formGroup]="dateResignForm">
                <mat-form-field *ngIf="edit" style="width:67%">
                    <input matInput [matDatepicker]="dateOfResign" formControlName="dateResign" required
                        (dateChange)="dateChange()">
                    <mat-datepicker-toggle matSuffix [for]="dateOfResign"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfResign></mat-datepicker>
                </mat-form-field>
            </form>
        </ion-col>
        <ion-col>
            <ion-label>YEARS OF SERVICE</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.yearOfService}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="yearService">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-item class="divider"></ion-item>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>BANK NAME</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.bankAccountName}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="accName">
            </mat-form-field>
        </ion-col>
        <ion-col>
            <ion-label>BANK ACCOUNT NO</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.bankAccountNumber}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="accNum">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>EPF NO</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.epfNumber}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="epf">
            </mat-form-field>
        </ion-col>
        <ion-col>
            <ion-label>INCOME TAX NO</ion-label>
            <p *ngIf="!edit">{{employmentPersonalList.employmentDetail.incomeTaxNumber}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="incomeTax">
            </mat-form-field>
        </ion-col>
    </ion-row>
    <ion-row class="detailsRow">
        <ion-col>
            <ion-label>COST CENTRE</ion-label>
            <p *ngIf="!edit">{{personalList.personalDetail.residentialAddress}}</p>
            <mat-form-field *ngIf="edit">
                <input matInput [(ngModel)]="branch">
            </mat-form-field>
        </ion-col>
        <ion-col>
        </ion-col>
    </ion-row>
</div>