:host {
  // margin: auto;
  // width: 100%;
  // min-height: calc(100% - 58px);
  // overflow: auto;
  height: 100%;
  max-height: 100%;
  width: calc(50% - 30px);
  display: flex;

  // header
  .objects-icon {
    float: left;
    width: 200px;
    height: 140px;
    margin-left: 4%;
    margin-top: 10px;
  }
  .pText {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #7a8589;
    width: 39%;
    margin-left: 10%;
    margin-top: 58px;
    line-height: 1.6;
    letter-spacing: 1px;
    background: #eff0f1;
    vertical-align: middle;
    height: 35%;
  }
  // flex-layout
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .column1 {
    flex: 100%;
    max-width: 33%;
    padding: 0 10px;
  }
  .column2 {
    flex: 100%;
    max-width: 33%;
    padding: 0 10px;
  }
  .column3 {
    flex: 100%;
    max-width: 33%;
    padding: 0 10px;
  }
  .column1 .leaveSetup {
    margin-top: 10px;
    vertical-align: middle;
    box-shadow: none;
    background: white;
  }
  // .column1 .reportView {
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  //   vertical-align: middle;
  //   box-shadow: none;
  //   background: white;
  // }
  .column1 .calendarView {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    box-shadow: none;
    background: white;
  }
  .column2 .leaveManagement {
    margin-top: 10px;
    vertical-align: middle;
    box-shadow: none;
    background: white;
  }
  // .column2 .calendarView {
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  //   vertical-align: middle;
  //   box-shadow: none;
  //   background: white;
  // }
  .column3 .profileManagement {
    margin-top: 10px;
    vertical-align: middle;
    box-shadow: none;
    background: white;
  }

  // content style
  .ionItem {
    color: #43425d;
    font-size: 11px;
  }
  .ionCheckbox {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    opacity: 1;
  }
  ::ng-deep .mat-select-value {
    color: #43425d;
  }
  ::ng-deep .mat-option-text {
    color: #43425d;
  }
  .cardTitle {
    font-size: 16px;
    color: #43425d;
  }

  // button
  .button-outline {
    --border-width: 1px;
  }
  // create role
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0%;
  }
  .item-interactive-disabled .sc-ion-label-md-h {
    opacity: 1 !important;
  }
  // .row {
  //   display: flex;
  //   flex-wrap: nowrap;
  //   margin: 0;
  //   max-height: 100%;
  //   height: 100%;
  // }
  .leave {
    margin-right: 10px;
  }
  .leave,
  .manage {
    flex: 49%;
    // max-width: 50%;
    max-height: 100%;
    overflow: auto;
  }
  // .manage {
  //   width: calc(26.5% - 30px);
  // }
}
