:host(.menuOverlay) {
  z-index: 101 !important;
}

:host {
  margin: auto;
  width: 100%;
  z-index: 0 !important;
  // top: 48px;
  /////////////////// calendar ////////////////////////

  .app-calendar {
    // margin: 0 auto;
    max-width: 900px;
    width: 55%;
    margin-top: 4%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }

  .calendar-icon {
    fill: #a5a4bf;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 10px;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  ::ng-deep .mat-select-arrow {
    color: #7a8589;
  }
  .dateForm {
    display: inline;
  }
  .date {
    width: 35%;
  }
  .button-outline {
    --border-width: 1px;
  }
  .item {
    --padding-start: 0;
    --padding-end: 0;
    display: inline-block;
    --min-height: 30px;
    width: 24%;
  }
  .ionCheckbox {
    width: 20px;
    height: 20px;
    --border-color: rgba(122, 102, 102, 0.12);
    margin: 0;
  }
  mat-radio-button {
    top: -5.5px;
    position: relative;
  }
  ::ng-deep .mat-radio-container {
    height: 20px;
    width: 20px;
  }
  ::ng-deep .mat-radio-outer-circle {
    border-width: 2px;
    height: 20px;
    width: 20px;
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-inner-circle {
    height: 20px;
    width: 20px;
  }
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #7069d8;
  }
  ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.2);
  }
  ::ng-deep .mat-radio-button .mat-radio-ripple {
    display: none;
  }
  .divider {
    --min-height: none;
    padding-bottom: 3%;
    width: 100%;
  }
  ::ng-deep .mat-form-field > .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
  .addIcon {
    fill: #057dcd;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding-left: 5px;
  }
  // treeview
  .dropdownList {
    position: absolute;
    margin-top: -17px;
    // margin-left: -88%;
    width: 100%;
    z-index: 2;
    height: 256px;
    overflow: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
  }
  .showSelection {
    width: 94%;
    height: auto;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 20px;
  }

  //mat-form-field
  ::ng-deep .mat-form-field-infix > input {
    cursor: pointer;
  }
  // full calendar
  ::ng-deep .fc-toolbar > * > :not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }

  // new
  ion-card {
    height: calc(100% - 48px);
    margin: 0;
    top: 48px;
    box-shadow: none;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
  }
  .filter {
    flex: 52%;
    max-width: 52%;
    max-height: 100%;
  }
  .selection {
    flex: 48%;
    max-width: 48%;
    max-height: 100%;
    margin-left: 10px;
  }
  .searchbar {
    width: 70%;
    height: 40px;
    color: #43425d;
    font-size: 12px;
    float: left;
    margin-top: 4px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  .mat-input-element:disabled {
    color: #43425d;
    opacity: 0.8;
  }
}
