:host {
  margin: auto;
  width: 100%;
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
    // padding: 0 10px;
  }
  .entitlement {
    flex: 40%;
    max-width: 40%;
    max-height: 100%;
    height: 100%;
  }
  .configuration {
    flex: 60%;
    max-width: 60%;
    margin-left: 10px;
    max-height: 100%;
    height: 100%;
  }
  .text {
    color: #4d4f5c;
    font-size: 11px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .checkboxMd {
    --background: #f0f0f7;
    --border-radius: 4px;
    --border-color: #a5a4bf;
    --checkmark-color: white;
    --background-checked: #a5a4bf;
    --border-color-checked: #a5a4bf;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #a5a4bf;
    border-radius: 4px;
  }
  ::ng-deep .mat-checkbox-inner-container {
    background: #f0f0f7;
    height: 20px;
    width: 20px;
  }
  ::ng-deep .mat-checkbox-frame {
    border-color: #a5a4bf;
    border-radius: 4px;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.12);
    background: #e8e9ec;
  }
//   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
//       padding-top: 6px;
//   }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    // padding-top: 3px;
  }
  .textColor {
    color: #3b86ff;
  }
  .oriColor {
    color: #4d4f5c;
  }
  .textHover:hover {
    color: #3b86ff;
  }
  .addIcon {
    color: #7069d8;
    font-size: 16px;
    cursor: pointer;
  }
  .imgFilter {
    filter: opacity(0.3);
    cursor: text;
  }
  .imgColor {
    filter: none;
    cursor: pointer;
  }
  .showCursor {
    cursor: pointer;
    filter: none;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
}
