<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <div class="left">
                <img src="assets/icon/leave_setup/icon_role@3x.png" style="width:28px;height:33px">
            </div>
            <div class="right">
                <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Role
                    Management
                </ion-card-subtitle>
                <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                    Some good & sweet explanation here</ion-card-subtitle>
            </div>
            <div style="right: 75px;top: 25px;position: absolute;">
                <p
                    style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
                    Edit
                    Mode: {{mode}}</p>
                <div style="display: inline-block;position: absolute;margin-top: 12px;">
                    <ion-toggle class="toggleButton" mode="ios" color="secondary" (ionChange)="toggleMode($event)">
                    </ion-toggle>
                </div>
            </div>
        </div>
    </ion-card-header>
    <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content style="max-height: 100%;height: 100%;">
                <div class="row">
                    <div class="role">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="10" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ROLE DETAILS</ion-col>
                                <ion-col align-self-center>
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null;restDay=[]; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>
                        <div style="overflow-y: auto;height: calc(100% - 62px);">
                            <ng-container>
                                <!-- *ngIf="!showAddIcon" -->
                                <ion-row *ngFor="let role of currentItems; let i=index" style="padding-left: 5px;">
                                    <ion-col size="10"
                                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                        <p class="textHover"
                                            style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-bottom: 0;"
                                            [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                            (click)="clickedCalendar(item, i)">
                                            {{role.code}}
                                        </p>
                                        <p
                                            style="font-style: italic;font-weight: 600;padding-bottom: 5px;font-size: 11px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                            {{role.description}}
                                        </p>
                                        <div
                                            style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                            Assigned Employee No.: <p
                                                style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                {{role.employee}}</p>
                                        </div>
                                    </ion-col>
                                    <ion-col align-self-center>
                                        <img src="assets/icon/leave_setup/icon_edit@3x.png"
                                            style="width: 11px;height:11px;display: inline-block;"
                                            (click)="selectProfile(list, i);showAddIcon=true"
                                            [ngClass]="{
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                                        &nbsp;&nbsp;
                                        <img src="assets/icon/leave_setup/icon_trash@3x.png"
                                            style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                            (click)="deleteCalendarProfile(profileList[i]);selectProfile(list, i)">
                                    </ion-col>
                                    <ion-item class="divider" lines="full"></ion-item>
                                </ion-row>
                            </ng-container>

                            <!-- <ng-container *ngIf="showAddIcon">
                                <section class="my-dropzone scrollable" dndDropzone dndDragoverClass="custom-drag-over"
                                    (dndDrop)="onDrop($event, list)" [dndDisableIf]="i==clickedIndex"
                                    *ngFor="let list of profileList; let i=index">
                                    <ion-row class="sectionRow">
                                        <ion-col size="10"
                                            style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-top: 0;">
                                            <mat-form-field style="font-size: 11px;width: 50%;height: 35px;" [ngClass]="{
                                                'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}">
                                                <input matInput [(ngModel)]="list.code"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (click)="clickedCalendar(list, i)">
                                            </mat-form-field>
                                            <div
                                                style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                                Assigned Employee No.: <p
                                                    style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                    {{list.employee}}</p>
                                            </div>
                                        </ion-col>
                                        <ion-col align-self-center>
                                            <img src="assets/icon/leave_setup/icon_trash@3x.png"
                                                style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                                (click)="deleteCalendarProfile(profileList[i]);selectProfile(list, i)">
                                        </ion-col>
                                    </ion-row>
                                </section>
                            </ng-container> -->
                        </div>
                    </div>
                    <div class="assigned">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="10" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ASSIGNED EMPLOYEE</ion-col>
                                <ion-col align-self-center>
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null;restDay=[]; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="leave">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="10" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    LEAVE SETUP</ion-col>
                                <ion-col align-self-center>
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null;restDay=[]; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div class="manage">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="10" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    PROFILE MANAGEMENT</ion-col>
                                <ion-col align-self-center>
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null;restDay=[]; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>

<!-- <div class="container">
    <div style="width: 100%; height:100%; text-align: center;" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div class="cardContent" *ngIf="showContent">
        <ion-card-content style="padding-top: 5px;padding-bottom: 0;">
            <div style="color: #057dcd;text-align: right;padding-top: 15px;">
                <div style="display: inline-block" (click)="assignRole()">
                    <div style="width: 16px;height: 20px;fill: #057dcd;float: left;"
                        [inlineSVG]="'assets/icon/option/user.svg'"></div>
                    <ion-label class="label" style="font-size: 14px; color: #057dcd;
                margin-top: 2px;cursor: pointer;padding-left: 10px;padding-right: 10px;"
                        (click)="showDetailPage=true;id=''">
                        Assign role</ion-label>
                </div>
            </div>
            <div style="margin-top: 2%">
                <ion-row class="titleRow">
                    <ion-col size="4">
                        <ion-label class="titleLabel">ROLE NAME</ion-label>
                        <ion-icon class="arrow" name="arrow-dropdown"
                            (click)="sortFunction(1, -1, 'code');arrowDownName=false;" *ngIf="arrowDownName">
                        </ion-icon>
                        <ion-icon class="arrow" name="arrow-dropup" *ngIf="!arrowDownName"
                            (click)="sortFunction(-1, 1, 'code');arrowDownName=true;">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="5">
                        <ion-label class="titleLabel">DESCRIPTION</ion-label>
                        <ion-icon class="arrow" name="arrow-dropdown"
                            (click)="sortFunction(1, -1, 'description');arrowDownDes=false;" *ngIf="arrowDownDes">
                        </ion-icon>
                        <ion-icon class="arrow" name="arrow-dropup" *ngIf="!arrowDownDes"
                            (click)="sortFunction(-1, 1, 'description');arrowDownDes=true;">
                        </ion-icon>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                </ion-row>
                <ion-row class="detailsRow" *ngFor="let role of currentItems">
                    <ion-col size="4">
                        <ion-label class="colOfLeave">{{role.code}}</ion-label>
                    </ion-col>
                    <ion-col size="6" class="colOfLeave">{{role.description}}
                    </ion-col>
                    <ion-col>
                        <div class="edit-pencil-icon" [inlineSVG]="'assets/icon/option/pencil.svg'"
                            (click)="getRoleId(role.role_guid)"></div>
                        <div class="trash-icon" [inlineSVG]="'assets/icon/option/trash.svg'"
                            (click)="delete(role.role_guid, role.code)"></div>
                    </ion-col>
                    <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
            </div>
        </ion-card-content>
    </div>
    <div *ngIf="showContent"
        style="padding-left: 45px;padding-right: 20px;display: inline-flex;width: 97%;min-width: 330px;">
        <ion-button [disabled]="disabledPrevButton" fill="outline" (click)="onClickPrevPage(pageIndex-1)"
            style="font-size: 12px;height: 30px;width: 90px;text-transform: capitalize" color="primary">
            <div style="width: 12px;height: 12px;fill: #057dcd;float: left;cursor: pointer;"
                [inlineSVG]="'assets/icon/option/arrow-pointing-to-left.svg'">
            </div><span style="padding-left: 5px; padding-right: 5px">Prev</span>
        </ion-button>
        <div style="padding-left: 10px"></div>
        <ion-button [disabled]="disabledNextButton"
            style="font-size: 12px;height: 30px;width: 90px;text-transform: capitalize" color="primary"
            (click)="onClickNextPage(pageIndex+1)">
            <span style="padding-right: 10px;padding-left: 5px">Next</span>
            <div style="width: 12px;height: 12px;fill: white;float: left;cursor: pointer;"
                [inlineSVG]="'assets/icon/option/arrow-pointing-to-right.svg'">
            </div>
        </ion-button>
        <div class="paginator">
            <span style="padding-right: 10px;">Page</span>
            <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
                    padding-right: 7px;">{{pageIndex}}</span>
            <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{sumPageIndex}}
            <i class="fas fa-angle-left" title="Previous page"
                style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                (click)="onClickPrevPage(pageIndex-1)"></i>
            <i class="fas fa-angle-right" title="Next page" style="cursor:pointer; font-size: 15px;padding-left: 10px"
                (click)="onClickNextPage(pageIndex+1)"></i>
        </div>
    </div>
</div> -->