<!------------------------------------------ edit role name menu ------------------------------------>
<ion-menu contentId="editRoleContent" side="end" type="overlay" menuId="editRoleDetails" (ionDidClose)="menuOpen=false">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">EDIT ROLES
        </p>
    </ion-header>

    <ion-content>
        <p style="margin-bottom: 0;margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;font-weight: bold;">
            ROLE NAME</p>
        <div style="width: 100%;">
            <mat-form-field appearance="outline"
                style="margin: 15px;height: 45px;display: block;font-size: 12px;color:#43425d;margin-top: 0;">
                <input matInput [formControl]="editRoleName">
            </mat-form-field>
        </div>
        <div style="width: 100%;">
            <mat-form-field appearance="outline" style="margin: 15px;display: block;font-size: 12px;color:#43425d;">
                <textarea matInput [formControl]="editRoleDescription" style="height: 100px;resize: none;"></textarea>
            </mat-form-field>
        </div>
        <div style="margin: 20px;text-align: center;">
            <ion-button
                style="--border-radius: 2px;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary" (click)="updateRole();showSmallSpinner=true">
                Update <ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                </ion-spinner>
            </ion-button>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="editRoleContent">
</ion-router-outlet>

<!------------------------------------------ create new role menu ------------------------------------>

<ion-menu style="--width: 304px;" contentId="createNewRoleContent" side="end" type="overlay"
    (ionDidClose)="menuOpen=false" menuId="createNewRoleDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">CREATE NEW ROLES
        </p>
    </ion-header>

    <ion-content>
        <p style="font-size: 12px;color: #808495;margin: 17px;">You can create new or copy existing profile data. All
            data will be import to their respective sections details EXCEPT Assigned Employee details.</p>
        <div style="margin-left:17px;margin-right:17px">
            <div style="display: block;white-space: nowrap;text-align: center;">
                <ion-button
                    style="--border-radius: 4px 0 0 4px;margin-right: 0;display:inline-block;font-size: 11px;height: 30px;width:130px;cursor: pointer;text-transform: none;"
                    [ngClass]="{
                    'newClicked': newButton === true , 'newUnclicked': newButton === false}"
                    (click)="cloneButton = false; newButton = true;">
                    Create New
                </ion-button>
                <ion-button
                    [ngClass]="{ 'cloneClicked' : cloneButton === true , 'cloneUnclicked' : cloneButton === false}"
                    (click)="cloneButton = true; newButton = false;"
                    style="--border-radius: 0 4px 4px 0;margin-left: 0;display:inline-block;font-size: 11px;height: 30px;width:130px;cursor: pointer;text-transform: none;">
                    Clone Existing Data
                </ion-button>
            </div>
            <div *ngIf="newButton">
                <p
                    style="margin-bottom: 0;margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;font-weight: bold;">
                    ROLE NAME</p>
                <div style="width: 100%;">
                    <mat-form-field appearance="outline"
                        style="margin: 15px;height: 45px;display: block;font-size: 12px;color:#43425d;margin-top: 0;">
                        <mat-label>New role name here</mat-label>
                        <input matInput [formControl]="newRoleName" required>
                    </mat-form-field>
                </div>
                <div style="width: 100%;">
                    <mat-form-field appearance="outline"
                        style="margin: 15px;display: block;font-size: 12px;color:#43425d;margin-bottom: 0;">
                        <mat-label>Description</mat-label>
                        <textarea matInput [formControl]="newRoleDescription" required
                            style="height: 100px;resize: none;"></textarea>
                    </mat-form-field>
                </div>
                <div style="width: 100%">
                    <ion-item lines="none" style=" font-size: 12px; opacity: 0.8; color: #43425d; display: flex;">
                        <ion-checkbox mode="ios" style="width: 16px; height: 16px;" [checked]="defaultProfileRole"
                            (ionChange)="setDefaultRoleProfile($event)">
                        </ion-checkbox>
                        <ion-label>Set as default profile</ion-label>
                    </ion-item>
                    <div *ngIf="showWarning === true" style="font-size: 11px; opacity: 0.8; color: #43425d; background: #f5f6fa;
                    padding:15px;">Warning:
                        Current default profile already existed. This process will
                        replace previous default profile</div>
                </div>

                <div style="margin: 20px;text-align: center;">
                    <ion-button
                        style="--border-radius: 2px;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                        color="primary" (click)="createNew('new');showSmallSpinner=true"
                        [disabled]="!newRoleName.valid || !newRoleDescription.valid">
                        Create <ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                        </ion-spinner>
                    </ion-button>
                </div>
            </div>
            <div *ngIf="cloneButton" style="margin: 15px;margin-top: 30px;">
                <mat-radio-group [(ngModel)]="cloneRoleId">
                    <mat-radio-button disableRipple="true" color="primary"
                        style="margin-bottom: 3px;display: block;color: #4d4f5c;font-size: 12px;font-weight: 600;"
                        *ngFor="let role of roleList" [value]="role.role_guid">
                        {{role.code}}
                    </mat-radio-button>
                </mat-radio-group>
                <div style="width: 100%">
                    <ion-item lines="none" style=" font-size: 12px; opacity: 0.8; color: #43425d; display: flex;left: -13px;">
                        <ion-checkbox mode="ios" style="width: 16px; height: 16px;" [checked]="defaultProfileRole"
                            (ionChange)="setDefaultRoleProfile($event)">
                        </ion-checkbox>
                        <ion-label>Set as default profile</ion-label>
                    </ion-item>
                    <div *ngIf="showWarning === true" style="font-size: 11px; opacity: 0.8; color: #43425d; background: #f5f6fa;
                                    padding:15px;">Warning:
                        Current default profile already existed. This procees will
                        replace previous default profile</div>
                </div>
                <div style="margin: 20px;text-align: center;">
                    <ion-button
                        style="--border-radius: 2px;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                        color="primary" (click)="createNew('clone');showSmallSpinner=true"
                        [disabled]="cloneRoleId == null">
                        Create <ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                        </ion-spinner>
                    </ion-button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="createNewRoleContent">
</ion-router-outlet>

<!------------------------------------------ role main page content -------------------------------->
<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <ion-item-group style="display: flex;">
                <div class="left" style="min-width: fit-content;">
                    <img src="assets/icon/leave_setup/icon_role_management@3x.png" style="width:35px;height:33px">
                </div>
                <div class="right">
                    <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Role
                        Management
                    </ion-card-subtitle>
                    <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                        Create the user role and the configuration based on their access level</ion-card-subtitle>
                </div>
            </ion-item-group>
            <ion-item-group style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
                <div style="right: 75px;top: 25px;">
                    <p
                        style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
                        Edit
                        Mode: {{mode}}</p>
                    <div style="display: inline-block;position: absolute;margin-top: 12px;">
                        <ion-toggle class="toggleButton" mode="ios" color="secondary" (ionChange)="toggleMode($event)">
                        </ion-toggle>
                    </div>
                </div>
            </ion-item-group>
        </div>
    </ion-card-header>
    <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content style="max-height: 100%;height: 100%;">
                <div class="row" style="flex-wrap: wrap; overflow-y: auto;">
                    <div class="role" style="flex: 1; min-width: 200px;">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="9" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ROLE DETAILS</ion-col>
                                <ion-col align-self-center style="text-align: right;">
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="mode == 'ON'"
                                        (click)="menuOpen = true;_sharedService.menu.open('createNewRoleDetails'); _sharedService.menu.enable(true, 'createNewRoleDetails'); _sharedService.menu.enable(false, 'editRoleDetails');">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </div>
                        <div style="overflow-y: auto;height: calc(100% - 62px);">
                            <ng-container *ngIf="mode == 'OFF'">
                                <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                                    <ion-col size="9"
                                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                        <p class="textHover"
                                            style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                                            [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                            (click)="selectedProfile(role, i)">
                                            {{role.code}}
                                        </p>
                                        <p
                                            style="font-style: italic;font-weight: 600;padding-bottom: 5px;font-size: 11px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                                            {{role.description}}
                                        </p>
                                        <div
                                            style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                                            Assigned Employee No.: <p
                                                style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                {{role.total_employee_attach}}</p>
                                        </div>
                                    </ion-col>
                                    <ion-col *ngIf="mode == 'OFF'" style="text-align: right;padding-right: 15px; display: flex;align-items: center;
                                        justify-content: center; ">
                                        <ion-icon name="star" style="opacity: 0.8; width: 16px; height: 16px;
                                                color: #babdc7;margin-right: 5px;" *ngIf="role.isDefault">
                                        </ion-icon>
                                    </ion-col>
                                    <ion-col align-self-center *ngIf="mode == 'ON'" style="text-align: right;padding-right: 15px; display: flex; flex-flow: row
                                        wrap; align-items: center;">
                                        <ion-icon name="star"
                                            [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }"
                                            style="opacity: 0.8; width: 14px; height: 14px;
                                                color: #babdc7;margin-right: 5px;" *ngIf="role.isDefault"
                                            (click)="changeDefaultRoleProfile(true, role)">
                                        </ion-icon>
                                        <ion-icon name="star-outline"
                                            [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }"
                                            style="opacity: 0.8; width: 16px; height: 16px; margin-right: 4px;
                                                color: #babdc7;" *ngIf="!role.isDefault"
                                            (click)="changeDefaultRoleProfile(false, role)">
                                        </ion-icon>
                                        <img src="assets/icon/leave_setup/icon_edit@3x.png"
                                            style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                            (click)="menuOpen = true;selectedProfile(role, i);editRoleName.patchValue(role.code);editRoleDescription.patchValue(role.description);_sharedService.menu.enable(true, 'editRoleDetails'); _sharedService.menu.open('editRoleDetails'); _sharedService.menu.enable(false, 'createNewRoleDetails');"
                                            [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                                        &nbsp;&nbsp;
                                        <img src="assets/icon/leave_setup/icon_trash@3x.png"
                                            style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                            (click)="delete(role.role_guid, role.code)">
                                    </ion-col>
                                    <ion-item class="divider" lines="full"></ion-item>
                                </ion-row>
                            </ng-container>

                            <ng-container *ngIf="mode == 'ON'">
                                <section class="my-dropzone scrollable" dndDropzone dndDragoverClass="custom-drag-over"
                                    (dndDrop)="onDropped($event, role)" [dndDisableIf]="i==clickedIndex"
                                    *ngFor="let role of roleList; let i=index">
                                    <ion-row class="sectionRow">
                                        <ion-col size="9"
                                            style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                            <p class="textHover"
                                                style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                                                [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                                (click)="selectedProfile(role, i)">
                                                {{role.code}}
                                            </p>
                                            <p
                                                style="font-style: italic;font-weight: 600;padding-bottom: 5px;font-size: 11px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                                                {{role.description}}
                                            </p>
                                            <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow:
                                                hidden;white-space: pre-line;text-overflow: ellipsis;">
                                                Assigned Employee No.: <p
                                                    style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                    {{role.total_employee_attach}}</p>
                                            </div>
                                        </ion-col>
                                        <ion-col align-self-center *ngIf="mode == 'ON'"
                                            style="text-align: right;padding-right: 15px;display: flex; flex-flow: row wrap; align-items: center;">
                                            <ion-icon name="star"
                                                [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }"
                                                style="opacity: 0.8; width: 14px; height: 14px;
                                                color: #babdc7;margin-right: 5px;" *ngIf="role.isDefault"
                                                (click)="changeDefaultRoleProfile(true, role)">
                                            </ion-icon>
                                            <ion-icon name="star-outline"
                                                [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }"
                                                style="opacity: 0.8; width: 16px; height: 16px; margin-right: 4px;
                                                color: #babdc7;" *ngIf="!role.isDefault"
                                                (click)="changeDefaultRoleProfile(false, role)">
                                            </ion-icon>
                                            <img src="assets/icon/leave_setup/icon_edit@3x.png"
                                                style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                                (click)="menuOpen = true;selectedProfile(role, i);editRoleName.patchValue(role.code);editRoleDescription.patchValue(role.description);_sharedService.menu.enable(true, 'editRoleDetails'); _sharedService.menu.open('editRoleDetails'); _sharedService.menu.enable(false, 'createNewRoleDetails');"
                                                [ngClass]="{
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                                            &nbsp;&nbsp;
                                            <img src="assets/icon/leave_setup/icon_trash@3x.png"
                                                style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                                (click)="delete(role.role_guid, role.code)">
                                        </ion-col>
                                    </ion-row>
                                </section>
                            </ng-container>
                        </div>
                    </div>
                    <div class="assigned" style="flex: 1; min-width: 230px;">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row style="flex-flow: nowrap">
                                <ion-col *ngIf="mode == 'ON'"
                                    style="max-width: 28px;align-self: center; min-width: fit-content; display: flex;">
                                    <ion-checkbox mode="ios"
                                        style="width: 16px; height: 16px; margin-top: 1px;  margin-right: 5px;"
                                        *ngIf="mode == 'ON'" [(ngModel)]="roleListCheckAll"
                                        [indeterminate]="roleListIsIndeterminate"
                                        (click)="checkAllRoleListAssignedEmployees()">
                                    </ion-checkbox>
                                    <div *ngIf="roleListIsIndeterminate || roleListCheckAll">
                                        <ion-icon name="more"
                                            style="width: 18px; height: 18px; color: #7069d8; font-size: 16px; cursor: pointer;"
                                            mat-button [matMenuTriggerFor]="menu">
                                        </ion-icon>
                                        <mat-menu #menu="matMenu">
                                            <ion-label style=" background: #f5f6fa;white-space: pre-line;text-overflow:
                                                ellipsis;color: #4d4f5c;font-size:11px; padding: 15px;display: flex;">
                                                Move selected to: </ion-label>
                                            <ion-list>
                                                <div mat-menu-item
                                                    style="white-space: pre-line;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;"
                                                    *ngFor="let list of roleList; let i=index"
                                                    (click)="reassignToOtherRoles(list)">{{list.code}}
                                                </div>
                                            </ion-list>
                                        </mat-menu>
                                    </div>
                                </ion-col>
                                <ion-col style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ASSIGNED EMPLOYEE</ion-col>
                                <!-- <ion-col
                                    style="max-width: 10px;padding-left: 0px;padding-right: 15px; padding-bottom: 0px; padding-top: 3px;"
                                    *ngIf="roleListIsIndeterminate || roleListCheckAll">
                                    <ion-icon name="more" style="width: 18px; height: 18px; color: #7069d8; font-size: 16px; cursor: pointer;"
                                        mat-button [matMenuTriggerFor]="menu">
                                    </ion-icon>
                                    <mat-menu #menu="matMenu">
                                        <ion-label style=" background: #f5f6fa;white-space: pre-line;text-overflow:
                                            ellipsis;color: #4d4f5c;font-size:11px; padding: 15px;display: flex;">
                                            Move selected to: </ion-label>
                                        <ion-list>
                                            <div mat-menu-item
                                                style="white-space: pre-line;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;"
                                                *ngFor="let list of roleList; let i=index"
                                                (click)="reassignToOtherRoles(list)">{{list.code}}
                                            </div>
                                        </ion-list>
                                    </mat-menu>
                                </ion-col> -->
                            </ion-row>
                        </div>
                        <div style="overflow-y: auto;height: calc(100% - 62px);" *ngIf="mode == 'OFF'">
                            <ion-row *ngFor="let item of assignedNameList; let i =index"
                                style="width: 100%;padding-left: 10px;">
                                <ion-col align-self-center size="9" style="padding-top: 0;padding-bottom: 0;">
                                    <p style="overflow: hidden;white-space: pre-line;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;padding-top: 13px;
                                        padding-bottom: 13px;">
                                        {{item.fullname}}</p>
                                </ion-col>
                                <ion-item class="divider" lines="full">
                                </ion-item>
                            </ion-row>
                        </div>
                        <div style="overflow-y: auto;height: calc(100% - 62px);" *ngIf="mode == 'ON'">
                            <mat-card *ngFor="let draggable of assignedNameList" [dndDraggable]="draggable.content"
                                [dndEffectAllowed]="draggable.effectAllowed" [dndDisableIf]="draggable.disable"
                                style="margin: 5px;border-radius: 3px;box-shadow: 0 3px 6px 0 rgba(77, 77, 77, 0.16);">
                                <div style="float: left;padding-right: 15px;cursor: move; display: flex;">
                                    <ion-checkbox mode="ios" style="height: 16px; width: 16px; margin-right: 10px;"
                                        [(ngModel)]="draggable.isChecked"
                                        (ionChange)="checkRoleListAssignedEmployeeEvent()">
                                    </ion-checkbox>
                                    <img src="assets/icon/leave_setup/icon_reorder@3x.png"
                                        style="width: 16px;height: 16px;" *ngIf="draggable.handle" dndHandle>
                                </div>
                                <p [hidden]="!draggable.handle" style="color: #4d4f5c;font-size:11px;display: flex;">
                                    {{draggable.content}}</p>
                            </mat-card>
                        </div>
                    </div>
                    <app-role-rights style="flex: 2 1 450px; flex-wrap: wrap;" [leaveSetup]=true [roleID]="roleIdOutput"
                        [editMode]="mode">
                    </app-role-rights>
                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>