:host {
  // margin: auto;
  // width: 100%;
  // height: calc(100% - 58px);
  margin: auto;
  width: 100%;
  top: 48px;

  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  ion-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container {
    background: white;
    min-height: 100%;
    width: 95%;
    margin: auto;
    height: 100%;
  }
  // .cardContent {
  //   overflow: auto;
  //   --offset-top: 0px;
  //   --offset-bottom: 0px;
  //   min-height: calc(100% - 38px);
  //   height: calc(100% - 130px);
  // }
  .paginator {
    color: #7a8589;
    font-size: 12px;
    margin-top: 11px;
    margin-right: 25px;
    text-align: right;
    width: 95%;
    white-space: nowrap;
    margin: auto;
  }
  .titleLabel {
    color: #20291f;
    font-weight: 500;
    font-size: 12px;
  }
  .titleRow {
    padding-left: 2%;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
  }
  .colOfLeave {
    color: #7a8589;
    font-size: 13px;
  }
  .button-round {
    --padding-start: 18px;
    --padding-end: 18px;
  }
  .button-outline {
    --border-width: 1px;
  }
  .arrow {
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
  }
  .edit-pencil-icon {
    width: 12px;
    height: 12px;
    fill: #bebebe;
    cursor: pointer;
    position: absolute;
  }
  .edit-pencil-icon:hover {
    width: 12px;
    height: 12px;
    fill: #057dcd;
    cursor: pointer;
    position: absolute;
  }
  .trash-icon {
    width: 12px;
    height: 12px;
    fill: #bebebe;
    float: right;
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
  }
  .trash-icon:hover {
    width: 12px;
    height: 12px;
    fill: #f04141;
    float: right;
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
  }

  // new
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .toggleButton {
    zoom: 0.7;
    transform: scale(0.8);
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
  }
  .role {
    flex: 28%;
    max-width: 28%;
    max-height: 100%;
  }
  .assigned {
    flex: 22%;
    max-width: 22%;
    max-height: 100%;
  }
  .assigned {
    margin-right: 10px;
    margin-left: 10px;
  }
  .leave {
    margin-right: 10px;
  }
  .leave,
  .manage {
    flex: 23.5%;
    max-width: 23.5%;
    max-height: 100%;
  }
  .textColor {
    color: #3b86ff;
  }
  .oriColor {
    color: #4d4f5c;
  }
  .textHover:hover {
    color: #3b86ff;
  }
  .addIcon {
    color: #7069d8;
    font-size: 16px;
    cursor: pointer;
  }
}
