:host{
    .fullContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .subtitle{
        display: inline;
    }
    .fa-circle{
        font-size: 5px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .fa-map-marker-alt{
        padding-right: 10px;
    }
    .mainDivider{
        --min-height: none;
    }
    .divider{
        --min-height: none;
        padding-top: 1%;
        padding-bottom: 1%; 
    }
    ion-card{
        height: 100%;
        margin: 0;
    }
    .cardContent{
        background-color: #f9fafc; 
        overflow: auto; 
        height: calc( 100% - 133px)
    }
    .detailsRow{
        padding-left: 10%;
        padding-top: 5px;
    }
    ion-label{
        color:#20291f;
        font-weight: 500;
    }
    ion-badge{
        position: absolute;
        top: 26px;
        left: 115px;
        border-radius: 50%
    }
    .crossIcon{
        cursor: pointer;
        float: right;
    }
    .header{
        padding: 10px; 
        background-color: #057dcd; 
        color: white;
        padding-left: 50px;
        display: inline-block;
        width: 100%;
    }
    .right{
        padding-top: 1%;
    }
    .avatar{
        width: 100px; 
        height: 100px; 
        margin-left: 20px; 
        margin-right: 30px;
    }
}