<div class="header" *ngIf="showHeader">
    Your profile completeness is {{progressPercentage}}%
    <ion-progress-bar [value]="progressPercentage/100" color="success"
        style="display:inline-block; width:10%; margin-left: 3%"></ion-progress-bar>
    <ion-icon class="crossIcon" name="close" (click)="clickToHideHeader()"></ion-icon>
</div>
<ion-card>
    <ion-card-header>
        <div style="right: 25px; position: absolute;" (click)="editProfileData()">
            <i style="color: #057dcd; padding-right: 10px;cursor: pointer;" class="far fa-edit"></i>
            <p style="color: #057dcd; display: inline;cursor: pointer;">Edit Profile</p>
        </div>
        <div class="fullContainer">

            <div class="left">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                </ion-avatar>
                <ion-badge style="background-color: white;border: 1px solid#bebebe;">
                    <i style="color: #bebebe; padding-top: 1px;" class="far fa-image"></i>
                </ion-badge>
            </div>
            <div class="right" *ngIf="personalList">
                <ion-card-title>{{personalList.employeeName}}</ion-card-title>
                <div style="display:inline-block; padding-top: 10px;">
                    <ion-card-subtitle class="subtitle">
                        {{personalList.employeeDesignation}}</ion-card-subtitle>
                    <i class="fas fa-circle"></i>
                    <ion-card-subtitle class="subtitle">{{personalList.employeeDepartment}}
                    </ion-card-subtitle>
                </div>
                <div style="padding-top: 10px;">
                    <i class="fas fa-map-marker-alt"></i>
                    <ion-card-subtitle class="subtitle">{{personalList.employeeLocation}}
                    </ion-card-subtitle>
                </div>
            </div>
        </div>
    </ion-card-header>
    <ion-item lines="full" class="mainDivider"></ion-item>
    <div class="cardContent" *ngIf="personalList">
        <ion-card-content>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>BIRTHDATE</ion-label>
                    <p>{{personalList.personalDetail.dob}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>GENDER</ion-label>
                    <p>{{personalList.personalDetail.gender}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>MARITAL STATUS</ion-label>
                    <p>{{personalList.personalDetail.maritalStatus}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>RACE</ion-label>
                    <p>{{personalList.personalDetail.race}}</p>

                </ion-col>
                <ion-col>
                    <ion-label>RELIGION</ion-label>
                    <p>{{personalList.personalDetail.religion}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>NATIONALITY</ion-label>
                    <p>{{personalList.personalDetail.nationality}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>PERSONAL PHONE NUMBER</ion-label>
                    <p>{{personalList.personalDetail.phoneNumber}}</p>

                </ion-col>
                <ion-col>
                    <ion-label>WORK PHONE NUMBER</ion-label>
                    <p>{{personalList.personalDetail.workPhoneNumber}}</p>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>PERSONAL EMAIL ADDRESS</ion-label>
                    <p>{{personalList.personalDetail.emailAddress}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>WORK EMAIL ADDRESS</ion-label>
                    <p>{{personalList.personalDetail.workEmailAddress}}</p>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-item class="divider"></ion-item>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>RESIDENTIAL ADDRESS</ion-label>
                    <p>{{personalList.personalDetail.residentialAddress}}</p>
                </ion-col>
            </ion-row>
            <ion-item class="divider"></ion-item>
            <ion-label style="display: block; padding-left: 10.6%;padding-top: 5px;">EMERGENCY CONTACT(S)</ion-label>
            <ion-row class="detailsRow" *ngFor="let item of removeList; let i = index">
                <ion-col>
                    <p style="display: inline; padding-right: 30%;">
                        {{item.contactName}}</p>
                    <p style="display: inline;">
                        {{item.contactNumber}}</p>
                    <i style="padding-left: 8%;cursor: pointer;" class="fas fa-pencil-alt"></i>
                    <i style="padding-left: 1%;cursor: pointer;" class="far fa-trash-alt"
                        (click)="removeContact(i)"></i>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>

</ion-card>