<div style="width: 100%; height:100%; text-align: center;" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="advertiseTop" *ngIf="showContainer">
    <div class="objects-icon" [inlineSVG]="'assets/icon/user_profile/policy.svg'"></div>
    <p class="pText">Manage tenant leave policy to ensure general information as year end closing and forfeit leave date
        is created in application </p>
</div>
<div class="container" *ngIf="showContainer">
    <form [formGroup]="policyForm">
        <div class="content">
            <!-- company tenant list -->
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                COMPANY LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 400px;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select company tenant</mat-label>
                <mat-select formControlName="company" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of list" [value]=company.TENANT_COMPANY_GUID>{{company.NAME}}
                    </mat-option>
                </mat-select>
                <mat-error>Company tenant is <strong>required</strong></mat-error>
            </mat-form-field>
            <ion-item class="divider" lines="full"></ion-item>

            <!-- Anyone, Everyone, Superior -->
            <span class="example-radio-group-label" style="padding-left: 20px;display: block;padding-top: 15px">
                Employee can go leave, if:</span>
            <mat-radio-group class="example-radio-group" [value]="radioValue">
                <mat-radio-button class="example-radio-button" value="Anyone" style="display:inline-block"
                    (change)="showEscalateDay = false;radioValue = $event.value">
                    Anyone in hierarchy approves limit to
                </mat-radio-button>
                <mat-form-field appearance="outline"
                    style="font-size: 13px;width: 80px;color:#7a8589;padding-left: 5px;">
                    <input matInput formControlName="anyoneLevel" required><span matSuffix>level</span>
                </mat-form-field>
                <div style="display: block"></div>
                <mat-radio-button class="example-radio-button" value="Everyone"
                    (change)="showEscalateDay = true;radioValue = $event.value" style="display:inline-block">
                    Everyone in hierarchy approves limit to
                </mat-radio-button>
                <mat-form-field appearance="outline"
                    style="font-size: 13px;width: 80px;color:#7a8589;padding-left: 5px;">
                    <input matInput formControlName="everyoneLevel" required><span matSuffix>level</span>
                </mat-form-field>
                <mat-form-field style="font-size: 13px;width: 175px;color:#7a8589;padding-left: 53px;display:block"
                    *ngIf="showEscalateDay || radioValue === 'Everyone'">
                    <mat-label>Escalate after</mat-label>
                    <input matInput formControlName="escalateAfterDays" required><span matSuffix>days</span>
                </mat-form-field>
                <mat-radio-button class="example-radio-button" value="Superior"
                    (change)="showEscalateDay = false;radioValue = $event.value">
                    Superior approves
                </mat-radio-button>
            </mat-radio-group>
            <ion-item class="divider" lines="full"></ion-item>

            <!-- CF leaves -->
            <ion-list lines="none">
                <ion-item class="ionItem">
                    <ion-label>Forfeit carried forward leaves on:</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" (click)="CF = !CF" [(ngModel)]="CF"
                        [checked]="CF" (ionChange)="checkEventCF($event)">
                    </ion-checkbox>
                </ion-item>
            </ion-list>
            <mat-form-field appearance="outline" style="font-size: 13px;width: 180px;color:#7a8589;padding-left: 50px;">
                <mat-label>Month</mat-label>
                <mat-select formControlName="CFMonth" (selectionChange)="monthChanged('monthCF')">
                    <mat-option>None</mat-option>
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="Jun">Jun</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="font-size: 13px;width: 154px;color:#7a8589;padding-left: 24px;">
                <mat-label>Day</mat-label>
                <mat-select formControlName="CFDay">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let day of daysOfCF" [value]=day>{{day}}</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;
            <span style="font-size: 13px;color:#7a8589">next year</span>
            <ion-item class="divider" lines="full"></ion-item>
            <!-- Year end closing -->
            <ion-list lines="none">
                <ion-item class="ionItem">
                    <ion-label>Allow year end closing after:</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [(ngModel)]="yearEnd" [checked]="yearEnd"
                        (click)="yearEnd = !yearEnd" (ionChange)="checkEventYr($event)">
                    </ion-checkbox>
                </ion-item>
            </ion-list>
            <mat-form-field appearance="outline" style="font-size: 13px;width: 180px;color:#7a8589;padding-left: 50px;">
                <mat-label>Month</mat-label>
                <mat-select formControlName="YEMonth" (selectionChange)="monthChanged('monthYE')">
                    <mat-option>None</mat-option>
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="Jun">Jun</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="font-size: 13px;width: 154px;color:#7a8589;padding-left: 24px;">
                <mat-label>Day</mat-label>
                <mat-select formControlName="YEDay">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let day of daysOfYE" [value]=day>{{day}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="font-size: 13px;width: 154px;color:#7a8589;padding-left: 24px;">
                <mat-label>Year</mat-label>
                <mat-select formControlName="YEChoice" (selectionChange)="yearChanged($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option value="This year">This year</mat-option>
                    <mat-option value="Next year">Next year</mat-option>
                </mat-select>
            </mat-form-field>
            <ion-item class="divider" lines="full"></ion-item>

            <!-- Apply on behalf -->
            <ion-list lines="none">
                <ion-item class="ionItem">
                    <ion-label>Apply on behalf feature requires employee to confirm the application</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [(ngModel)]="onBehalf"
                        [checked]="onBehalf" (click)="onBehalf = !onBehalf">
                    </ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-item class="divider" lines="full"></ion-item>

            <!-- Email reminder -->
            <ion-list lines="none">
                <ion-item class="ionItem">
                    <ion-label>Email reminder</ion-label>
                    <ion-checkbox class="ionCheckbox" slot="start" mode="ios" [(ngModel)]="email" [checked]="email"
                        (click)="email = !email">
                    </ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-item class="divider" lines="full"></ion-item>
        </div>
        <div style="text-align: center;padding: 20px;">
            <ion-button fill="outline" style="font-size: 12px;height: 30px;width: 90px;background: white;"
                color="primary"
                (click)="policyForm.reset();CF = false;yearEnd = false;onBehalf = false;email = false;radioValue=null;">
                CLEAR
            </ion-button>
            <div style="width: 10px; display: inline-block"></div>
            <ion-button *ngIf="!showEditPolicy" style="font-size: 12px;height: 30px;width: 150px;margin-right: 5px;"
                color="primary" (click)="createPolicy()">
                CREATE POLICY
            </ion-button>
            <ion-button *ngIf="showEditPolicy" style="font-size: 12px;height: 30px;width: 150px;margin-right: 5px;"
                color="primary" (click)="savePolicy()">
                SAVE POLICY
            </ion-button>
            <div style="display: inline-block;margin-top: 8px;vertical-align: middle;" *ngIf="showSmallSpinner">
                <ion-spinner name="lines-small" color="primary"></ion-spinner>
            </div>
        </div>
    </form>
</div>