<ion-header>
    <ion-toolbar class="toolbar2">
        <div class="back-icon" [inlineSVG]="'assets/icon/option/arrow-pointing-to-left.svg'" (click)="toMyProfile()">
        </div>
        <ion-title style="display: inline-block;color: #20291f;font-size: 16px;" *ngIf="personalList">
            {{personalList.employeeName}}'s Profile
        </ion-title>
        <!-- <div style="float: right; padding-right: 20px;">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
        </div> -->
    </ion-toolbar>
</ion-header>

<ion-card class="leftCard">
    <ion-card-content>
        <mat-tab-group>
            <mat-tab label="Personal">
                <app-personal></app-personal>
            </mat-tab>
            <mat-tab label="Employment">
                <app-employment></app-employment>
            </mat-tab>
            <mat-tab label="Leave entitlement">
                <!-- content leave entitlement -->
            </mat-tab>
        </mat-tab-group>

    </ion-card-content>
</ion-card>

<mat-card class="rightCard" *ngIf="personalList">
    <i class="fas fa-star" (click)="clickAsFavourite()" [style.color]="numOfArray ? '#ffbb00' : '#dfe3e6'"></i>
    <ion-avatar style="margin: 0 auto;">
        <img src="assets/icon/chris.jpg">
    </ion-avatar>
    <mat-card-header *ngIf="employmentPersonalList">
        <mat-card-subtitle style="color: #057dcd;white-space: nowrap; font-size: 24px;letter-spacing: 0.3px;">
            {{personalList.employeeName}}
        </mat-card-subtitle>
        <mat-card-subtitle
            style="white-space: nowrap;font-size: 12px;font-weight: 500;color: #20291f;letter-spacing: 0.6px;">
            {{personalList.employeeDesignation | uppercase}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="employmentPersonalList" style="white-space: nowrap;font-size: 12px;color: #7a8589;">
            {{employmentPersonalList.employmentDetail.employmentStatus}}
        </mat-card-subtitle>
        <mat-card-subtitle style="white-space: nowrap;color: #7a8589;padding-top: 12px;">
            <div class="mail-icon" [inlineSVG]="'assets/icon/user_profile/mail.svg'"></div>
            <span style="padding-left: 10px;">{{personalList.personalDetail.emailAddress}}</span>
        </mat-card-subtitle>
        <mat-card-subtitle style="white-space: nowrap; color:#7a8589;padding-top: 5px;">
            <div class="marker-icon" [inlineSVG]="'assets/icon/user_profile/pin.svg'"></div>
            <span style="padding-left:8px"> {{employmentPersonalList.employmentDetail.workLocation}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <!-- <div class="footer">
        <ion-button class="footerButton" shape="round" fill="outline">
            <div class="message-icon" [inlineSVG]="'assets/icon/option/message.svg'"></div>
            <span style="padding-left: 5px">Send a message</span>
        </ion-button>
    </div> -->
</mat-card>