<ion-header>
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f;font-size: 16px;">
            Invites
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <i class="material-icons" style="padding-right: 5px; color: #057dcd; cursor: pointer;">add</i>
            <i class="material-icons"
                style="padding-left: 10px; color: #7a8589; float: right;cursor: pointer">more_horiz</i>
            <ion-label class="label" style="font-size: 14px; color: #057dcd;float: right;
            margin-top: 5px;padding-right: 10px;cursor: pointer"
                (click)="router.navigate(['/main/employee-directory/invite-more']);">
                Invite more</ion-label>
        </div>
    </ion-toolbar>
</ion-header>
<router-outlet></router-outlet>