:host {
  /////////////////// calendar ////////////////////////

  .app-calendar {
    // margin: 0 auto;
    max-width: 900px;
    width: 55%;
    margin-top: 4%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }
  .selection {
    padding-left: 3%;
    margin-top: 4%;
    float: right;
    width: 45%;
  }
  .calendar-icon {
    fill: #bebebe;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 10px;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  ::ng-deep .mat-select-arrow {
    color: #7a8589;
  }
  .dateForm {
    display: inline;
  }
  .date {
    width: 35%;
  }
  .button-outline {
    --border-width: 1px;
  }
  .item {
    --padding-start: 0;
    --padding-end: 0;
    display: inline-block;
    --min-height: 30px;
    width: 24%;
  }
  .ionCheckbox {
    width: 20px;
    height: 20px;
    --border-color: rgba(122, 102, 102, 0.12);
    margin: 0;
  }
  mat-radio-button {
    top: -5.5px;
    position: relative;
  }
  ::ng-deep .mat-radio-container {
    height: 16px;
    width: 16px;
  }
  ::ng-deep .mat-radio-outer-circle {
    border-width: 1px;
    height: 16px;
    width: 16px;
  }
  ::ng-deep .mat-radio-inner-circle {
    height: 16px;
    width: 16px;
  }
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #057dcd;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #057dcd;
  }
  ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.2);
  }
  ::ng-deep .mat-radio-button .mat-radio-ripple {
    display: none;
  }
  .divider {
    --min-height: none;
    padding-bottom: 5%;
    width: 100%;
  }
  ::ng-deep .mat-form-field > .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
  .addIcon {
    display: block;
    color: #057dcd;
    font-size: 22px;
    cursor: pointer;
  }
  // treeview
  .dropdownList {
    position: absolute;
    margin-top: -17px;
    margin-left: -88%;
    width: 215%;
    z-index: 2;
    height: 256px;
    overflow: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
  }
}
