<div class='app-calendar'>
    <full-calendar #calendar defaultView="dayGridMonth" selectable="true" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek'
                        }" [plugins]="calendarPlugins" [events]="calendarEvents">
    </full-calendar>
</div>
<div class="selection">
    <form #radioForm="ngForm" style="padding-bottom: 2%;">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="radioOption" name="radio" required>
            <mat-radio-button value="1" [checked]="radioOption == '1'">Apply for one</mat-radio-button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="2">Apply for group</mat-radio-button>
        </mat-radio-group>
    </form>

    <form [formGroup]="applyLeaveForm">
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="radioOption == '1'">
                <mat-label>Company list</mat-label>
                <mat-select class="selectLeave" formControlName="company" required>
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let list of companyList; let i=index" [value]="list.TENANT_COMPANY_GUID"
                        (click)="selectedCompany(list.TENANT_COMPANY_GUID)">
                        {{list.NAME}}</mat-option>
                </mat-select>
                <mat-error *ngIf="!applyLeaveForm.company" style="padding: 5px;padding-left: 0;">
                    Please select one company</mat-error>
            </mat-form-field>
            <span *ngIf="radioOption == '1'">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="radioOption == '1'">
                <mat-label>Employee list</mat-label>
                <mat-select formControlName="userControl" required>
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup *ngFor="let department of departmentlist" [label]="department.item">
                        <mat-option *ngFor=" let name of department.children" [value]="name.item"
                            (click)="getSelectedEmployee(name.item)">
                            {{name.item}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="!applyLeaveForm.userControl" style="padding: 5px;padding-left: 0;">
                    Please select one employee</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 97%;cursor: pointer;" *ngIf="radioOption == '2'"
                (click)="showTreeDropdown = true;applyLeaveForm.controls.leaveTypes.enable();">
                <mat-label>Employee list</mat-label>
                <input matInput class="dropdownDiv" readonly required>
                <mat-icon matSuffix class="iconDropdown"><i class="material-icons">arrow_drop_down</i></mat-icon>
                <mat-error>Please select at least one option</mat-error>
                <div class="dropdownList" *ngIf="showTreeDropdown" (clickOutside)="clickOutside($event)">
                    <mat-tree style="z-index: 2;position: absolute;width: 100%;" [dataSource]="tree.dataSource"
                        [treeControl]="tree.treeControl">
                        <!-- inner checkbox -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <mat-checkbox class="checklist-leaf-node"
                                [checked]="tree.checklistSelection.isSelected(node)"
                                (change)="tree.todoLeafItemSelectionToggle(node)" color="primary">{{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>

                        <!-- main checkbox -->
                        <mat-tree-node *matTreeNodeDef="let node; when: tree.hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{tree.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <mat-checkbox [checked]="tree.descendantsAllSelected(node)"
                                [indeterminate]="tree.descendantsPartiallySelected(node)"
                                (change)="tree.todoItemSelectionToggle(node)" color="primary">
                                {{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </mat-form-field>
            <div class="showSelection" *ngIf="showSelectedTree && radioOption == '2'">
                <mat-tree [dataSource]="tree.dataSource" [treeControl]="tree.treeControl">
                    <!-- inner checkbox -->
                    <mat-tree-node [style.display]="tree.checklistSelection.isSelected(node) ? 'block' : 'none'"
                        *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                        <button mat-icon-button disabled></button>
                        <mat-checkbox class="checklist-leaf-node" [checked]="tree.checklistSelection.isSelected(node)"
                            (change)="tree.todoLeafItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>

                    <!-- main checkbox -->
                    <mat-tree-node
                        [style.display]="(tree.descendantsAllSelected(node) || tree.descendantsPartiallySelected(node)) ? 'block' : 'none'"
                        *matTreeNodeDef="let node; when: tree.hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{tree.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-checkbox [checked]="tree.descendantsAllSelected(node)"
                            [indeterminate]="tree.descendantsPartiallySelected(node)"
                            (change)="tree.todoItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" [style.width.%]="radioOption == '1' ? 70 : 97">
                <mat-label>Leave types</mat-label>
                <mat-select class="selectLeave" *ngIf="radioOption == '1'" name="leave" formControlName="leaveTypes"
                    required>
                    <mat-option *ngFor="let leave of entitlement; let i=index" [value]="leave.leaveTypeName"
                        (click)="daysAvailable = leave.balanceDays;leaveTypeId = leave.leaveTypeId; applyLeaveForm.controls.firstPicker.enable();applyLeaveForm.controls.secondPicker.enable();">
                        {{leave.leaveTypeName}}</mat-option>
                </mat-select>
                <mat-select class="selectLeave" *ngIf="radioOption == '2'" name="leave" formControlName="leaveTypes"
                    required>
                    <mat-option *ngFor="let leave of leaveTypes; let i=index" [value]="leave.CODE"
                        (click)="leaveTypeId = leave.LEAVE_TYPE_GUID;applyLeaveForm.controls.firstPicker.enable();applyLeaveForm.controls.secondPicker.enable();">
                        {{leave.CODE}}</mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner && radioOption == '1'" color="primary" style="position: absolute;
                margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error *ngIf="!applyLeaveForm.leaveTypes" style="padding: 5px;padding-left: 0;">
                    Please select one leave type</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field style="width: 24%" appearance="outline" *ngIf="radioOption === '1'">
                <mat-label>Days available</mat-label>
                <input matInput [(value)]="daysAvailable" disabled>
            </mat-form-field>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field class="date" appearance="outline">
                <mat-label>Start date</mat-label>
                <input class="dateInput" matInput [matDatepicker]="picker1" formControlName="firstPicker" required
                    (dateInput)="getValueFrom($event)" [max]="maxDate" (dateChange)="onDateChange()">
                <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker1.open()">
                </div>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="!applyLeaveForm.firstPicker" style="padding: 5px;padding-left: 0;">
                    Invalid start date</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="date" appearance="outline">
                <mat-label>End date</mat-label>
                <input class="dateInput" matInput [matDatepicker]="picker2" formControlName="secondPicker" required
                    (dateInput)="getValueTo($event)" [min]="minDate" (dateChange)="onDateChange()">
                <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker2.open()">
                </div>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="!applyLeaveForm.secondPicker" style="padding: 5px;padding-left: 0;">
                    Invalid end date</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field style="width: 20%" appearance="outline">
                <mat-label>No of days</mat-label>
                <input matInput [(value)]="daysCount" disabled>
            </mat-form-field>
        </div>

        <ion-item class="divider" lines="full"></ion-item>
        <div style="display: block; white-space: nowrap;" formArrayName="dayTypes">
            <div style="display: block; white-space: nowrap;" *ngFor="let dayType of dayTypes.controls; let i=index"
                [formGroupName]="i">
                <mat-form-field appearance="outline" style="width: 30%;">
                    <mat-label>Day types</mat-label>
                    <mat-select class="selectLeave" formControlName="name"
                        (selectionChange)="dayTypesChanged($event, i)">
                        <mat-option value=0> Full Day</mat-option>
                        <mat-option value=1> Half Day</mat-option>
                        <mat-option value=2 *ngIf="daysCount === 1"> Quarter Day</mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;
                <mat-form-field appearance="outline" style="width: 32%;" *ngIf="dayTypes.value[i].name == 1 ">
                    <mat-label>Half day dates </mat-label>
                    <mat-select class="selectLeave" (selectionChange)="halfDaySelectionChanged($event.value,i)"
                        (openedChange)="open(i)" multiple>
                        <mat-option *ngFor="let selectArray of dayTypes.controls[i].value.selectArray[0]; let j=index"
                            [value]="selectArray" [disabled]="dayTypes.controls[i].value.status[0][j]"
                            (click)="valueSelected(i, j)">
                            {{selectArray | date:'M/d/y'}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="dayTypes.value[i].name !== 2 ">&nbsp;&nbsp;</span>
                <mat-radio-group class="example-radio-group" (change)="timeSlotChanged($event,i)" style="width: 24%"
                    *ngIf="dayTypes.value[i].name == 1 " [value]="dayTypes.controls[i].value.selectArray[1]">
                    <mat-radio-button value="AM">AM
                    </mat-radio-button>
                    <mat-radio-button style="padding-left: 10px;" value="PM">PM
                    </mat-radio-button>
                </mat-radio-group>
                <mat-form-field appearance="outline" style="width: 32%;" *ngIf="dayTypes.value[i].name == 2 ">
                    <mat-label>Quarter hours</mat-label>
                    <mat-select [(value)]="selectedQuarterHour">
                        <mat-option value="Q1">Q1 Hours</mat-option>
                        <mat-option value="Q2">Q2 Hours</mat-option>
                        <mat-option value="Q3">Q3 Hours</mat-option>
                        <mat-option value="Q4">Q4 Hours</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <ion-icon class="addIcon" name="add" *ngIf="showAddIcon" (click)="addFormField()">
            </ion-icon>
            <mat-hint style="font-size: 75%;display: block;padding: 5px;padding-top: 0;">
                Please ignore day types selection if not considered other options (half/quarter)
            </mat-hint>
        </div>
        <ion-item class="divider" lines="full"></ion-item>
        <mat-form-field appearance="outline">
            <mat-label>Reason</mat-label>
            <input matInput formControlName="inputReason" required>
            <mat-error *ngIf="!applyLeaveForm.inputReason" style="padding: 5px;padding-left: 0;"> Please
                enter reason</mat-error>
        </mat-form-field>

        <div style="text-align: center;">
            <ion-button shape="round" fill="outline"
                (click)="applyLeaveForm.reset(); daysAvailable='';daysCount=0;minDate='';maxDate='';clearArrayList();tree.checklistSelection.clear()"
                style="height: 27px; font-size: 12px;text-transform: none">Clear
            </ion-button>
            <ion-button *ngIf="radioOption == '1'" shape="round"
                style="height: 27px;font-size: 12px;width: 115px;text-transform: none"
                [disabled]="!applyLeaveForm.valid"
                (click)="postData(); applyLeaveForm.reset();daysAvailable='';daysCount=0;minDate='';maxDate='';">
                Apply for {{daysCount}} days
            </ion-button>
            <ion-button *ngIf="radioOption == '2'" shape="round"
                style="height: 27px;font-size: 12px;width: 115px;text-transform: none"
                [disabled]="applyLeaveForm.controls.inputReason.invalid"
                (click)="postData(); applyLeaveForm.reset();daysAvailable='';daysCount=0;minDate='';maxDate='';">
                Apply for {{daysCount}} days
            </ion-button>
        </div>
    </form>
</div>