<div>
    <div class='app-calendar'>
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                                  left: 'prev,next today',
                                  center: 'title',
                                  right: 'dayGridMonth,timeGridWeek, listYear'
                                }" [plugins]="calendarPlugins" [events]="events">
        </full-calendar>
    </div>
    <div class="holidayView">
        <form [formGroup]="assignCalendarForm">
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 2px;display: block">
                CALENDAR PROFILE LIST</span>
            <mat-form-field appearance="outline" style="width: 94%;">
                <mat-label>Please select calendar profile</mat-label>
                <mat-select formControlName="calendar" required (click)="ngOnInit()">
                    <mat-option *ngFor="let item of calendarList; let j=index" [value]="item.calendar_guid"
                        (click)="calendarSelected(item.calendar_guid)">
                        {{item.code}}</mat-option>
                </mat-select>
                <mat-error>Please select an option</mat-error>
            </mat-form-field>
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 2px;display: block">
                EMPLOYEE LIST</span>
            <mat-form-field appearance="outline" style="width: 94%;cursor: pointer;" (click)="showTreeDropdown = true;">
                <mat-label>Please select employee</mat-label>
                <input matInput class="inputDropdown" readonly required>
                <mat-icon matSuffix class="iconDropdown"><i class="material-icons">arrow_drop_down</i></mat-icon>
                <mat-error>Please select at least one option</mat-error>
                <div class="dropdownList" *ngIf="showTreeDropdown" (clickOutside)="clickOutside($event)">
                    <mat-tree style="z-index: 2;position: absolute;width: 100%;" [dataSource]="treeview.dataSource"
                        [treeControl]="treeview.treeControl">
                        <!-- inner checkbox -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <mat-checkbox class="checklist-leaf-node"
                                [checked]="treeview.checklistSelection.isSelected(node)"
                                (change)="treeview.todoLeafItemSelectionToggle(node)" color="primary">{{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>

                        <!-- main checkbox -->
                        <mat-tree-node *matTreeNodeDef="let node; when: treeview.hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeview.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <mat-checkbox [checked]="treeview.descendantsAllSelected(node)"
                                [indeterminate]="treeview.descendantsPartiallySelected(node)"
                                (change)="treeview.todoItemSelectionToggle(node)" color="primary">{{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </mat-form-field>
            <div class="showSelection" *ngIf="showSelectedTree">
                <mat-tree [dataSource]="treeview.dataSource" [treeControl]="treeview.treeControl">
                    <!-- inner checkbox -->
                    <mat-tree-node [style.display]="treeview.checklistSelection.isSelected(node) ? 'block' : 'none'"
                        *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                        <button mat-icon-button disabled></button>
                        <mat-checkbox class="checklist-leaf-node"
                            [checked]="treeview.checklistSelection.isSelected(node)"
                            (change)="treeview.todoLeafItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>

                    <!-- main checkbox -->
                    <mat-tree-node
                        [style.display]="(treeview.descendantsAllSelected(node) || treeview.descendantsPartiallySelected(node)) ? 'block' : 'none'"
                        *matTreeNodeDef="let node; when: treeview.hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeview.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-checkbox [checked]="treeview.descendantsAllSelected(node)"
                            [indeterminate]="treeview.descendantsPartiallySelected(node)"
                            (change)="treeview.todoItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>
                </mat-tree>
            </div>
            <div style="text-align: center; padding-top: 5%;">
                <ion-button fill="outline" style="font-size: 12px;height: 30px;width: 90px;background: white;"
                    color="primary"
                    (click)="assignCalendarForm.reset();treeview.checklistSelection.clear();showSelectedTree = false;disabledButton();">
                    CLEAR
                </ion-button>
                <div style="width: 10px; display: inline-block"></div>
                <ion-button style="font-size: 12px;height: 30px;width: 100px;" color="primary"
                    (click)="submitData(); showSpinner = true;" [disabled]="disabledSubmitButton">SUBMIT
                </ion-button>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary"
                    style="position: absolute;margin-top: 5px;margin-left: 5px;">
                </ion-spinner>
            </div>
        </form>
    </div>
</div>