<!------------------------------------------ create new calendar profile menu --------------------->
<ion-menu contentId="createCalendarContent" side="end" type="overlay" menuId="createCalendarDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 17px;width: 22px;height: 17px;float:left"
            src="assets/icon/dashboard/icon All Holidays@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">CREATE NEW CALENDAR
            PROFILE
        </p>
    </ion-header>

    <ion-content>
        <mat-form-field appearance="outline" style="width: 93%;font-size: 12px;opacity: 0.8;
        color: #43425d;margin-left: 10px;margin-right: 10px;margin-top: 15px;">
            <mat-label>Calendar Profile Name</mat-label>
            <input matInput [formControl]="profileName" required>
            <mat-error>Please enter profile name</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 93%;font-size: 12px;opacity: 0.8;
        color: #43425d;margin-left: 10px;margin-right: 10px;">
            <mat-label>Rest Day</mat-label>
            <mat-select [formControl]="dayControl" multiple>
                <mat-option *ngFor="let day of weekdays; let j=index" [value]="day" (click)="restDaySelected(day)">
                    {{day}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 93%;font-size: 12px;opacity: 0.8;
        color: #43425d;margin-left: 10px;margin-right: 10px;">
            <mat-label>Country List</mat-label>
            <mat-select [formControl]="country">
                <mat-option selected>None</mat-option>
                <mat-option *ngFor="let list of countryList; let i=index" [value]="list.iso"
                    (click)="countryRegion = countryDB[list.iso].regions; countryIso = list.iso;">
                    {{list.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 93%;font-size: 12px;opacity: 0.8;
        color: #43425d;margin-left: 10px;margin-right: 10px;">
            <mat-label>Regions</mat-label>
            <mat-select [formControl]="region">
                <mat-option selected>None</mat-option>
                <mat-option *ngFor="let list of countryRegion; let i=index" [value]="list.iso"
                    (click)=" regionISO = list.iso">
                    {{list.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 93%;font-size: 12px;opacity: 0.8;
        color: #43425d;margin-left: 10px;margin-right: 10px;">
            <mat-label>Year (yyyy)</mat-label>
            <input matInput [formControl]="yearDefault">
        </mat-form-field>
        &nbsp;&nbsp;
        <!-- <p style="color: #808495;font-size: 12px;margin: 0px;margin-left:10px;display: block;">Select Employee (you can
            add later)
        </p>
        <mat-form-field appearance="outline" style="width: 93%;cursor: pointer;font-size: 12px;
        opacity: 0.8;color: #43425d;margin: 10px;margin-top: 5px;z-index: 2;" (click)="showTreeDropdown = true;">
            <mat-label>Assign employee</mat-label>
            <input matInput class="inputDropdown" readonly required>
            <mat-icon matSuffix class="iconDropdown"><i class="material-icons">arrow_drop_down</i></mat-icon>
            <mat-error>Please select at least one option</mat-error>
            <div class="dropdownList" *ngIf="showTreeDropdown" (clickOutside)="clickOutside($event)">
                <mat-tree style="z-index: 82;position: absolute;width: 100%;" [dataSource]="treeview.dataSource"
                    [treeControl]="treeview.treeControl">
                    <!-- inner checkbox --
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                        <button mat-icon-button disabled></button>
                        <mat-checkbox class="checklist-leaf-node"
                            [checked]="treeview.checklistSelection.isSelected(node)"
                            (change)="treeview.todoLeafItemSelectionToggle(node)" color="primary">{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>

                    <!-- main checkbox --
                    <mat-tree-node *matTreeNodeDef="let node; when: treeview.hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeview.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-checkbox [checked]="treeview.descendantsAllSelected(node)"
                            [indeterminate]="treeview.descendantsPartiallySelected(node)"
                            (change)="treeview.todoItemSelectionToggle(node)" color="primary">{{node.item}}
                        </mat-checkbox>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </mat-form-field>
        <div class="showSelection" *ngIf="showSelectedTree">
            <mat-tree [dataSource]="treeview.dataSource" [treeControl]="treeview.treeControl">
                <!-- inner checkbox --
                <mat-tree-node style="font-size: 12px;color: #43425d;opacity: 0.8;"
                    [style.display]="treeview.checklistSelection.isSelected(node) ? 'inline-flex' : 'none'"
                    *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <mat-checkbox class="checklist-leaf-node" [checked]="treeview.checklistSelection.isSelected(node)"
                        (change)="treeview.todoLeafItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                    </mat-checkbox>
                </mat-tree-node>

                <!-- main checkbox --
                <mat-tree-node style="font-size: 12px;color: #43425d;opacity: 0.8;"
                    [style.display]="(treeview.descendantsAllSelected(node) || treeview.descendantsPartiallySelected(node)) ? 'block' : 'none'"
                    *matTreeNodeDef="let node; when: treeview.hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeview.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <mat-checkbox [checked]="treeview.descendantsAllSelected(node)"
                        [indeterminate]="treeview.descendantsPartiallySelected(node)"
                        (change)="treeview.todoItemSelectionToggle(node)" color="primary" disabled>{{node.item}}
                    </mat-checkbox>
                </mat-tree-node>
            </mat-tree>
        </div> -->

        <div style="text-align: center;margin:30px">
            <ion-button style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary" (click)="postData();menu.close('createCalendarDetails');"
                [disabled]="!profileName.valid">
                Create
            </ion-button>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="createCalendarContent">
</ion-router-outlet>

<!------------------------------------------ add holiday date & name ------------------------->
<ion-menu contentId="addHolidayContent" side="end" type="overlay" menuId="addHolidayDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 17px;width: 22px;height: 17px;float:left"
            src="assets/icon/dashboard/icon All Holidays@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">ADD NEW PUBLIC
            HOLIDAY
        </p>
    </ion-header>

    <ion-content>
        <ng-container *ngFor="let item of menuNewHoliday; let i = index">
            <ion-row style="width: 100%;">
                <ion-col size="5" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <mat-form-field style="padding: 10px;width: 100%;font-size: 11px;color: #4d4f5c">
                        <input matInput [matDatepicker]="dateMenuPicker" [(value)]="menuNewHoliday[i].start"
                            (dateChange)="menuDateChanged($event.target.value, i)" placeholder="Select Date">
                        <mat-datepicker-toggle matSuffix [for]="dateMenuPicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dateMenuPicker></mat-datepicker>
                    </mat-form-field>
                </ion-col>
                <ion-col style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <mat-form-field style="padding: 10px;width: 100%;font-size: 11px;color: #4d4f5c">
                        <input matInput (input)=" menuNewHoliday[i].title = $event.target.value;"
                            placeholder="Put description here" [(value)]="menuNewHoliday[i].title">
                    </mat-form-field>
                </ion-col>
                <ion-item class="divider" style="padding-left: 10px;padding-right: 10px;" lines="full"></ion-item>
            </ion-row>
        </ng-container>
        <ion-row style="width: 100%;padding: 10px;">
            <img style="cursor: pointer;;margin-right: 5px;margin-left: 2px;margin-top: 2px;width: 14px;height: 14px;float:left"
                src="assets/icon/leave_setup/icon_request@3x.png">
            <p style="color:#43425d; opacity: 0.8;font-weight: bold;cursor: pointer;font-size: 11px;margin-top: 3px;"
                (click)="addNewPH(undefined, undefined)">Add another new public holiday
            </p>
        </ion-row>

        <div style="text-align: center;margin:30px">
            <ion-button style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary" (click)="combineEvent()">
                Add
            </ion-button>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="addHolidayContent">
</ion-router-outlet>



<!------------------------------------------ calendar profile content --------------------------->
<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <div class="left">
                <img src="assets/icon/leave_setup/icon_calendar@3x.png" style="width:36px;height:36px">
            </div>
            <div class="right">
                <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Calendar
                    Profile Setup
                </ion-card-subtitle>
                <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                    Some good & sweet explanation here</ion-card-subtitle>
            </div>
            <div style="right: 75px;top: 25px;position: absolute;">
                <!-- *ngIf="showAddIcon" -->
                <!-- <ion-button fill="outline" (click)="showAddIcon = false;clickedIndex=null;
                slideInOut = false;dayControl.reset()"
                    style="background: #f0f0f7;font-size: 12px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                    color="primary">
                    Cancel
                </ion-button>
                <div style="display: inline-block"></div>
                <ion-button (click)="saveData()"
                    style="font-size: 12px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                    color="primary">
                    Save
                </ion-button> -->
                <p
                    style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
                    Edit
                    Mode: {{modeValue}}</p>
                <div style="display: inline-block;position: absolute;margin-top: 12px;">
                    <ion-toggle style="zoom:0.70" mode="ios" color="secondary" (ionChange)="toggleEvent($event)">
                    </ion-toggle>
                </div>
            </div>
        </div>
    </ion-card-header>
    <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="content" style="background: #f0f0f7; height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content>
                <div class="row">
                    <div class="calendar">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="10" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    CALENDAR PROFILE</ion-col>
                                <!-- <ion-col align-self-center size="9" class="column"> CALENDAR
                                    PROFILE
                                </ion-col> -->
                                <!-- <ion-col align-self-center size="4.5" class="column"> NO. ASSIGNED
                                    EMPLOYEE</ion-col> -->
                                <ion-col align-self-center>
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                    </ion-icon>
                                    <!-- <p *ngIf="!showAddIcon" style="color: #7069d8; cursor: pointer;font-size: 12px;font-weight: bold;position: absolute;
            margin-top: -21px;margin-left: 20px;"
                                        (click)="dayControl.reset();slideInOut = false;clickedIndex = null; menu.enable(true, 'createCalendarDetails');menu.enable(false, 'addHolidayDetails');menu.enable(false, 'addHolidayDetails');menu.open('createCalendarDetails');">
                                        ADD</p> -->
                                </ion-col>
                            </ion-row>
                        </div>
                        <div style="height: 400px;overflow: auto;">
                            <ng-container *ngIf="!showAddIcon">
                                <ion-row *ngFor="let list of profileList; let i=index" style="padding-left: 5px;">
                                    <ion-col size="10"
                                        style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                        <p class="textHover" style="font-size: 12px;font-weight: bold;cursor: pointer;"
                                            [ngClass]="{
                                    'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                            (click)="clickedCalendar(list, i)"> {{list.code}}
                                        </p>

                                        <!-- (input)="resize(i)" id="{{ i }}" -->
                                        <!-- <span *ngIf="showAddIcon" #hiddenText
                                        style="visibility: hidden; white-space: pre;">{{i.value}}</span> -->
                                        <div
                                            style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                            Assigned Employee No.: <p
                                                style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                {{list.employee}}</p>
                                        </div>
                                    </ion-col>
                                    <!-- <ion-col size="4.5" style="text-align: center;color: #4d4f5c;font-size: 11px;">
                                    {{list.employee}}</ion-col> -->
                                    <ion-col align-self-center>
                                        <!-- <img src="assets/icon/leave_setup/icon_edit@3x.png"
                                        style="width: 11px;height:11px;display: inline-block;"
                                        (click)="selectProfile(list, i);showAddIcon=true"
                                        [ngClass]="{
                                        'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                                    &nbsp;&nbsp; -->
                                        <img src="assets/icon/leave_setup/icon_trash@3x.png" *ngIf="showAddIcon"
                                            style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                            (click)="deleteCalendarProfile(profileList[i]);selectProfile(list, i)">
                                        <!-- [ngClass]="{'imgFilter': clickedIndex !== i && clickedIndex !== null ,'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null}" -->
                                    </ion-col>
                                    <ion-item class="divider" lines="full"></ion-item>
                                </ion-row>
                            </ng-container>

                            <ng-container *ngIf="showAddIcon">
                                <section class="my-dropzone scrollable" dndDropzone dndDragoverClass="custom-drag-over"
                                    (dndDrop)="onDrop($event, list)" [dndDisableIf]="i==clickedIndex"
                                    *ngFor="let list of profileList; let i=index">
                                    <ion-row class="sectionRow">
                                        <ion-col size="10"
                                            style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-top: 0;">
                                            <mat-form-field style="font-size: 11px;width: 50%;height: 35px;" [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}">
                                                <input matInput [(ngModel)]="list.code"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (click)="clickedCalendar(list, i)">
                                            </mat-form-field>
                                            <div
                                                style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                                Assigned Employee No.: <p
                                                    style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                    {{list.employee}}</p>
                                            </div>
                                        </ion-col>
                                        <ion-col align-self-center>
                                            <img src="assets/icon/leave_setup/icon_trash@3x.png"
                                                style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                                (click)="deleteCalendarProfile(profileList[i]);selectProfile(list, i)">
                                        </ion-col>
                                    </ion-row>
                                </section>
                            </ng-container>
                        </div>
                    </div>

                    <div class="assigned">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                                    ASSIGNED EMPLOYEE</ion-col>
                            </ion-row>
                        </div>

                        <div style="height: 396px;overflow: auto;" *ngIf="slideInOut && !showAddIcon"
                            [@slideInOut]="slideInOut ? 'open': 'close'">
                            <ion-row *ngFor="let item of assignedNames; let i =index"
                                style="width: 100%;padding-left: 10px;">
                                <ion-col align-self-center size="9" style="padding-top: 0;padding-bottom: 0;">
                                    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #4d4f5c;font-size:11px;padding-top: 13px;
                                        padding-bottom: 13px;">
                                        {{item.FULLNAME}}</p>
                                </ion-col>
                                <!-- <ion-col size="3" align-self-center style="text-align: center;">
                                    <!-- <img src="assets/icon/leave_setup/icon_edit@3x.png" *ngIf="showAddIcon"
                                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"> -->
                                <!-- (click)="deleteEmployee(i, item.FULLNAME)" -- --
                                </ion-col> -->
                                <ion-item class="divider" lines="full">
                                </ion-item>
                            </ion-row>
                        </div>

                        <div style="height: 396px;overflow: auto;" *ngIf="slideInOut && showAddIcon"
                            [@slideInOut]="slideInOut ? 'open': 'close'">
                            <mat-card *ngFor="let draggable of assignedNames" [dndDraggable]="draggable.content"
                                [dndEffectAllowed]="draggable.effectAllowed" [dndDisableIf]="draggable.disable"
                                style="margin: 5px;border-radius: 3px;box-shadow: 0 3px 6px 0 rgba(77, 77, 77, 0.16);">

                                <div style="float: left;padding-right: 15px;cursor: move;">
                                    <img src="assets/icon/leave_setup/icon_reorder@3x.png"
                                        style="width: 16px;height: 16px;" *ngIf="draggable.handle" dndHandle></div>
                                <p [hidden]="!draggable.handle" style="color: #4d4f5c;font-size:11px;display: flex;">
                                    {{draggable.content}}</p>
                            </mat-card>
                        </div>
                    </div>

                    <div class="restday">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col class="column">
                                    REST DAY</ion-col>
                            </ion-row>
                        </div>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label style="font-size:12px;color: #43425d;opacity:0.8">Select Rest Day
                            </mat-label>
                            <mat-select style="font-size: 12px;" multiple [formControl]="dayControl">
                                <mat-option style="font-size: 12px;" *ngFor="let day of weekdays; let j=index"
                                    (click)="restDaySelected(day)" [value]="day" [disabled]="disabledButton()">
                                    {{day}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col size="4" class="column">
                                    DATE</ion-col>
                                <ion-col size="3" class="column" *ngIf="!showAddIcon">DAY</ion-col>
                                <ion-col size="5" class="column">
                                    HOLIDAY</ion-col>
                                <ion-col size="3" align-self-center style="text-align: right;">
                                    <ion-icon class="addIcon" name="add-circle-outline" *ngIf="showAddIcon" (click)="menu.enable(true, 'addHolidayDetails');menu.enable(false, 'createCalendarDetails');
                                    menu.open('addHolidayDetails');addNewPH(undefined, undefined)"></ion-icon>
                                    <!-- <p style="color: #7069d8;; cursor: pointer;font-size: 12px;font-weight: bold;position: absolute;
                    margin-top: -21px;margin-left: 20px;" *ngIf="showAddIcon" (click)="menu.enable(true, 'addHolidayDetails');menu.enable(false, 'createCalendarDetails');
                                        menu.open('addHolidayDetails');addNewPH(undefined, undefined)">
                                        ADD</p> -->
                                </ion-col>
                            </ion-row>
                        </div>
                        <div style="height: 265px;overflow: auto;" *ngIf="slideInOut"
                            [@slideInOut]="slideInOut ? 'open': 'close'">
                            <ion-row *ngFor="let holiday of events; let i=index" style="width: 100%;">
                                <ion-col size="4" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                    <ion-label *ngIf="!showAddIcon"
                                        style="padding-left: 5px;color:#4d4f5c; font-size:11px">
                                        {{holiday.start}}
                                    </ion-label>
                                    <mat-form-field *ngIf="showAddIcon"
                                        style="width: 100%;font-size: 11px;color: #4d4f5c">
                                        <input matInput [matDatepicker]="datePicker" [(value)]="holiday.start" required
                                            (dateChange)="dateChanged($event.target.value, i)">
                                        <mat-datepicker-toggle matSuffix [for]="datePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #datePicker></mat-datepicker>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="3" *ngIf="!showAddIcon"
                                    style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                    <mat-chip-list [style.display]="showAddIcon ? 'none' : '' ">
                                        <mat-chip>
                                            <p
                                                style="white-space: nowrap;width: 100%;text-align: center;color: #f0f0f7;font-size: 10px;line-height: 2.22;">
                                                {{holiday.day}}</p>
                                        </mat-chip>
                                    </mat-chip-list>
                                </ion-col>
                                <ion-col size="5" style="overflow: hidden;
                                white-space: nowrap;text-overflow: ellipsis;" align-self-center>
                                    <p style="color: #4d4f5c;font-size: 11px;overflow: hidden;
                                    white-space: nowrap;text-overflow: ellipsis;" *ngIf="!showAddIcon">
                                        {{holiday.title}}
                                    </p>
                                    <mat-form-field *ngIf="showAddIcon"
                                        style="width: 100%;font-size: 11px;color: #4d4f5c">
                                        <input matInput [(value)]="holiday.title"
                                            (input)=" events[i].title = $event.target.value;">
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="3" align-self-center style="text-align: right;"> <img
                                        src="assets/icon/leave_setup/icon_trash@3x.png" *ngIf="showAddIcon"
                                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                        (click)="deletePH(i, events, holiday.title)">
                                </ion-col>
                                <ion-item class="divider" lines="full"></ion-item>
                            </ion-row>
                        </div>
                    </div>

                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>
<!-- <div *ngIf="!editCalendar && !addCalendar && !deleteCalendar"
    style="color: #057dcd; text-align: right;padding-top: 15px;">
    <div (click)="deleteCalendar = true;showEditForm = false" style="display: inline-block; color: #f04141">
        <i class="far fa-calendar-times"></i>
        <span style="padding-right: 10px;cursor: pointer;">Delete</span>
    </div>
    &nbsp;&nbsp;
    <div (click)="editCalendar = true;showEditForm = false" style="display: inline-block">
        <i class="far fa-edit personal"></i>
        <span style="padding-right: 10px;cursor: pointer;">Edit</span>
    </div>
    &nbsp;&nbsp;
    <div style="display: inline-block" (click)="addCalendar = true; showEditForm= false">
        <i class="far fa-calendar-plus"></i>
        <span style="padding-right: 10px;cursor: pointer;">Add</span>
    </div>
</div>

<form [formGroup]="editCalendarForm">
    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="editCalendar && !showEditForm">
        <ion-button fill="clear"
            (click)="editCalendar = false;addCalendar = false;editCalendarForm.reset();getPublicHolidayList();restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="saveData()" [disabled]="!editCalendarForm.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Save
        </ion-button>
    </div>

    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="deleteCalendar">
        <ion-button fill="clear"
            (click)="editCalendar = false;addCalendar = false;deleteCalendar=false;editCalendarForm.reset();getPublicHolidayList();restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="deleteData()" [disabled]="!editCalendarForm.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Delete
        </ion-button>
    </div>

    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="showEditForm">
        <ion-button fill="clear"
            (click)="addCalendar = false;editCalendar = false;showEditForm=false;getPublicHolidayList();profileName.reset(); restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline"
            (click)="postData(); addCalendar = false;editCalendar = false;showEditForm=false;"
            [disabled]="!profileName.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Save
        </ion-button>
    </div>
    <!------------------------------------- POST Added calendar  ------------------------------------
    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="addCalendar">
        <ion-button fill="clear" (click)="addCalendar = false; profileName.reset();getPublicHolidayList();"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="callParamAPI(year, month); showEditForm= true"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary"
            [disabled]="!profileName.valid">
            Next
        </ion-button>
    </div>

    <div class='app-calendar' (window:resize)="height = ($event.target.innerHeight - 153) - (5 / 100)">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek, listYear'
                        }" [plugins]="calendarPlugins" [events]="leaveEvent" [eventLimit]=true
            (eventClick)="text = $event.el.text; start = $event.event.start; end = $event.event.end;color = $event.event.backgroundColor; onEventClick($event)">
        </full-calendar>
        <div *ngIf="text" style="height: 30px;float: left;margin-top: 29px;width: 5px;"
            [style.border]="color=='' ? '2px solid #057dcd':'2px solid #c2185b'"></div>
        <div *ngIf="text" style=" font-size: 16px;padding-top: 5px;position: absolute;padding-left: 20px;">
            {{start | date:'EEEE, MMM d'}} <span *ngIf="endDate !== start && end !== null">-
                {{endDate | date:'EEEE, MMM d'}}</span></div><br>
        <div *ngIf="text" style="padding-left: 20px;padding-top: 13px;position: absolute;">{{timeslot}}</div>
        <div *ngIf="text" style="padding-left: 120px;padding-top: 13px;position: absolute;">{{text}}</div>
    </div>

    <div class="holidayView" [style.max-height.px]="height">
        <!------------------------------- Edit calendar -----------------------------------------
        <div style="display:block; white-space: nowrap;" *ngIf="!showEditForm">
            <mat-form-field appearance="outline" [style.width.%]="editCalendar ? '47': '94'"
                *ngIf="editCalendar || deleteCalendar">
                <mat-label>Calendar profile</mat-label>
                <mat-select class="selectLeave" formControlName="calendarProfile">
                    <mat-option *ngFor="let list of profileList; let i=index" [value]="list.calendar_guid"
                        (click)="selectProfile(list)">
                        {{list.code}}</mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error *ngIf="!editCalendarForm.calendarProfile" style="padding: 5px;padding-left: 0;">
                    Please select calendar profile</mat-error>
            </mat-form-field>
            <span *ngIf="editCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="editCalendar ">
                <mat-label>Rest day</mat-label>
                <mat-select class="selectLeave" formControlName="dayControl"
                    (openedChange)="editCalendarForm.patchValue({ dayControl: this.restDay });" multiple>
                    <mat-option *ngFor="let day of weekdays; let j=index" [value]="day" (click)="restDaySelected(day)"
                        [disabled]="!editCalendarForm.valid">
                        {{day}}</mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                margin-left: -50px;margin-top: -10px;"></ion-spinner>
            </mat-form-field>
        </div>

        <!------------------------------- add calendar ------------------------------------------
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Calendar profile name</mat-label>
                <input matInput [formControl]="profileName" required>
                <mat-error>Please enter profile name</mat-error>
            </mat-form-field>
            <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Rest day</mat-label>
                <mat-select class="selectLeave" multiple>
                    <mat-option *ngFor="let day of weekdays; let j=index" [value]="day" (click)="restDaySelected(day)">
                        {{day}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Country list</mat-label>
                <mat-select>
                    <mat-option selected>None</mat-option>
                    <mat-option *ngFor="let list of countryList; let i=index" [value]="list.iso"
                        (click)="countryRegion = countryDB[list.iso].regions; countryIso = list.iso;">
                        {{list.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Regions</mat-label>
                <mat-select>
                    <mat-option selected>None</mat-option>
                    <mat-option *ngFor="let list of countryRegion; let i=index" [value]="list.iso"
                        (click)=" regionISO = list.iso">
                        {{list.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <input matInput placeholder="Year(yyyy)" [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <!-- <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <input matInput placeholder="Month(mm)" [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
            </mat-form-field> --
        </div>

        <ion-item class="divider" lines="full" *ngIf="editCalendar || addCalendar"></ion-item>

        <ion-row class="titleRow" *ngIf="!addCalendar" style="background: #057dcd;height: 37px;margin-bottom: 10px">
            <ion-col size="3">
                <ion-label style="color: white">Day</ion-label>
            </ion-col>
            <ion-col size="3.5">
                <ion-label style="color: white">Date</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label style="color: white">Holiday</ion-label>
            </ion-col>
        </ion-row>

        <div *ngIf="!addCalendar ">
            <ion-row class="detailsRow" *ngFor="let holiday of events; let i=index">
                <ion-col size="3">
                    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" *ngIf="!editCalendar">
                        {{holiday.day}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [(value)]="holiday.day" disabled>
                    </mat-form-field>
                </ion-col>

                <ion-col size="3.5" class="colOfLeave">
                    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" *ngIf="!editCalendar">
                        {{holiday.str}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [matDatepicker]="datePicker" [(value)]="holiday.start" required
                            (dateChange)="dateChanged($event.target.value, i)">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                </ion-col>

                <ion-col size="4" class="colOfLeave">
                    <p *ngIf="!editCalendar">
                        {{holiday.title}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [(value)]="holiday.title" (input)=" events[i].title = $event.target.value;">
                    </mat-form-field>
                </ion-col>
                <ion-col size="1.5" *ngIf="editCalendar"
                    style="display: flex;align-items: center;justify-content: center;">
                    <i class="far fa-trash-alt" (click)="deletePH(i, events, holiday.title)"></i>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
            </ion-row>
        </div>
    </div>
</form> -->