::ng-deep .mat-pseudo-checkbox-checked {
  &::after {
    height: 5px !important;
  }
}
:host {
  ///////////////////////////////// new scss /////////////////////////
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .mainDivider {
    --min-height: none;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    // padding-top: 3px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    // padding: 0 10px;
  }
  .calendar,
  .assigned {
    flex: 30%;
    max-width: 30%;
    max-height: 100%;
  }
  .assigned {
    margin-right: 10px;
    margin-left: 10px;
  }
  .restday {
    flex: 38.5%;
    max-width: 38.5%;
    max-height: 100%;
  }
  .column {
    font-size: 12px;
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  .textColor {
    color: #3b86ff;
  }
  .oriColor {
    color: #4d4f5c;
  }
  .textHover:hover {
    color: #3b86ff;
  }
  mat-chip {
    max-width: 74px;
    min-height: 20px;
    min-width: 74px;
  }
  .mat-chip.mat-standard-chip {
    background-color: #7069d8;
  }
  ::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    margin-top: 5px;
  }
  .addIcon {
    color: #7069d8;
    font-size: 16px;
    cursor: pointer;
  }
  .imgFilter {
    filter: opacity(0.3);
    cursor: text;
  }
  .imgColor {
    filter: none;
    cursor: pointer;
  }
  .showCursor {
    cursor: pointer;
    filter: none;
  }
  .dropdownList {
    position: absolute;
    margin-top: -17px;
    width: 100%;
    z-index: 2;
    height: 290px;
    overflow: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
  }
  .showSelection {
    width: 100%;
    height: 390px;
    overflow: auto;
    margin-bottom: 20px;
  }
  ::ng-deep .mat-checkbox-layout {
    display: contents;
    white-space: inherit;
  }
  ::ng-deep .mat-select-value-text {
    // opacity: 0.8;
    font-size: 12px;
    color: #43425d;
  }
  ::ng-deep .mat-select-arrow {
    color: #43425d;
    // opacity: 0.8;
  }
  ::ng-deep .mat-option-text {
    color: #43425d;
    opacity: 0.8;
    font-size: 12px;
  }
  .sectionRow {
    padding-left: 5px;
    box-shadow: rgba(77, 77, 77, 0.16) 0px 3px 6px 0px;
    border-radius: 3px;
    margin: 5px;
  }
  .dndDragging {
    // box-shadow: rgba(77, 77, 77, 0.16) 0px 3px 6px 0px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .custom-drag-over {
    background-color: #fafafa;
    // border-color: limegreen;
    // transform: scale(1.05);
  }

  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }

  //////////////////////////////// end //////////////////////////////
  .personal {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-plus {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-times {
    color: #f04141;
    padding-right: 10px;
  }
  .fa-trash-alt {
    cursor: pointer;
    font-size: 12px;
    color: #bebebe;
  }
  .fa-trash-alt:hover {
    color: #f04141;
  }
  .app-calendar {
    width: 55%;
    margin-top: 1%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }
  .holidayView {
    padding-left: 3%;
    margin-top: 1%;
    float: right;
    width: 45%;
    overflow: auto;
  }
  .titleRow {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
    padding-top: 5px;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
  }
  .button-outline {
    --border-width: 1px;
  }
  // full calendar
  ::ng-deep .fc-toolbar > * > :not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:first-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-button-group > .fc-button:not(:last-child) {
    text-transform: capitalize;
  }
  ::ng-deep .fc-event-container {
    cursor: pointer;
  }
}
