:host {
  .menu-content-open {
    pointer-events: auto;
    cursor: auto;
  }
  .fullMenu {
    max-width: 0%;
    min-width: 218px;
    --width: none;
  }
  .iconMenu {
    max-width: 0%;
    min-width: 35px;
    --width: none;
  }
  ion-icon {
    color: #abacaf;
  }
  .item:hover {
    --background: #363942;
    border-left: 2px solid #057dcd;
  }
  .background-highlight {
    --background: #363942;
    border-left: 2px solid #057dcd;
  }
  ion-label {
    color: #abacaf;
    padding-left: 20px;
  }
  ion-label:hover {
    color: #f9fafc;
  }
  .text-color {
    color: #f9fafc;
  }
  .my-icons {
    fill: #f9fafc;
  }
  .my-icon {
    fill: #abacaf;
    width: 20px;
    height: 20px;
  }
  .my-icon-menu {
    fill: #abacaf;
    width: 20px;
    height: 20px;
  }
  .my-icon-menu:hover {
    fill: #f9fafc;
    width: 20px;
    height: 20px;
  }
  ::ng-deep svg {
    width: 100%;
    height: 100%;
  }
  .collapse {
    cursor: pointer;
  }
  .fullMenuContent {
    --ion-background-color: #2d3037;
    --width: 218px;
    width: 218px;
  }
  .iconMenuContent {
    --ion-background-color: #2d3037;
    --width: 35px;
  }
  .fullSideMenuContent {
    transform: translateX(0) !important;
  }
  .iconSideMenuContent {
    transform: translateX(0) !important;
  }
  //------------------- header toolbar --------------------------//
  .toolbar1 {
    height: 48px;
    padding-right: 20px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .bell-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
  }
  .edit-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
  }
  .search-icon {
    float: left;
    width: 20px;
    height: 20px;
    fill: #7a8589;
  }
  .verticalLine {
    border-left: 1px solid #dfe3e6;
    height: 28px;
    float: right;
    padding-right: 20px;
  }
  .labelName {
    float: right;
    font-size: 14px;
    color: #7a8589;
    padding-right: 10px;
    padding-top: 8px;
    cursor: pointer;
  }
  .labelName:hover {
    color: #057dcd;
  }
}
