<div (window:resize)="onResize()">
  <ion-split-pane contentId="fullMenuContent" when="xs">

    <!------------------------------ Full menu ---------------------------------------->
    <ion-menu class="fullMenu" contentId="fullMenuContent" side="start" type="reveal" menuId="first" [ngClass]="{
        'showFull': showFullMenu === true, 'hideFull': showFullMenu === false }">
      <ion-header style="background-color:#2d3037; color: #f9fafc;">
        <ion-icon slot="start" color="medium" name="arrow-dropleft"
          style="cursor: pointer;position: absolute; margin: 56px; margin-left: 17px; font-size: 24px"
          (click)="collapseMenu()">
        </ion-icon>
      </ion-header>

      <ion-content class="fullMenuContent">
        <ion-avatar style="width: 70px; height: 70px; margin: 74px; margin-bottom: 0; margin-top: 31px;">
          <img src="assets/icon/logo.PNG">
        </ion-avatar>
        <p style="display:flex; justify-content: center; color: #f9fafc;font-size: 15px;">ZEN Computer Systems</p>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i=index">
            <ion-item class="items" lines="none" (click)="activeUrl(appPages[i].url)"
              [class.background-highlight]="activeRoute === appPages[i].url">
              <!-- <div class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icon/sidebar_menus/' + p.icon"></div> -->
              <img style="width: 16px;" src="assets/icon/sidebar_menus/{{p.icon}}">
              <ion-label [class.text-color]="activeRoute === appPages[i].url ">
                {{p.title}}
              </ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="i == 3"></ion-item>
            <ion-item lines="none" *ngIf="i == 7"></ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!------------------------------ Side menu ---------------------------------------->
    <ion-menu side="start" contentId="fullMenuContent" menuId="custom" type="reveal" class="iconMenu"
      style="max-width: 3%; min-width: 35px;" [ngClass]="{
        'showIcon': showIconMenu === true, 'hideIcon': showIconMenu === false }">
      <ion-header style="background-color:#2d3037; color: #f9fafc;">
        <ion-icon slot="start" name="menu" style="margin-top: 6px;font-size: 24px;cursor: pointer;width: 100%;"
          (click)="expandMenu()">
        </ion-icon>
      </ion-header>

      <ion-content class="iconMenuContent">
        <ion-avatar style="width: 28px;height: 28px;margin-top: 10px;margin-left: auto;margin-right: auto;">
          <img src="assets/icon/logo.PNG">
        </ion-avatar>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i=index">
            <ion-item class="items" no-padding lines="none" style="display: block;--inner-padding-end: 0;"
              [class.background-highlight-icon]="activeRoute === appPages[i].url "
              [class.first-highlight]="router.url === appPages[i].url" (click)="activeUrl(appPages[i].url)">
              <!-- <div class="my-icon-menu" aria-label="My icon" style="align-items: center; width: 100%;"
                [inlineSVG]="'assets/icon/sidebar_menus/' + p.icon"></div> -->
              <img style="margin: 0 auto; width: 16px;" src="assets/icon/sidebar_menus/{{p.icon}}">
            </ion-item>
            <ion-item no-padding lines="none" *ngIf="i == 3"></ion-item>
            <ion-item no-padding lines="none" *ngIf="i == 7"></ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="fullMenuContent" class="fullRouterOutlet">
      <ion-toolbar class="toolbar1">
        <ion-avatar [matMenuTriggerFor]="menu"
          style=" width: 32px; height: 32px; float: right; cursor:pointer;margin-top:-5px"
          *ngIf="url && url.details[0].PROFILE_PICTURE !== null">
          <img src="{{url.link + url.details[0].PROFILE_PICTURE}}">
        </ion-avatar>
        <ion-avatar *ngIf="url && url.details[0].PROFILE_PICTURE === null"
          style=" width: 32px; height: 32px; float: right; cursor:pointer;margin-top:-5px" [matMenuTriggerFor]="menu">
          <img src="assets/icon/chris.jpg">
        </ion-avatar>
        <div style="float: right;margin-top: 7px;margin-right: 5px;cursor: pointer;" [matMenuTriggerFor]="menu"><img
            src="assets/icon/top_header/Path 26@3x.png" style="width: 8px;height: 5px;float: right;"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="routeTo()">User Dashboard</button>
          <button mat-menu-item (click)="logout($event)">Logout</button>
        </mat-menu>
        <ion-label class="labelName" *ngIf="personalList">
          {{personalList.employeeName}}
        </ion-label>
        <div class="verticalLine"></div>
        <div style="padding-right: 20px;float: right;" *ngIf="personalList">
          <mat-chip>
            <p
              style="margin: 0;white-space: nowrap;width: 100%;text-align: center;color: #ffffff;font-size: 9px;line-height: 2.22;">
              Human Resource</p>
          </mat-chip>
        </div>
      </ion-toolbar>
    </ion-router-outlet>
  </ion-split-pane>
</div>