<!------------------------------ Full menu ---------------------------------------->
<ion-split-pane contentId="fullSideMenuContent" when="xs" *ngIf="displayFullMenu">
  <ion-menu class="fullMenu" contentId="fullSideMenuContent" side="start" type="reveal" menuId="first"
    (ionDidClose)="fullMenuClosedHandler()">
    <ion-header style="background-color:#2d3037; color: #f9fafc;">
      <ion-icon class="collapse" slot="start" color="medium" name="arrow-dropleft"
        style="position: absolute; margin: 56px; margin-left: 17px; font-size: 24px" (click)="collapseMenu()">
      </ion-icon>
    </ion-header>

    <ion-content class="fullMenuContent">
      <ion-avatar style="width: 70px; height: 70px; margin: 74px; margin-bottom: 0; margin-top: 31px;">
        <img src="assets/icon/logo.PNG">
      </ion-avatar>
      <p style="display:flex; justify-content: center; color: #f9fafc;">ZeN</p>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i=index">
          <ion-item lines="none" [routerLink]="[p.url]" (click)="activeRoute = appPages[i].url"
            [class.background-highlight]="activeRoute === appPages[i].url">
            <div class="my-icon" aria-label="My icon" [inlineSVG]="'assets/icon/Sidebar_menus/' + p.icon"></div>
            <ion-label (click)="activeRoute = appPages[i].url" [class.text-color]="activeRoute === appPages[i].url ">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="fullSideMenuContent" class="fullRouterOutlet">
    <ion-toolbar class="toolbar1">
      <ion-avatar style=" width: 32px; height: 32px; float: right; cursor:pointer" [matMenuTriggerFor]="menu">
        <img src="assets/icon/picture.png">
      </ion-avatar>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="router.navigate(['/main/employee-setup']);">My Profile</button>
        <button mat-menu-item (click)="logout($event)">Logout</button>
      </mat-menu>
      <ion-label class="labelName" *ngIf="personalList">
        {{personalList.employeeName}}
      </ion-label>
      <div class="verticalLine"></div>
      <div style="width:15px; float: right; height: 20px"></div>
      <div class="bell-icon" [inlineSVG]="'assets/icon/Top_header/notifications.svg'"></div>
      <div style="width: 12px; float:right; height: 20px"></div>
      <div class="edit-icon" [inlineSVG]="'assets/icon/Top_header/action.svg'"></div>
      <div style="width:15px; float: left; height: 20px"></div>
      <div class="search-icon" [inlineSVG]="'assets/icon/Top_header/search.svg'"></div>
    </ion-toolbar>
  </ion-router-outlet>
</ion-split-pane>


<!---------------------------------------- Icon Menu ---------------------------------->
<ion-split-pane contentId="iconSideMenuContent" when="xs" *ngIf="displayIconMenu">
  <ion-menu side="start" contentId="iconSideMenuContent" menuId="custom" type="reveal" class="iconMenu"
    (ionDidClose)="iconMenuClosedHandler()" style="max-width: 3%; min-width: 35px;">
    <ion-header style="background-color:#2d3037; color: #f9fafc;">
      <ion-icon slot="start" name="menu" style="margin: 6px; font-size: 24px;float: left; cursor: pointer; "
        (click)="expandMenu()">
      </ion-icon>
    </ion-header>

    <ion-content class="iconMenuContent">
      <ion-avatar style=" width: 24px; height: 24px; margin: 7px; margin-bottom: 0; margin-top: 10px;">
        <img src="assets/icon/logo.PNG">
      </ion-avatar>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i=index">
          <ion-item no-padding lines="none" [routerLink]="[p.url]" style="float: left; padding-left: 8px"
            [class.background-highlight]="activeRoute === appPages[i].url "
            [class.first-highlight]="router.url === this.appPages[i].url" (click)="activeRoute = appPages[i].url ">
            <div class="my-icon-menu" aria-label="My icon" [inlineSVG]="'assets/icon/Sidebar_menus/' + p.icon"></div>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="iconSideMenuContent" class="iconRouterOutlet">
    <ion-toolbar class="toolbar1">
      <ion-avatar style=" width: 32px; height: 32px; float: right; cursor: pointer;" [matMenuTriggerFor]="menu">
        <img src="assets/icon/picture.png">
      </ion-avatar>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="router.navigate(['/main/employee-setup']);">My Profile</button>
        <button mat-menu-item (click)="logout($event)">Logout</button>
      </mat-menu>
      <ion-label class="labelName" *ngIf="personalList" [matMenuTriggerFor]="menu">
        {{personalList.employeeName}}
      </ion-label>
      <div class="verticalLine"></div>
      <div style="width:15px; float: right; height: 20px"></div>
      <div class="bell-icon" [inlineSVG]="'assets/icon/Top_header/notifications.svg'"></div>
      <div style="width: 12px; float:right; height: 20px"></div>
      <div class="edit-icon" [inlineSVG]="'assets/icon/Top_header/action.svg'"></div>
      <div style="width:15px; float: left; height: 20px"></div>
      <div class="search-icon" [inlineSVG]="'assets/icon/Top_header/search.svg'"></div>
    </ion-toolbar>
  </ion-router-outlet>
</ion-split-pane>