::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 2px;
}
button {
  outline: none;
}
:host {
  .title {
    border-radius: 2px;
    text-align: center;
    color: #f0f0f7;
    font-size: 14px;
    font-weight: bold;
    background-color: #7069d8;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    margin-bottom: 25px;
  }
}
