<!-- <div style="margin-top: 4%;">
    <form [formGroup]="adjustmentForm">
        <div style="display: inline-block;width: 31%;">
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                COMPANY LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select company tenant</mat-label>
                <mat-select formControlName="company" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of company" [value]=company.TENANT_COMPANY_GUID
                        (click)="companySelected(company.TENANT_COMPANY_GUID);enableDisableSubmitButton()">
                        <!-- true --
                        {{company.NAME}}
                    </mat-option>
                </mat-select>
                <mat-error>Company tenant is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 31%;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                DEPARTMENT LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select department</mat-label>
                <mat-select formControlName="department" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let department of department" [value]=department.department
                        (click)="departmentSelected(department.department);enableDisableSubmitButton()">
                        <!-- true --
                        {{department.department}}
                    </mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                        margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error>Department is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="width: 31%;display: inline-block;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                LEAVE TYPE</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select leave type</mat-label>
                <mat-select formControlName="leavetype" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let leavetype of leavetypeList" [value]=leavetype.LEAVE_TYPE_GUID
                        (click)="enableDisableSubmitButton(); getLeaveEntitlement(leavetype.LEAVE_TYPE_GUID)">
                        <!-- true --
                        {{leavetype.CODE}}
                    </mat-option>
                </mat-select>
                <mat-error>Leave type is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        <div style="display: block;width: 100%;">
            <div style="width: 10%;display: inline-block;">
                <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                    NO OF DAY</span>
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                    <mat-label>Symbol</mat-label>
                    <mat-select formControlName="symbol" required>
                        <mat-select-trigger>
                            <mat-icon style="position: absolute;margin-top: -8px;">
                                <i class="material-icons">{{adjustmentForm.controls.symbol.value}}</i></mat-icon>
                        </mat-select-trigger>
                        <mat-option value="add" (click)="enableDisableSubmitButton()">
                            <!-- true --
                            <mat-icon><i class="material-icons" style="display: flex;">add</i></mat-icon>
                        </mat-option>
                        <mat-option value="remove" (click)="enableDisableSubmitButton()">
                            <!-- true --
                            <mat-icon><i class="material-icons" style="display: flex;">remove</i></mat-icon>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="width: 21%;display: inline-block;">
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 5px;">
                    <mat-label>Please enter number of day</mat-label>
                    <input type="number" matInput formControlName="noOfDay" required
                        (input)="enableDisableSubmitButton()">
                    <!-- true --
                    <mat-error>No of day is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            &nbsp;&nbsp;
            <div style="display: inline-block;width: 31%;">
                <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                    REASON</span>
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                    <mat-label>Please enter reason</mat-label>
                    <input matInput formControlName="reason" required (input)="enableDisableSubmitButton()">
                    <!-- true --
                    <mat-error>Reason is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="content" *ngIf="filteredUserItems.length > 0">
        <ion-row class="titleRow" nowrap>
            <ion-col size="0.7" style="padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                <ion-checkbox mode="ios" style="width: 20px; height: 20px;margin-top: 6px;" [(ngModel)]="mainCheckBox"
                    [indeterminate]="indeterminate" (click)="mainCheckboxEvent()">
                </ion-checkbox>
            </ion-col>
            <ion-col size="1">
                <ion-label style="font-size: 12px;">ID</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">DESIGNATION</ion-label>
            </ion-col>
            <ion-col size="2" style="text-align: center;">
                <ion-label style="font-size: 12px;">ENTITLEMENT</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of filteredUserItems; let i=index">
            <ion-col size="0.7" style="padding-left: 10px;padding-right: 30px;">
                <ion-avatar class="avatar" (mouseover)="hoverEvent(i, true, item.isChecked)"
                    (mouseout)="hoverEvent(i, false, item.isChecked)">
                    <img src="assets/icon/evans.jpg" style="margin-left: -4px;"
                        [style.display]="showCheckbox[i] ? 'none' : 'block'">
                    <div class="checkboxOnAvatar" [style.display]="showCheckbox[i] ? 'block' : 'none'">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;position: absolute;margin-top: 7px;"
                            [(ngModel)]="item.isChecked" (ionChange)="subEvent()">
                        </ion-checkbox>
                    </div>
                </ion-avatar>
            </ion-col>
            <ion-col size="1" class="colOfLeave"
                style="color: #7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.staffNumber}}
            </ion-col>
            <ion-col size="4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <ion-label style="color:#057dcd; font-size: 13px;">{{item.employeeName}}</ion-label>
            </ion-col>
            <ion-col size="3" class="colOfLeave"
                style="color:#7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.designation}}
            </ion-col>
            <ion-col size="2" class="colOfLeave"
                style="text-align: center;color:#7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.entitlement}}
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>
    </div>
    <div *ngIf="showNoResult" style="width: 100%; text-align:center;padding: 10px">
        <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
        <p style="font-size: 20px;color:#bebebe;padding-top:10px ">No Results Found</p>
    </div>
    <div style="margin: 0 auto;padding: 20px;text-align: center;">
        <ion-button style="font-size: 12px;height: 30px;width: 110px;background: white;" color="primary"
            (click)="patchLeaveNumber();adjustmentForm.reset();showSmallSpinner = true;mainCheckBox=false;indeterminate=false;"
            [disabled]="disableSubmitButton">
            SUBMIT
        </ion-button>
        <div style="display: inline-block;margin-top: 10px;padding-left: 5px;vertical-align: middle;"
            *ngIf="showSmallSpinner">
            <ion-spinner name="lines-small" color="primary"></ion-spinner>
        </div>
    </div>
</div> -->

<ion-menu style="--width: 500px;" contentId="leaveAdjustContent" side="end" type="overlay" menuId="leaveAdjustDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 17px;width: 22px;height: 17px;float:left"
            src="assets/icon/dashboard/icon All Holidays@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">
            LEAVE ADJUSTMENT HISTORY
        </p>
    </ion-header>

    <ion-content>
        <div style="display: block;width: 100%;">
            <div
                style="font-size: 11px;background: #f5f6fa;padding: 10px;padding-left: 15px;margin: 10px;color: #a3a6b4;font-weight: bold;">
                <ion-row>
                    <ion-col size="7">DATE: <p
                            style="font-size: 11px;color: #43425d;font-weight: bold;display: inline;">20 SEPT 2019</p>
                    </ion-col>
                    <ion-col>DONE BY: <p style="font-size: 11px;color: #43425d;font-weight: bold;display: inline;">
                            JESSIE</p>
                    </ion-col>
                </ion-row>
            </div>
            <div style="margin: 20px;">
                <ion-row>
                    <ion-col style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 11px;">
                            Company</ion-label>
                        <p
                            style="color: #808495;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            Zen Computer Systems Sdn Bhd</p>
                    </ion-col>
                    <ion-col style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 11px;">
                            Department</ion-label>
                        <p
                            style="color: #808495;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            Research & Development</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 11px;">
                            Leave Type</ion-label>
                        <p
                            style="color: #808495;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            ML-Medical Leave</p>
                    </ion-col>
                    <ion-col style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 11px;">
                            No. of Days</ion-label>
                        <p
                            style="color: #808495;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            +2 days</p>
                    </ion-col>
                    <ion-col style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <ion-label style="color:#43425d; opacity: 0.8;font-weight: bold;;font-size: 11px;">
                            Affected Employee</ion-label>
                        <p
                            style="color: #808495;font-size:13px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                            8 persons</p>
                    </ion-col>
                </ion-row>
                <div><img style="cursor: pointer;margin-right: 6px;width: 14px;height: 14px;"
                        src="assets/icon/leave_setup/icon_request@3x.png" (click)="showList = !showList ">
                    <p style="color: #43425d;opacity: 0.8;font-size: 11px;font-weight: bold;width: 23%;
                    display: inline-block;"> List of Employees</p>
                    <div style="border-top: 1px solid rgba(67, 66, 93, 0.2);display: inline-block;width: 72%;"></div>
                </div>
                <div *ngIf="showList" style="font-size: 11px;color: #808495;margin-left: 15px;">
                    <ion-row>
                        <ion-col style="padding-top: 0;">Zulkifli bin Arrifin</ion-col>
                        <ion-col style="padding-top: 0;">Rajaputra Balasingh</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="padding-top: 0;">Clement Chee Siong Yee</ion-col>
                        <ion-col style="padding-top: 0;">Mohd Akmar bin Ab.Karim</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="padding-top: 0;">Pratap K.Singh</ion-col>
                        <ion-col style="padding-top: 0;">Asmidar binti Mohd Fauzi</ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="leaveAdjustContent">
</ion-router-outlet>

<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <div class="left">
                <img src="assets/icon/leave_setup/icon_year_end_closing@3x.png" style="width:34px;height:33px">
            </div>
            <div class="right">
                <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Leave
                    Adjustment
                </ion-card-subtitle>
                <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                    Some good & sweet explanation here</ion-card-subtitle>
            </div>
            <div style="right: 25px;top: 25px;position: absolute;">
                <ion-button
                    style="--border-radius: 2px;font-size: 11px;height: 30px;width:193px;cursor: pointer;text-transform: none;"
                    color="primary" (click)="menu.open('leaveAdjustDetails')">
                    View Leave Adjustment History
                </ion-button>
            </div>
        </div>
    </ion-card-header>
    <!-- <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div> -->

    <!-- class="container" -->
    <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content>
                <div class="row">
                    <div class="details">
                        <div style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-bottom: 1px;
                                    padding-top: 1px;margin-bottom: 10px;color: #a3a6b4;font-weight: bold;">
                            <ion-row>
                                <ion-col align-self-center style="padding: 10px;">
                                    DETAILS
                                </ion-col>
                            </ion-row>
                        </div>
                        <div>
                            <form [formGroup]="adjustmentForm">
                                <div style="display: block;width: 100%;">
                                    <span
                                        style="padding-bottom: 5px;font-size: 12px;color:#808495;padding-left: 15px;display: block">
                                        COMPANY LIST</span>
                                    <mat-form-field appearance="outline"
                                        style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;padding-right: 15px;">
                                        <mat-label>Please select company</mat-label>
                                        <mat-select formControlName="company" required>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let company of company"
                                                [value]=company.TENANT_COMPANY_GUID
                                                (click)="companySelected(company.TENANT_COMPANY_GUID);enableDisableSubmitButton()">
                                                {{company.NAME}}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-error>Company tenant is <strong>required</strong></mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div style="display: block;width: 100%;">
                                    <span
                                        style="padding-bottom: 5px;font-size: 12px;color:#808495;padding-left: 15px;display: block">
                                        DEPARTMENT LIST</span>
                                    <mat-form-field appearance="outline"
                                        style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;padding-right: 15px;">
                                        <mat-label>Please select department</mat-label>
                                        <mat-select formControlName="department" required>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let department of department"
                                                [value]=department.department
                                                (click)="departmentSelected(department.department);enableDisableSubmitButton()">
                                                {{department.department}}
                                            </mat-option>
                                        </mat-select>
                                        <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                                                margin-left: -50px;margin-top: -10px;"></ion-spinner>
                                        <!-- <mat-error>Department is <strong>required</strong></mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div style="width: 100%;display: block;">
                                    <span
                                        style="padding-bottom: 5px;font-size: 12px;color:#808495;padding-left: 15px;display: block">
                                        LEAVE TYPE</span>
                                    <mat-form-field appearance="outline"
                                        style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;padding-right: 15px;">
                                        <mat-label>Please select leave type</mat-label>
                                        <mat-select formControlName="leavetype" required>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let leavetype of leavetypeList"
                                                [value]=leavetype.LEAVE_TYPE_GUID
                                                (click)="enableDisableSubmitButton(); getLeaveEntitlement(leavetype.LEAVE_TYPE_GUID)">
                                                {{leavetype.CODE}}
                                            </mat-option>
                                        </mat-select>
                                        <!-- <mat-error>Leave type is <strong>required</strong></mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div style="display: block;width: 100%;">
                                    <div style="width: 40%;display: inline-block;">
                                        <span
                                            style="padding-bottom: 5px;font-size: 12px;color:#808495;padding-left: 15px;display: block">
                                            NO OF DAY</span>
                                        <mat-form-field appearance="outline"
                                            style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;">
                                            <mat-label>Symbol</mat-label>
                                            <mat-select formControlName="symbol" required>
                                                <mat-select-trigger>
                                                    <mat-icon style="position: absolute;margin-top: -8px;">
                                                        <i
                                                            class="material-icons">{{adjustmentForm.controls.symbol.value}}</i>
                                                    </mat-icon>
                                                </mat-select-trigger>
                                                <mat-option value="add" (click)="enableDisableSubmitButton()">
                                                    <mat-icon><i class="material-icons" style="display: flex;">add</i>
                                                    </mat-icon>
                                                </mat-option>
                                                <mat-option value="remove" (click)="enableDisableSubmitButton()">
                                                    <mat-icon><i class="material-icons"
                                                            style="display: flex;">remove</i></mat-icon>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div style="width: 60%;display: inline-block;">
                                        <mat-form-field appearance="outline"
                                            style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;padding-right: 15px;">
                                            <mat-label>Number of days</mat-label>
                                            <input type="number" matInput formControlName="noOfDay" required
                                                (input)="enableDisableSubmitButton()">
                                            <!-- <mat-error>No of day is <strong>required</strong></mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="display: block;width: 100%;">
                                    <span
                                        style="display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;">
                                        REASON</span>
                                    <mat-form-field appearance="outline"
                                        style="height: 130px;display: block;font-size: 12px;width: 100%;color:#43425d;opacity: 0.8;padding-left: 15px;padding-right: 15px;">
                                        <mat-label>Please enter reason</mat-label>
                                        <textarea matInput formControlName="reason" required
                                            (input)="enableDisableSubmitButton()"
                                            style="height: 100px;resize: none;"></textarea>
                                        <!-- <mat-error>Reason is <strong>required</strong></mat-error> -->
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <div style="margin: 0 auto;padding: 15px;padding-top: 0;;text-align: center;">
                            <ion-button
                                style="--border-radius: 2px;font-size: 11px;height: 30px;width: 100%;background: white;text-transform: none;"
                                color="primary"
                                (click)="patchLeaveNumber();adjustmentForm.reset();showSmallSpinner = true;mainCheckBox=false;indeterminate=false;"
                                [disabled]="disableSubmitButton">
                                Submit<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                                </ion-spinner>
                            </ion-button>
                        </div>
                    </div>
                    <div class="assigned">
                        <div
                            style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-top: 1px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
                            <ion-row nowrap>
                                <ion-col size="1.5"
                                    style="text-align: center;padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                                    <ion-checkbox mode="ios" style="width: 18px; height: 18px;margin-top: 6px;"
                                        [(ngModel)]="mainCheckBox" [indeterminate]="indeterminate"
                                        (click)="mainCheckboxEvent()">
                                    </ion-checkbox>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-label style="font-size: 12px;">ID</ion-label>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
                                </ion-col>
                                <ion-col size="4" style="text-align: center;">
                                    <ion-label style="font-size: 12px;">ENTITLEMENT</ion-label>
                                </ion-col>
                            </ion-row>
                        </div>
                        <div style="width: 100%; height:100%; text-align: center; margin-top: -30px"
                            *ngIf="showSpinner">
                            <app-spinner></app-spinner>
                        </div>
                        <p *ngIf="showSelectToView" style="color: #a3a6b4;opacity:0.8;font-size: 12px;width: 30%;
                            margin: 0 auto;padding-top: 30px;">
                            Nothing to view. Please select company and department first. </p>
                        <div class="content" *ngIf="filteredUserItems.length > 0">
                            <ion-row class="detailsRow" *ngFor="let item of filteredUserItems; let i=index">
                                <ion-col size="1.5" style="text-align: center;padding-left: 10px;padding-right: 30px;">
                                    <ion-avatar class="avatar" (mouseover)="hoverEvent(i, true, item.isChecked)"
                                        (mouseout)="hoverEvent(i, false, item.isChecked)">
                                        <img src="assets/icon/evans.jpg" style="margin-left: 5px;"
                                            [style.display]="showCheckbox[i] ? 'none' : 'block'">
                                        <div class="checkboxOnAvatar"
                                            [style.display]="showCheckbox[i] ? 'block' : 'none'">
                                            <ion-checkbox mode="ios"
                                                style="width: 18px; height: 18px;position: absolute;margin-top: 7px;margin-left: -4px;"
                                                [(ngModel)]="item.isChecked" (ionChange)="subEvent()">
                                            </ion-checkbox>
                                        </div>
                                    </ion-avatar>
                                </ion-col>
                                <ion-col size="2" class="colOfLeave"
                                    style="color: #808495; font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    {{item.staffNumber}}
                                </ion-col>
                                <ion-col size="4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    <ion-label style="color:#43425d; font-weight: bold;;font-size: 12px;">
                                        {{item.employeeName}}</ion-label>
                                    <p
                                        style="color: #808495;font-size:11px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                                        {{item.designation}}</p>
                                </ion-col>
                                <ion-col size="4" class="colOfLeave"
                                    style="text-align: center;color: #808495; font-size: 11px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    {{item.entitlement}}
                                </ion-col>
                                <ion-item class="divider" lines="full"></ion-item>
                            </ion-row>
                        </div>
                        <div *ngIf="showNoResult" style="width: 100%; text-align:center;padding: 10px">
                            <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
                            <p style="font-size: 20px;color:#bebebe;padding-top:10px ">No Results Found</p>
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>