:host {
  .titleRow {
    padding-bottom: 10px;
    color: #20291f;
  }
  .divider {
    --min-height: none;
    // padding-top: 1%;
    // padding-bottom: 1%;
    width: 100%;
  }
  .detailsRow {
    height: 55px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    // margin-top: -7px;
  }
  .button-outline {
    --border-width: 1px;
  }
  ion-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
  }
  .search-icon {
    width: 30px;
    height: 30px;
    fill: #a3a6b4;
    opacity: 0.8;
    margin: 0 auto;
  }
  .calendar-icon {
    fill: #a5a4bf;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 10px;
  }

  // new
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 154px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    // padding: 0 10px;
  }
  .details {
    flex: 30%;
    max-width: 30%;
  }
  .assigned {
    flex: 70%;
    max-width: 70%;
    margin-left: 10px;
  }
  .content {
    height: 512px;
    overflow: auto;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    // padding-top: 3px;
  }
  ::ng-deep .mat-select-value-text {
    color: #43425d;
    opacity: 0.8;
  }

  @media screen and (min-width: 576px) {
    .leave-adjustment-popup {
      --width: 600px;
    }
  }

  @media screen and (max-width: 576px) {
    .leave-adjustmnet-table {
      margin: 15px 0;
    }

    .leave-adjustment-popup {
      --width: 304px;
    }
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  // mat tab
  ::ng-deep .mat-tab-header {
    // margin-top: -13px;
    // margin-left: -16px;
    // margin-right: -16px;
    border: none;
    width: fit-content;
    border-radius: 4px;
  }
  ::ng-deep .mat-tab-label {
    height: 35px !important;
    // color: #a5a4bf;
    // font-weight: bold;
    font-size: 11px;
    // margin-left: -20px;
    color: #ffffff;
    width: 200px;
    padding: 0px 0px 0px 20px;
    opacity: 1;
  }
  ::ng-deep .mat-tab-labels {
    background: #43425d; //#f5f6fa;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    // color: #7069d8;
    // font-weight: bold;
    font-size: 11px;
    background: #7069d8;
    color: #ffffff;
    padding: 0px 0px 0px 20px;
    width: 200px;
  }
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }

  ::ng-deep .mat-tab-label-content {
    padding: 0 60px;
  }

  ::ng-deep .mat-tab-label-container {
    height: 30px;
    align-items: center;
  }

  ::ng-deep {
    .mobileView-tab {
      .mat-tab-header {
        width: -webkit-fill-available;
      }

      .mat-tab-label {
        width: 100%;
      }
      .mat-tab-label-content {
        padding: 0px;
      }
    }
  }
}
