<div style="margin-top: 4%;">
    <form [formGroup]="adjustmentForm">
        <div style="display: inline-block;width: 31%;">
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                COMPANY LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select company tenant</mat-label>
                <mat-select formControlName="company" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of company" [value]=company.TENANT_COMPANY_GUID
                        (click)="companySelected(company.TENANT_COMPANY_GUID);enableDisableSubmitButton()">
                        <!-- true -->
                        {{company.NAME}}
                    </mat-option>
                </mat-select>
                <mat-error>Company tenant is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 31%;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                DEPARTMENT LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select department</mat-label>
                <mat-select formControlName="department" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let department of department" [value]=department.department
                        (click)="departmentSelected(department.department);enableDisableSubmitButton()">
                        <!-- true -->
                        {{department.department}}
                    </mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                        margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error>Department is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="width: 31%;display: inline-block;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                LEAVE TYPE</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select leave type</mat-label>
                <mat-select formControlName="leavetype" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let leavetype of leavetypeList" [value]=leavetype.LEAVE_TYPE_GUID
                        (click)="enableDisableSubmitButton(); getLeaveEntitlement(leavetype.LEAVE_TYPE_GUID)">
                        <!-- true -->
                        {{leavetype.CODE}}
                    </mat-option>
                </mat-select>
                <mat-error>Leave type is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        <div style="display: block;width: 100%;">
            <div style="width: 10%;display: inline-block;">
                <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                    NO OF DAY</span>
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                    <mat-label>Symbol</mat-label>
                    <mat-select formControlName="symbol" required>
                        <mat-select-trigger>
                            <mat-icon style="position: absolute;margin-top: -8px;">
                                <i class="material-icons">{{adjustmentForm.controls.symbol.value}}</i></mat-icon>
                        </mat-select-trigger>
                        <mat-option value="add" (click)="enableDisableSubmitButton()">
                            <!-- true -->
                            <mat-icon><i class="material-icons" style="display: flex;">add</i></mat-icon>
                        </mat-option>
                        <mat-option value="remove" (click)="enableDisableSubmitButton()">
                            <!-- true -->
                            <mat-icon><i class="material-icons" style="display: flex;">remove</i></mat-icon>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="width: 21%;display: inline-block;">
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 5px;">
                    <mat-label>Please enter number of day</mat-label>
                    <input type="number" matInput formControlName="noOfDay" required
                        (input)="enableDisableSubmitButton()">
                    <!-- true -->
                    <mat-error>No of day is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            &nbsp;&nbsp;
            <div style="display: inline-block;width: 31%;">
                <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                    REASON</span>
                <mat-form-field appearance="outline"
                    style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                    <mat-label>Please enter reason</mat-label>
                    <input matInput formControlName="reason" required (input)="enableDisableSubmitButton()">
                    <!-- true -->
                    <mat-error>Reason is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="content" *ngIf="filteredUserItems.length > 0">
        <ion-row class="titleRow" nowrap>
            <ion-col size="0.7" style="padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                <ion-checkbox mode="ios" style="width: 20px; height: 20px;margin-top: 6px;" [(ngModel)]="mainCheckBox"
                    [indeterminate]="indeterminate" (click)="mainCheckboxEvent()">
                </ion-checkbox>
            </ion-col>
            <ion-col size="1">
                <ion-label style="font-size: 12px;">ID</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">DESIGNATION</ion-label>
            </ion-col>
            <ion-col size="2" style="text-align: center;">
                <ion-label style="font-size: 12px;">ENTITLEMENT</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of filteredUserItems; let i=index">
            <ion-col size="0.7" style="padding-left: 10px;padding-right: 30px;">
                <ion-avatar class="avatar" (mouseover)="hoverEvent(i, true, item.isChecked)"
                    (mouseout)="hoverEvent(i, false, item.isChecked)">
                    <img src="assets/icon/evans.jpg" style="margin-left: -4px;"
                        [style.display]="showCheckbox[i] ? 'none' : 'block'">
                    <div class="checkboxOnAvatar" [style.display]="showCheckbox[i] ? 'block' : 'none'">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;position: absolute;margin-top: 7px;"
                            [(ngModel)]="item.isChecked" (ionChange)="subEvent()">
                        </ion-checkbox>
                    </div>
                </ion-avatar>
            </ion-col>
            <ion-col size="1" class="colOfLeave"
                style="color: #7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.staffNumber}}
            </ion-col>
            <ion-col size="4" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <ion-label style="color:#057dcd; font-size: 13px;">{{item.employeeName}}</ion-label>
            </ion-col>
            <ion-col size="3" class="colOfLeave"
                style="color:#7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.designation}}
            </ion-col>
            <ion-col size="2" class="colOfLeave"
                style="text-align: center;color:#7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.entitlement}}
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>
    </div>
    <div *ngIf="showNoResult" style="width: 100%; text-align:center;padding: 10px">
        <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
        <p style="font-size: 20px;color:#bebebe;padding-top:10px ">No Results Found</p>
    </div>
    <div style="margin: 0 auto;padding: 20px;text-align: center;">
        <ion-button style="font-size: 12px;height: 30px;width: 110px;background: white;" color="primary"
            (click)="patchLeaveNumber();adjustmentForm.reset();showSmallSpinner = true;mainCheckBox=false;indeterminate=false;"
            [disabled]="disableSubmitButton">
            SUBMIT
        </ion-button>
        <div style="display: inline-block;margin-top: 10px;padding-left: 5px;vertical-align: middle;"
            *ngIf="showSmallSpinner">
            <ion-spinner name="lines-small" color="primary"></ion-spinner>
        </div>
    </div>
</div>