:host{
    mat-form-field {
        width: 100%;
      }
      ion-card {
        width: 40%;
      }
      .example-container {
        padding: 10%;
        padding-top: 15%;
      }
      .showHidePassword {
        cursor: pointer;
        font-size: 16px;
        color: #43425d;
      }
      .avatar {
        width: 100px;
        height: 100px;
        border: solid 0.5px #dfe3e6;
        background-color: #fafafa;
        border-radius: 100%;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 23px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .column1 {
        flex: 41%;
        max-width: 41%;
      }
      .column2 {
        flex: 59%;
        max-width: 59%;
      }
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        font-size: 12px;
        color: #43425d;
      }
}