<ion-header>
    <ion-toolbar class="toolbar2">
        <ion-icon name="arrow-back" style="cursor: pointer; font-size: 22px" (click)="backToProfile()"></ion-icon>
        <ion-title style="display: inline-block;color: #20291f" *ngIf="personalList">
            {{personalList.employeeName}}'s Profile
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </ion-toolbar>
</ion-header>

<ion-card class="leftCard">
    <ion-card-content>
        <mat-tab-group selectedIndex="0">
            <mat-tab label="Apply Leave">
                <div class='app-calendar'>
                    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek'
                        }" [plugins]="calendarPlugins" [events]="calendarEvents" (dateClick)="handleDateClick($event)">
                    </full-calendar>
                </div>
                <div class="selection">
                    <div style="display:block; white-space: nowrap;">
                        <mat-form-field appearance="outline" style="width: 74%;">
                            <mat-label>Leave types</mat-label>
                            <mat-select class="selectLeave" [(value)]="types" placeholder="Leave Type">
                                <mat-option value="option1">Annual Leave</mat-option>
                                <mat-option value="option2">Emergency Leave</mat-option>
                                <mat-option value="option3">Medical Leave</mat-option>
                                <mat-option value="option4">Unpaid Leave</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;&nbsp;
                        <mat-form-field style="width: 20%" appearance="outline">
                            <mat-label>{{days}} Days available</mat-label>
                            <input matInput [(value)]="days">
                        </mat-form-field>
                    </div>
                    <div style="display:block; white-space: nowrap;">
                        <form [formGroup]="dateFromForm" class="dateForm">
                            <mat-form-field class="date" appearance="outline">
                                <mat-label>Start date</mat-label>
                                <input class="dateInput" matInput [matDatepicker]="picker1"
                                    formControlName="firstPicker" required (dateInput)="getValueFrom($event)"
                                    [max]="maxDateAllow" (dateChange)="onDateFromChange()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="picker1.invalid">Please select end date</mat-error>
                            </mat-form-field>
                        </form>
                        &nbsp;&nbsp;
                        <form [formGroup]="dateToForm" class="dateForm">
                            <mat-form-field class="date" appearance="outline">
                                <mat-label>End date</mat-label>
                                <input class="dateInput" matInput [matDatepicker]="picker2"
                                    formControlName="secondPicker" required (dateInput)="getValueTo($event)"
                                    [min]="minDateAllow" (dateChange)="onDateToChange()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error *ngIf="picker2.invalid">Please select end date</mat-error>

                            </mat-form-field>
                        </form>
                        &nbsp;&nbsp;
                        <mat-form-field style="width: 20%" appearance="outline">
                            <mat-label>No of days</mat-label>
                            <input matInput [(value)]="days">
                        </mat-form-field>
                    </div>
                    <div style="padding-bottom: 15px; display: block; white-space: nowrap;">
                        <!-- <mat-radio-button value="halfDay" (change)="halfDaySelected($event)">Half
                            day
                        </mat-radio-button> -->
                        <ion-item lines="none">
                            <ion-checkbox class="ionCheckbox" (ionChange)="halfDaySelected($event)" mode="ios">
                            </ion-checkbox>
                            <ion-label style="color: #7a8589;font-size: 14px;margin: 0;
                            padding-left: 8px;">Half day</ion-label>
                        </ion-item>
                        <mat-radio-group class="example-radio-group" style="width: 24%"
                            [(ngModel)]="timeSlot" [disabled]="!halfDayButtonSelected">
                            <mat-radio-button value="AM">AM
                            </mat-radio-button>
                            <mat-radio-button style="padding-left: 15px;" value="PM">PM
                            </mat-radio-button>
                        </mat-radio-group>
                        &nbsp;&nbsp;
                        <mat-form-field class="halfday" appearance="outline" style="width: 42%;">
                            <mat-label>Half day dates</mat-label>
                            <mat-select class="selectLeave" [(value)]="types" [disabled]="disabledHalfDayDate" placeholder="Leave Type">
                                <mat-option value="option1">Annual Leave</mat-option>
                                <mat-option value="option2">Emergency Leave</mat-option>
                                <mat-option value="option3">Medical Leave</mat-option>
                                <mat-option value="option4">Unpaid Leave</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-hint style="font-size: 75%;display: block;padding: 5px;padding-top: 0;">
                            Please ignore this selection if not considered</mat-hint>
                    </div>
                    <form [formGroup]="reasons">
                        <mat-form-field appearance="outline">
                            <mat-label>Reason</mat-label>
                            <input matInput [(value)]="reason" formControlName="inputReason" required>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Please insert the reason</mat-hint> -->
                        </mat-form-field>
                    </form>

                    <div style="text-align: center;">
                        <ion-button shape="round" fill="outline"
                            (click)="types=undefined;days='';reason=''; $event.stopPropagation()"
                            style="height: 27px; font-size: 12px;text-transform: none">Clear
                        </ion-button>
                        <ion-button shape="round"
                            style="height: 27px;font-size: 12px;width: 115px;text-transform: none">
                            Apply for days
                        </ion-button>
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Calendar">
            </mat-tab>
            <!-- <mat-tab label="My Entitlement">
                <app-employment></app-employment>
            </mat-tab> -->
        </mat-tab-group>

    </ion-card-content>
</ion-card>