:host {
  top: 48px;
  overflow: auto;
  // ------------------- header ----------------//
  .header-md:after {
    height: 0px;
    background-image: none;
  }
  .toolbar2 {
    --min-height: 35px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .fa-instagram {
    font-size: 18px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .fa-linkedin-in {
    color: #007bb6;
    padding-right: 10px;
  }
  .fa-facebook-f {
    color: #3b5998;
    padding-right: 10px;
    font-size: 18px;
    padding-top: 5px;
  }
  .bell-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
  }
  .edit-icon {
    float: right;
    fill: #7a8589;
    width: 20px;
    height: 20px;
  }
  .search-icon {
    float: left;
    width: 20px;
    height: 20px;
    fill: #7a8589;
  }
  .verticalLine {
    border-left: 1px solid #dfe3e6;
    height: 28px;
    float: right;
    padding-right: 20px;
  }
  .labelName {
    float: right;
    font-size: 14px;
    color: #7a8589;
    padding-right: 10px;
    padding-top: 8px;
  }
  .card-content-md p {
    font-size: 13px;
  }
  .subtitle {
    display: inline;
  }
  .fa-map-marker-alt {
    padding-right: 10px;
  }
  .divider {
    --min-height: none;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .leftCard {
    width: 62%;
    position: absolute;
    top: 58px;
    left: 60px;
  }
  .detailsRow {
    padding-left: 10%;
    padding-top: 5px;
  }
  ion-label {
    color: #20291f;
    font-weight: 500;
  }
  .text {
    display: inline-block;
    padding: 10px;
    width: 35%;
    border-radius: 3.5px;
    border: solid 0.5px #dfe3e6;
    background-color: #fafafa;
  }
  .iconDiv {
    position: absolute;
    top: 17px;
    left: 17px;
  }
  .back-icon {
    width: 30px;
    height: 19px;
    fill: #20291f;
    float: left;
    cursor: pointer;
  }
  .trophy-icon {
    width: 26px;
    height: 26px;
    fill: #7a8589;
    float: left;
  }
  .certificate-icon {
    width: 26px;
    height: 26px;
    fill: #7a8589;
    float: left;
  }
  .next-icon {
    float: right;
    width: 20px;
    height: 20px;
    fill: #bebebe;
    margin-top: 17px;
    margin-right: 100px;
    cursor: pointer;
  }
  ////////////////////////// mat card ///////////////////
  .rightCard {
    width: 24%;
    position: absolute;
    right: 60px;
    top: 68px;
    height: 57%;
  }
  .fa-star {
    position: absolute;
    cursor: pointer;
  }
  // .fa-comment{
  //     padding-right: 5px
  // }
  .message-icon {
    width: 15px;
    height: 15px;
    fill: #057dcd;
  }
  .mail-icon {
    width: 15px;
    height: 15px;
    fill: #7a8589;
    float: left;
  }
  .marker-icon {
    width: 17px;
    height: 16px;
    fill: #7a8589;
    float: left;
  }
  //   .fa-envelope {
  //     padding-right: 10px;
  //   }
  .mat-card-header {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  mat-card-subtitle {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer {
    text-align: center;
    padding-top: 10px;
  }
  .footerButton {
    color: #057dcd;
    width: 80%;
    font-size: 12px;
    text-transform: none;
  }
  .button-outline {
    --border-width: 1px;
  }
}
