<div class="box">
    <!-- <div class="back-icon" [inlineSVG]="'assets/icon/option/arrow-pointing-to-left-edit.svg'"
        (click)="dialogAddOneEmployee.close()"></div> -->
    <!-- <p style="text-align: center;color: #7a8589;font-size: 16px;padding-bottom: 3%;margin-top: 0;">
        Please enter the employee details below</p> -->
    <div style="display: block;width: 60%;">
        <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
            SELECT COMPANY</span>
        <mat-form-field appearance="outline"
            style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
            <mat-label>Please select company</mat-label>
            <mat-select required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let company of companyList" [value]=company.TENANT_COMPANY_GUID
                    (click)="companySelected(company.TENANT_COMPANY_GUID);">
                    {{company.NAME}}
                </mat-option>
            </mat-select>
            <!-- <mat-error>Company tenant is <strong>required</strong></mat-error> -->
        </mat-form-field>
    </div>

    <div style="display: block;width: 100%;">
        <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                BRANCH</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create branch</mat-label>
                <input matInput [matAutocomplete]="branch" [formControl]="branchCtrl" (keyup.enter)="enter()">
                <mat-autocomplete #branch="matAutocomplete" (optionSelected)="optionSelected($event.option)">
                    <mat-option style="font-size: 12px;color: #43425d;">None</mat-option>
                    <mat-option *ngFor="let branch of filteredBranch | async" [value]="branch.BRANCH">
                        <span style="font-size: 12px;color: #43425d;">{{branch.BRANCH}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                DIVISION</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create division</mat-label>
                <input matInput [formControl]="divisionCtrl">
                <!-- [matAutocomplete]="auto" (keyup.enter)="enter()" -->
                <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option)">
                    <mat-option *ngFor="let state of filteredDivision | async" [value]="state">
                        <span style="font-size: 12px;color: #43425d;">{{ state }}</span>
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </div>
    </div>

    <div style="display: block;width: 100%;">
        <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                SECTION</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create section</mat-label>
                <input matInput [matAutocomplete]="section" [formControl]="sectionCtrl" (keyup.enter)="enterSection()">
                <mat-autocomplete #section="matAutocomplete" (optionSelected)="optionSectionSelected($event.option)">
                    <mat-option style="font-size: 12px;color: #43425d;">None</mat-option>
                    <mat-option *ngFor="let section of filteredSection | async" [value]="section.SECTION">
                        <span style="font-size: 12px;color: #43425d;">{{section.SECTION}}</span>
                    </mat-option>
                </mat-autocomplete>
                <!-- <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let section of sectionList" [value]=section.SECTION>
                        {{section.SECTION}}
                    </mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                DEPARTMENT</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create department</mat-label>
                <input matInput [matAutocomplete]="department" [formControl]="departmentCtrl"
                    (keyup.enter)="enterDepartment()">
                <mat-autocomplete #department="matAutocomplete"
                    (optionSelected)="optionDepartmentSelected($event.option)">
                    <mat-option style="font-size: 12px;color: #43425d;">None</mat-option>
                    <mat-option *ngFor="let department of filteredDepartment | async" [value]="department.DEPARTMENT">
                        <span style="font-size: 12px;color: #43425d;">{{department.DEPARTMENT}}</span>
                    </mat-option>
                </mat-autocomplete>
                <!-- <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let department of departmentList" [value]=department.DEPARTMENT>
                        {{department.DEPARTMENT}}
                    </mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
    </div>

    <div style="display: block;width: 100%;">
        <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                COST CENTRE</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create cost centre</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let costcentre of costcentre" [value]=costcentre.COSTCENTRE>
                        {{costcentre.COSTCENTRE}}
                    </mat-option>
                </mat-select>
                <!-- <mat-error>Company tenant is <strong>required</strong></mat-error> -->
            </mat-form-field>
        </div>
        <!-- <div style="display: inline-block;width: 47%;">
            <span style="padding-bottom: 5px;font-size: 12px;color:#808495;display: block">
                BRANCH DEPARTMENT</span>
            <mat-form-field appearance="outline"
                style="height: 55px;display: block;font-size: 12px;width: 100%;color:#43425d;">
                <mat-label>Select/Create branch department</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of companyList" [value]=company.TENANT_COMPANY_GUID
                        (click)="companySelected(company.TENANT_COMPANY_GUID);">
                        {{company.NAME}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        &nbsp;&nbsp; -->

    </div>

    <ion-item class="divider" lines="full"></ion-item>

    <form [formGroup]="invitationForm">
        <div style="display:block; white-space: nowrap;width: 100%;">
            <div style="width: 100%;display: inline-block;">
                <span style="font-size: 12px;color: #808495;display: block">
                    EMPLOYEE NAME</span>
                <mat-form-field appearance="outline" style="width: 100%;font-size: 12px;color: #43425d;opacity: 0.8;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="!invitationForm.name">
                        Employee name is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            &nbsp;&nbsp;
            <!-- <div style="width: 40%;display: inline-block;">
                <span style="font-size: 12px;color:#707070;padding-left: 3px;display: block">
                    NRIC </span>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Please enter IC number</mat-label>
                    <input matInput formControlName="IC">
                    <mat-error *ngIf="!invitationForm.IC">
                        IC number is <strong>required</strong></mat-error>
                </mat-form-field>
            </div> -->
        </div>

        <div style="display:block; white-space: nowrap;width: 100%;">
            <div style="width: 50%;display: inline-block;">
                <span style="font-size: 12px;color: #808495;display: block">
                    EMPLOYEE ID </span>
                <mat-form-field appearance="outline" style="width: 100%;font-size: 12px;">
                    <mat-label>Employee ID Number</mat-label>
                    <input matInput formControlName="id" required>
                    <mat-error *ngIf="!invitationForm.id">
                        ID is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            &nbsp;&nbsp;
            <div style="width: 45%;display: inline-block;">
                <span style="font-size: 12px;color: #808495;display: block">
                    DATE OF HIRE </span>
                <mat-form-field class="date" appearance="outline" style="width: 100%;font-size: 12px;">
                    <mat-label>Hired Date</mat-label>
                    <input class="dateInput" matInput [matDatepicker]="picker1" formControlName="joinDate" required>
                    <!-- (dateInput)="getValueFrom($event)" (dateChange)="onDateChange()" -->
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle> -->
                    <!-- <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker1.open()">
                    </div> -->
                    <img src="assets/icon/add_employee/icon_calendar@3x.png" style="width:11px;height:11px;cursor: pointer;position: absolute;
                        right: 0;top: 10px;" (click)="picker1.open()">
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="!invitationForm.joinDate">
                        Hired date is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <!-- &nbsp;&nbsp;
            <div style="width: 40%;display: inline-block;">
                <span style="font-size: 12px;color:#707070;padding-left: 3px;display: block">
                    DESIGNATION </span>
                <mat-form-field appearance="outline" style="width: 100%;padding-top: 1%;">
                    <mat-label>Please enter designation</mat-label>
                    <mat-select class="selectLeave" formControlName="designation" required>
                        <mat-option *ngFor="let designationItem of designationList; let i=index"
                            [value]="designationItem.DESIGNATION">
                            <!-- (click)="getIndex(leave)" --
                            {{designationItem.DESIGNATION}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!invitationForm.designation">
                        Designation is <strong>required</strong></mat-error>
                </mat-form-field>
            </div> -->
        </div>

        <!-- <div style="display:block; white-space: nowrap;width: 100%;margin-left: 30px;">
            <div style="width: 30%;display: inline-block;">
                <span style="font-size: 12px;color:#707070;padding-left: 3px;display: block">
                    EMAIL ADDRESS </span>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Please enter email address</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="!invitationForm.email">
                        Email is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            &nbsp;&nbsp;
            <div style="width: 31%;display: inline-block;">
                <span style="font-size: 12px;color:#707070;padding-left: 3px;display: block">
                    PERSONAL PHONE NUMBER </span>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Please enter phone number</mat-label>
                    <input matInput formControlName="phone" required>
                    <mat-error *ngIf="!invitationForm.phone">
                        Phone number is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div> -->

        <!-- <div style="text-align: right;padding-right: 7.5%;">
            <ion-button fill="outline" style="font-size: 12px;height: 30px;width: 90px;background: white;"
                color="primary" (click)="dialogAddOneEmployee.close()">
                CANCEL
            </ion-button>
            <div style="width: 10px; display: inline-block"></div>
            <ion-button style="font-size: 12px;height: 30px;width: 160px;" color="primary"
                [disabled]="invitationForm.invalid" (click)="sendInvitation()">SEND INVITATION
            </ion-button>
            <div style="display: inline-block;margin-top: 10px;padding-left: 5px;vertical-align: middle;"
                *ngIf="showSmallSpinner">
                <ion-spinner name="lines-small" color="primary"></ion-spinner>
            </div>
        </div> -->
    </form>
</div>