<ion-header>
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f;font-size: 16px;">
            Roles
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <div style="width: 16px;height: 20px;fill: #057dcd;float: left;" [inlineSVG]="'assets/icon/option/add.svg'">
            </div>
            <ion-label class="label" style="font-size: 14px; color: #057dcd;
            margin-top: 2px;padding-right: 10px;cursor: pointer;padding-left: 10px;"
                (click)="router.navigate(['/main/role-management/create-new-role']);">
                Create role</ion-label>
        </div>
    </ion-toolbar>
</ion-header>
<router-outlet></router-outlet>