<h1 mat-dialog-title style="text-align: center;color: #20291f;font-size: 14px;">Expiration Date</h1>
<div mat-dialog-content style="text-align: center;color:#7a8589;font-size: 13px;">
    <p>Please select expiration date for user <strong>{{data.name}}</strong></p>
    <mat-form-field style="font-size: 13px;color: #7a8589;padding-top: 10px;" outline>
        <mat-label>Expiration date</mat-label>
        <input class="dateInput" matInput [matDatepicker]="picker" required (dateChange)="expirationDateChange($event)">
        <div class="calendar-icon" [inlineSVG]="'assets/icon/option/calendar.svg'" (click)="picker.open()">
        </div>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: block; text-align: center;color:#7a8589;font-size: 13px;">
    <button mat-button (click)="cancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="date" cdkFocusInitial>Save</button>
</div>