<div style="background-color:#f9fafc; height: 100%;">
    <div style="width: 55%; background-color:#f9fafc; display: inline-block;padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 9%;">
        <mat-form-field style="width: 10%; font-size: 12px">
            <mat-select>
                <mat-option value="ID">ID</mat-option>
                <mat-option value="name">name</mat-option>
            </mat-select>
            <mat-label>
                <mat-icon>search</mat-icon>
            </mat-label>
        </mat-form-field>

        <mat-form-field style="width: 40%; font-size: 12px">
            <input matInput placeholder="Search by ID or name">
        </mat-form-field>
    </div>
    <i class="fas fa-bars" style="display: inline; padding-right: 10px; color: #bebebe"></i>
    <i class="fas fa-th" style="display: inline; color: #bebebe"></i>
    <mat-paginator class="topPaginator" [length]="100" [pageSize]="6"></mat-paginator>
    <ion-content style="padding: 20px;height: calc( 100% - 130px); background-color: #f9fafc;">
        <ion-row class="titleRow">
            <ion-col size="1" style="padding-left: 10px;">
                <ion-checkbox mode="ios" style="width: 20px; height: 20px;"></ion-checkbox>
            </ion-col>
            <ion-col size="1" style="display: inline-flex">
                <ion-label style="font-size: 12px;">ID</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesId()" *ngIf="sortDirectionArrowDownId">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownId" (click)="sortAscId()">
                </ion-icon>
            </ion-col>
            <ion-col size="5" style="display: inline-flex">
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesName()"
                    *ngIf="sortDirectionArrowDownName">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownName" (click)="sortAscName()">
                </ion-icon>
            </ion-col>
            <ion-col size="4">
                <ion-label style="font-size: 12px;">DESIGNATION</ion-label>
            </ion-col>
            <ion-col size="2">
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of personalList ">
            <ion-col size="1">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                    <div class="checkboxOnAvatar">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;">
                        </ion-checkbox>
                    </div>
                </ion-avatar>
            </ion-col>
            <ion-col size="1">
                <ion-label style="color:#7a8589; font-size: 13px;">{{personalDataList.employmentDetail.employeeNumber}}</ion-label>
            </ion-col>
            <ion-col class="colOfLeave" size="5" style="color: #057dcd; font-size: 13px;">{{item.employeeName}}
            </ion-col>
            <ion-col class="colOfLeave" size="4" style="color:#7a8589; font-size: 13px;">{{item.designation}}
            </ion-col>
            <ion-col align-self-end>
                <i class="far fa-comment" style="color: #057dcd"></i>
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>
    </ion-content>
    <div style="padding-left: 17px; display: inline-flex">
        <ion-button fill="outline" style="font-size: 12px;height: 30px;width: 90px;" color="primary">
            <ion-icon name="arrow-back"></ion-icon>Prev
        </ion-button>
        <div style="padding-left: 10px"></div>
        <ion-button style="font-size: 12px;height: 30px;width: 90px;" color="primary">Next<ion-icon
                name="arrow-forward">
            </ion-icon>
        </ion-button>
        <mat-paginator class="bottomPaginator" [length]="100" [pageSize]="6"></mat-paginator>
    </div>
</div>