<div class="connectionsContainer">
    <div class="topHeader">
        <ion-searchbar mode="ios" class="searchbar" placeholder="Search by ID or name" (ionClear)="clearDetails()"
            (ionChange)="changeDetails($event)"></ion-searchbar>
        <div style="display: inline-block;
        white-space: nowrap;
        width: 66%;">
            <div style="padding-top: 18px;display: inline-block;padding-left: 46%">
                <i class="fas fa-bars"></i>
                <i class="fas fa-th"></i>
            </div>
            <div style="color: #7a8589;font-size: 12px;display: inline;
            padding-left: 3%;">
                <span style="padding-right: 10px;">Page</span>
                <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
                padding-right: 7px;">{{pageIndex}}</span>
                <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
                <i class="fas fa-angle-left" title="Previous page"
                    style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                    (click)="clickToPrevPage(pageIndex-1)"></i>
                <i class="fas fa-angle-right" title="Next page"
                    style="cursor:pointer; font-size: 15px;padding-left: 10px"
                    (click)="clickToNextPage(pageIndex+1)"></i>
            </div>
        </div>
    </div>


    <ion-content style="padding: 20px;height: calc( 100% - 130px); --background: #f9fafc;">
        <ion-row class="titleRow">
            <ion-col size="0.7" style="padding-left: 10px;">
                <ion-checkbox mode="ios" style="width: 20px; height: 20px;"></ion-checkbox>
            </ion-col>
            <ion-col size="1" style="display: inline-flex">
                <ion-label style="font-size: 12px;">ID</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesId()" *ngIf="sortDirectionArrowDownId">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownId" (click)="sortAscId()">
                </ion-icon>
            </ion-col>
            <ion-col size="3" style="display: inline-flex">
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
                <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesName()"
                    *ngIf="sortDirectionArrowDownName">
                </ion-icon>
                <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDownName" (click)="sortAscName()">
                </ion-icon>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">DESIGNATION</ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-label style="font-size: 12px;">EMAIL ADDRESS</ion-label>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of personalList; let i=index">
            <ion-col size="0.7">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                    <div class="checkboxOnAvatar">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;">
                        </ion-checkbox>
                    </div>
                </ion-avatar>
            </ion-col>
            <ion-col size="1">
                <ion-label style="color:#7a8589; font-size: 13px;">{{item.staffNumber}}</ion-label>
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color: #057dcd; font-size: 13px;">{{item.employeeName}}
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.designation}}
            </ion-col>
            <ion-col class="colOfLeave" size="3" style="color:#7a8589; font-size: 13px;">{{item.email}}
            </ion-col>
            <ion-col>
                <ion-icon name="more" style="color: #dfe3e6; cursor: pointer"></ion-icon>
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>
    </ion-content>
    <div style="padding-left: 17px; display: inline-flex">
        <ion-button [disabled]="disabledPreviousButton" fill="outline" (click)="clickToPrevPage(pageIndex-1)"
            style="font-size: 12px;height: 30px;width: 90px;" color="primary">
            <ion-icon name="arrow-back"></ion-icon>Prev
        </ion-button>
        <div style="padding-left: 10px"></div>
        <ion-button [disabled]="disabledNextButton" style="font-size: 12px;height: 30px;width: 90px;" color="primary"
            (click)="clickToNextPage(pageIndex+1)">Next<ion-icon name="arrow-forward">
            </ion-icon>
        </ion-button>
        <div style="position: absolute;right: 73px;bottom: 11px;color: #7a8589; font-size: 12px;">
            <span style="padding-right: 10px;">Page</span>
            <span style="border-radius: 1.5px;border: solid 0.5px #dfe3e6;padding-left: 7px;
            padding-right: 7px;">{{pageIndex}}</span>
            <span style="padding-right: 10px;padding-right: 5px;padding-left: 5px;">of</span>{{totalPageIndex}}
            <i class="fas fa-angle-left" title="Previous page"
                style="padding-left: 10px;padding-right: 10px;font-size: 15px;cursor: pointer;"
                (click)="clickToPrevPage(pageIndex-1)"></i>
            <i class="fas fa-angle-right" title="Next page" style="cursor:pointer; font-size: 15px;padding-left: 10px"
                (click)="clickToNextPage(pageIndex+1)"></i>
        </div>
    </div>
</div>