    :host{
        ion-label{
            color:#20291f;
            font-weight: 500;
        }
        .arrow{
            font-size: 18px; 
            padding-left: 10px; 
            cursor: pointer;
            margin-top: -2px;
        }
        .detailsRow{
            height: 55px;
            background-color: #f9fafc;
        }
        .divider{
            --min-height: none;
            padding-top: 1%;
            padding-bottom: 1%; 
            width: 100%;
        }
        .avatar{
            width: 30px;
            height: 30px;
            margin-top: -7px;
        }
        .topPaginator{
            display: inline-block;
            right: 0;
            position: absolute;
            padding-top: 12px;
            background-color: #f9fafc;
        }
        .bottomPaginator{
            right: 0;
            position: absolute;
            background-color: #f9fafc;
        }
        .button-outline{
            --border-width: 1px;
        }
        .checkboxOnAvatar{
            display: none;
            padding-left: 5px;
            padding-top: 5px;
        }
        .avatar:hover > img {
            display: none;
        }
        .avatar:hover > .checkboxOnAvatar {
            display: inline-block;
        }
        .titleRow{
            background-color: #f9fafc;
        }
        .connectionsContainer{
            background-color:#f9fafc; 
            height: 100%;
            padding-left: 20px; 
            padding-right: 20px
        }
        .topHeader{
            width: 93%; 
            background-color:#f9fafc; 
            display: inline-block;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 15%;
        }
        .searchbar{
            width: 34%; 
            color: #7a8589; 
            font-size: 12px;
            float: left;
        }
        .fa-bars{    
            cursor: pointer;
        }
        .fa-th{
            padding-left: 10px;
            cursor: pointer;
        }
        .formField{
            width: 70%; 
            font-size: 12px
        }
        .numOfPeople{
            position: absolute;
            left: 24px;
            top: 32px;
            color: #20291f;
        }
        mat-card-subtitle{
            margin-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mat-card-header {
            justify-content: center;
            text-align: center;
            padding-top: 10px;
        }
        .mat-card-footer{
            text-align: center;
            background: #f9fafc;
            padding-top: 5px; 
            padding-bottom: 5px;
            position: absolute;
            bottom: 15px;
            width: 100%;
            border: solid 0.5px #dfe3e6;
            border-radius: 4px;
        }
        .fa-star{
            position: absolute;
            cursor: pointer;
        }
        .fa-comment{
            padding-right: 10px
        }
        .moreIcon{
            color: #dfe3e6;
            float: right;
            cursor: pointer;
        }
        .footerButton{
            color: #057dcd;
            background: transparent}
    }
        
  