<div class="title">Confirmation</div>
<div style="text-align: center;padding-left: 30px;padding-right: 30px;margin-bottom: 20px;">
  <!-- <p style="color: #43425d;line-height: 1.25;font-size: 12px;">Are you sure you want
    to change status for
    <strong>{{data.name}}</strong> ?</p> -->
  <p *ngIf="data.status == 'Activate'" style="color: #43425d;line-height: 1.25;font-size: 12px;text-align: left;">
    You are about to change <strong>{{data.name}}</strong> to active status. Once confirmed, you will need to reassign:
  </p>
  <p *ngIf="data.status == 'Activate'"
    style="color: #43425d;line-height: 1.25;font-size: 12px;font-weight: bold;text-align: left;">
    Calendar Profile, Working Hour Profile, Leave Entitlement and Employee Role.
  </p>
  <p *ngIf="data.status == 'Activate'" style="color: #43425d;line-height: 1.25;font-size: 12px; text-align: left;">
    After you click confirm, edit mode will turn on and you may start assign profiles accordingly.
  </p>

  <p *ngIf="data.status == 'Deactivate'" style="color: #43425d;line-height: 1.25;font-size: 12px;text-align: left;">
    You are about to change status for <strong>{{data.name}}</strong> to Inactive.
  </p>
  <p *ngIf="data.status == 'Deactivate'" style="color: #43425d;line-height: 1.25;font-size: 12px;text-align: left;">
    Before you proceed, please remember that all profiles attached will be remove as well. Herewith we list down all
    profiles attached for your future reference.
  </p>
  <div style="display: block;">
    <ion-button *ngIf="data.status == 'Deactivate'"
      style="--border-radius:0px;margin:0;--box-shadow: none;font-size: 11px;height: 30px;width:140px;cursor: pointer;text-transform: none;"
      color="primary">
      <span style="margin-right: auto;">User Roles</span>
    </ion-button>
    <ion-button fill="outline" *ngIf="data.status == 'Deactivate'"
      style="color: #43425d;--border-radius:0px;margin:0;font-size: 11px;height: 30px;width:153px;cursor: pointer;text-transform: none;">
      <span style="margin-right: auto;">{{userRole}}</span>
      <ion-spinner *ngIf="userRole == undefined && userProfile == undefined"
        style="width: 20px;height: 20px;position: absolute;"></ion-spinner>
    </ion-button>
  </div>
  <div style="display: block;">
    <ion-button *ngIf="data.status == 'Deactivate'"
      style="--border-radius:0px;margin:0;--box-shadow: none;font-size: 11px;height: 30px;width:140px;cursor: pointer;text-transform: none;"
      color="primary">
      <span style="margin-right: auto;">Working Hour Profile</span>
    </ion-button>
    <ion-button fill="outline" *ngIf="data.status == 'Deactivate'"
      style="color: #43425d;--border-radius:0px;margin:0;font-size: 11px;height: 30px;width:153px;cursor: pointer;text-transform: none;">
      <span style="margin-right: auto;">{{workingHour}}</span>
      <ion-spinner *ngIf="workingHour == undefined && userProfile == undefined"
        style="width: 20px;height: 20px;position: absolute;"></ion-spinner>
    </ion-button>
  </div>
  <div style="display: block;">
    <ion-button *ngIf="data.status == 'Deactivate'"
      style="--border-radius:0px;margin:0;--box-shadow: none;font-size: 11px;height: 30px;width:140px;cursor: pointer;text-transform: none;"
      color="primary">
      <span style="margin-right: auto;">Calendar Profile</span>
    </ion-button>
    <ion-button fill="outline" *ngIf="data.status == 'Deactivate'"
      style="color: #43425d;--border-radius:0px;margin:0;font-size: 11px;height: 30px;width:153px;cursor: pointer;text-transform: none;">
      <span style="margin-right: auto;">{{calendar}}</span>
      <ion-spinner *ngIf="calendar == undefined && userProfile == undefined"
        style="width: 20px;height: 20px;position: absolute;"></ion-spinner>
    </ion-button>
  </div>
  <div style="display: block;">
    <ion-button *ngIf="data.status == 'Deactivate'"
      style="--border-radius:0px;margin:0;--box-shadow: none;font-size: 11px;height: 30px;width:140px;cursor: pointer;text-transform: none;"
      color="primary">
      <span style="margin-right: auto;">Leave Entitlement</span>
    </ion-button>
    <ion-button fill="outline" *ngIf="data.status == 'Deactivate'"
      style="color: #43425d;--border-radius:0px;margin:0;font-size: 11px;height: 30px;width:153px;cursor: pointer;text-transform: none;">
      <span style="margin-right: auto;">{{entitlement}}</span>
      <ion-spinner *ngIf="entitlement == undefined && userProfile == undefined"
        style="width: 20px;height: 20px;position: absolute;"></ion-spinner>
    </ion-button>
  </div>

</div>
<div mat-dialog-actions style="display: block; text-align: center;color:#7a8589;font-size: 13px;">
  <button mat-stroked-button (click)="cancel()" color="primary" style="border-radius: 2px;
    width: 88px;height: 30px;line-height: 30px;border-color: #7069d8;">Cancel</button>
  &nbsp;&nbsp;
  <button *ngIf="data.status == 'Deactivate'" mat-flat-button [mat-dialog-close]="data.status" color="primary" style="border-radius: 2px;
        width: 100px;height: 30px;line-height: 30px;" cdkFocusInitial>{{data.status}}</button>
  <button *ngIf="data.status == 'Activate'" mat-flat-button [mat-dialog-close]="data.status" color="primary" style="border-radius: 2px;
        width: 100px;height: 30px;line-height: 30px;" cdkFocusInitial>Confirm</button>
</div>