<!------------------------------------ success --------------------------------------------->
<div class="alertSuccess" *ngIf="data.response === true">
    <img src="assets/icon/leave_setup/icon_tick@3x.png" style="width: 24px;height:24px;position: absolute;
    top: 13px;">
    <p style="padding-left: 40px;color:white;font-size: 14px;
    display: inline-block;margin: 0;">{{data.message}}</p>
</div>

<!------------------------------------ fail --------------------------------------------->
<div class="alertFail" *ngIf="data.response === false">
    <img src="assets/icon/leave_setup/icon_untick@3x.png" style="width: 24px;height:24px;position: absolute;
    top: 13px;">
    <p style="padding-left: 40px;color:white;font-size: 14px;
    display: inline-block;margin: 0;"> {{data.message}}</p>
</div>