<div class="title">Edit Mode ON</div>
<div style="text-align: left;padding-left: 40px;padding-right: 40px;margin-bottom: 20px;">
  <p style="color: #43425d;line-height: 1.25;font-size: 12px;margin-bottom: 16px;">You're now entering edit mode. Here
    are several things
    you can do:</p>
  <div style="display: block;margin-left: 10px;">
    <div style="float: left;padding-right: 10px;">
      <img src="assets/icon/leave_setup/icon_add@3x.png" style="height: 14px;width: 14px;"></div>
    <p *ngIf="data === 'calendar'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add New Calendar Profile
      & Public Holiday</p>
    <p *ngIf="data === 'working'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add New Working Hour Profile</p>
    <p *ngIf="data === 'employee'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add new employee & leave entitlements</p>
    <p *ngIf="data === 'policy'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add New Company/Organization</p>
    <p *ngIf="data === 'role'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add New Roles</p>
    <p *ngIf="data === 'entitlement'"
      style="margin: 0;margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;">
      Add New Leave Type & Leave Entitlement</p>
  </div>
  <div style="display: block;margin-left: 10px;">
    <div style="float: left;padding-right: 10px;" *ngIf="data === 'calendar' || data === 'working' || data === 'role'">
      <img src="assets/icon/leave_setup/icon_reorder@3x.png" style="height: 14px;width: 14px;"></div>
    <p *ngIf="data === 'calendar'" style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;">
      Assign/reassign
      employee to
      calendar profile using drag & drop function</p>
    <p *ngIf="data === 'working'" style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;">
      Assign/reassign employee to
      working hour profile using drag & drop function</p>
    <p *ngIf="data === 'role'" style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;">
      Assign/reassign employee to 
      role profile using drag & drop function</p>
    <div style="float: left;padding-right: 10px;" *ngIf="data === 'employee'"><img
        src="assets/icon/leave_setup/icon_calendar_sm@3x.png" style="height: 14px;width: 14px;"></div>
    <p *ngIf="data === 'employee'" style="margin-bottom: 0px;color: #43425d;line-height: 2.25;font-size: 12px;">
      Change date in calendar</p>
  </div>
  <div style="display: block;margin-left: 5px;">
    <div style="float: left;padding-right: 10px;" *ngIf="data === 'calendar' || data === 'working'">
      <ion-icon name="more" style="height: 19px;width: 19px;color: #b6b5cb;"></ion-icon>
      </div>
      <p *ngIf="data === 'calendar'" style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;">
        Assign/reassign
        employee to
        calendar profile using checkbox function</p>
      <p *ngIf="data === 'working'" style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;">
        Assign/reassign
        employee to
        working hour profile using checkbox function</p>
  </div>
  <div style="display: block;margin-left: 10px;"
    *ngIf="data === 'working' || data === 'role' || data === 'entitlement' || data === 'policy'">
    <img src="assets/icon/leave_setup/icon_edit@3x.png" style="height: 12px;width: 12px;">
    <p
      style="margin-bottom: 5px;margin: 0;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;padding-left: 10px;">
      Edit
      items</p>
  </div>
  <div style="display: block;margin-left: 10px;">
    <img src="assets/icon/leave_setup/icon_trash@3x.png" style="height: 12px;width: 12px;">
    <p
      style="margin-bottom: 5px;color: #43425d;line-height: 1.25;font-size: 12px;display: inline-block;padding-left: 10px;">
      Delete items
    </p>
  </div>
  <p *ngIf="data === 'policy'" style="color: #43425d;line-height: 1.25;font-size: 12px; margin-top: 8px;">
    You're able to manage leave policy for each company here.</p>
  <p *ngIf="data === 'entitlement'" style="color: #43425d;line-height: 1.25;font-size: 12px; margin-top: 8px;">
    You're able to set all configurations for each leave entitlement code that you create such as, allowing apply leave
    in advance etc.</p>
  <p style="color: #43425d;line-height: 1.25;font-size: 12px; margin-top: 16px;">
    After you're done, turn OFF Edit Mode, it
    shall save all of
    your changes automatically.</p>
</div>
<div mat-dialog-actions style="display: block; text-align: center;font-size: 11px;">
  <!-- <button mat-stroked-button (click)="cancel()" color="primary" style="border-radius: 2px;
    width: 88px;height: 30px;line-height: 30px;border-color: #7069d8;">Cancel</button> -->
  &nbsp;&nbsp;
  <button mat-flat-button color="primary" style="color:white;border-radius: 2px;
        width: 136px;height: 30px;line-height: 30px;font-size: 11px;" (click)="close()">Alright, I understand</button>
</div>