:host{
    .fullMenu{
        max-width: 17%;
        min-width: 218px;
    }
    .iconMenu{
        max-width: 3%;
        min-width: 35px;
    }
    ion-content{
        --ion-background-color: #2d3037;
        width: 218px;
    }
    ion-label{
        color: #abacaf;
    }
    ion-icon{
        color: #abacaf;
    }
    .collapse{
        cursor: pointer;
    }
    .fullRouterOutlet{
        transform: translateX(218px) !important;
        width: calc( 100% - 218px );
        min-width: 200px;
    }
    .iconRouterOutlet{
        transform: translateX(35px) !important;
        width: calc( 100% - 35px );
        min-width: 200px;
    }
}