:host{
    .fullMenu{
        max-width: 17%;
        min-width: 218px;
    }
    .iconMenu{
        max-width: 3%;
        min-width: 35px;
    }
    ion-label{
        color: #abacaf;
    }
    ion-icon{
        color: #abacaf;
    }
    .collapse{
        cursor: pointer;
    }
    .fullMenuContent{
        --ion-background-color: #2d3037;
        --width: 218px;
        width: 218px;
    }
    .iconMenuContent{
        --ion-background-color: #2d3037;
        --width: 35px;
    }
}