<ion-app *ngIf="displayFullMenu">
  <!-- Full menu -->
  <ion-split-pane contentId="fullSideMenuContent">
    <ion-menu class="fullMenu" contentId="fullSideMenuContent" side="start" type="reveal" menuId="first"
      (ionDidClose)="fullMenuClosedHandler()">
      <ion-header style="background-color:#2d3037; color: #f9fafc;">
        <ion-icon class="collapse" slot="start" color="medium" name="arrow-dropleft"
          style="position: absolute; margin: 56px; margin-left: 17px; font-size: 24px" (click)="collapseMenu()">
        </ion-icon>
      </ion-header>

      <ion-content class="fullMenuContent">
        <ion-avatar style="width: 70px; height: 70px; margin: 74px; margin-bottom: 0; margin-top: 31px;">
          <img src="assets/icon/logo.PNG">
        </ion-avatar>

        <p style="display:flex; justify-content: center; color: #f9fafc;">ZeN</p>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="color: #f9fafc">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="fullSideMenuContent" class="fullRouterOutlet"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<!-- <ion-content>
    <ion-router-outlet class="fullRouterOutlet" *ngIf="displayFullMenu"></ion-router-outlet>
  </ion-content> -->
<!-- <ion-router-outlet main class="fullRouterOutlet" *ngIf="displayFullMenu"></ion-router-outlet> -->


<!-- Icon Menu -->
<ion-app *ngIf="displayIconMenu">
  <ion-split-pane contentId="iconSideMenuContent">
    <ion-menu side="start" contentId="iconSideMenuContent" menuId="custom" type="reveal" class="iconMenu"
      (ionDidClose)="iconMenuClosedHandler()" style="max-width: 3%; min-width: 35px;">
      <ion-header style="background-color:#2d3037; color: #f9fafc;">
        <ion-icon slot="start" name="menu" style="margin: 6px; font-size: 24px;float: left; cursor: pointer; "
          (click)="expandMenu()">
        </ion-icon>
      </ion-header>
      <ion-content class="iconMenuContent">

        <ion-avatar style=" width: 24px; height: 24px; margin: 7px; margin-bottom: 0; margin-top: 10px;">
          <img src="assets/icon/logo.PNG">
        </ion-avatar>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" [routerLink]="[p.url]" style="float: left">
              <ion-icon slot="start" [name]="p.icon" style="margin-left: -9px"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="iconSideMenuContent" class="iconRouterOutlet"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet class="iconRouterOutlet" *ngIf="displayIconMenu"></ion-router-outlet> -->
  <!-- <ion-router-outlet main></ion-router-outlet> -->

</ion-app>



<!-- <ion-router-outlet main class="iconRouterOutlet"></ion-router-outlet> -->