:host {
  .personal {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-plus {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .fa-calendar-times {
    color: #f04141;
    padding-right: 10px;
  }
  .fa-trash-alt {
    cursor: pointer;
    font-size: 12px;
    color: #bebebe;
  }
  .fa-trash-alt:hover {
    color: #f04141;
  }
  .app-calendar {
    width: 55%;
    margin-top: 1%;
    display: inline-block;
  }
  ::ng-deep.fc-content-skeleton {
    min-height: 20px;
  }
  .holidayView {
    padding-left: 3%;
    margin-top: 1%;
    float: right;
    width: 45%;
    overflow: auto;
  }
  .titleRow {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
    padding-top: 5px;
  }
  .divider {
    --min-height: none;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
  }
  ::ng-deep .mat-select-value-text {
    color: #7a8589;
  }
  ::ng-deep .mat-select-arrow {
    color: #7a8589;
  }
  .button-outline {
    --border-width: 1px;
  }
}
