<div *ngIf="!editCalendar && !addCalendar && !deleteCalendar"
    style="color: #057dcd; text-align: right;padding-top: 15px;">
    <div (click)="deleteCalendar = true;showEditForm = false" style="display: inline-block; color: #f04141">
        <i class="far fa-calendar-times"></i>
        <span style="padding-right: 10px;cursor: pointer;">Delete</span>
    </div>
    &nbsp;&nbsp;
    <div (click)="editCalendar = true;showEditForm = false" style="display: inline-block">
        <i class="far fa-edit personal"></i>
        <span style="padding-right: 10px;cursor: pointer;">Edit</span>
    </div>
    &nbsp;&nbsp;
    <div style="display: inline-block" (click)="addCalendar = true; showEditForm= false">
        <i class="far fa-calendar-plus"></i>
        <span style="padding-right: 10px;cursor: pointer;">Add</span>
    </div>
</div>

<form [formGroup]="editCalendarForm">
    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="editCalendar && !showEditForm">
        <ion-button fill="clear"
            (click)="editCalendar = false;addCalendar = false;editCalendarForm.reset();getPublicHolidayList();restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="saveData()" [disabled]="!editCalendarForm.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Save
        </ion-button>
    </div>

    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="deleteCalendar">
        <ion-button fill="clear"
            (click)="editCalendar = false;addCalendar = false;deleteCalendar=false;editCalendarForm.reset();getPublicHolidayList();restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="deleteData()" [disabled]="!editCalendarForm.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Delete
        </ion-button>
    </div>

    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="showEditForm">
        <ion-button fill="clear"
            (click)="addCalendar = false;editCalendar = false;showEditForm=false;getPublicHolidayList();profileName.reset(); restDay = [];selectedWeekday = [];"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline"
            (click)="postData(); addCalendar = false;editCalendar = false;showEditForm=false;"
            [disabled]="!profileName.valid"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
            Save
        </ion-button>
    </div>
    <!------------------------------------- POST Added calendar  ------------------------------------>
    <div style="text-align: right;padding-top: 5px;padding-right: 10px;" *ngIf="addCalendar">
        <ion-button fill="clear" (click)="addCalendar = false; profileName.reset();getPublicHolidayList();"
            style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
            Cancel
        </ion-button>
        <div style="display: inline-block"></div>
        <ion-button shape="round" fill="outline" (click)="callParamAPI(year, month); showEditForm= true"
            style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary"
            [disabled]="!profileName.valid">
            Next
        </ion-button>
    </div>

    <div class='app-calendar' (window:resize)="height = ($event.target.innerHeight - 153) - (5 / 100)">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek, listYear'
                        }" [plugins]="calendarPlugins" [events]="events">
        </full-calendar>
    </div>

    <div class="holidayView" [style.max-height.px]="height">
        <!------------------------------- Edit calendar ----------------------------------------->
        <div style="display:block; white-space: nowrap;" *ngIf="!showEditForm">
            <mat-form-field appearance="outline" [style.width.%]="editCalendar ? '47': '94'"
                *ngIf="editCalendar || deleteCalendar">
                <mat-label>Calendar profile</mat-label>
                <mat-select class="selectLeave" formControlName="calendarProfile">
                    <mat-option *ngFor="let list of profileList; let i=index" [value]="list.calendar_guid"
                        (click)="selectProfile(list)">
                        {{list.code}}</mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error *ngIf="!editCalendarForm.calendarProfile" style="padding: 5px;padding-left: 0;">
                    Please select calendar profile</mat-error>
            </mat-form-field>
            <span *ngIf="editCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="editCalendar ">
                <mat-label>Rest day</mat-label>
                <mat-select class="selectLeave" formControlName="dayControl"
                    (openedChange)="editCalendarForm.patchValue({ dayControl: this.restDay });" multiple>
                    <mat-option *ngFor="let day of weekdays; let j=index" [value]="day" (click)="restDaySelected(day)"
                        [disabled]="!editCalendarForm.valid">
                        {{day}}</mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                margin-left: -50px;margin-top: -10px;"></ion-spinner>
            </mat-form-field>
        </div>

        <!------------------------------- add calendar ------------------------------------------>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Calendar profile name</mat-label>
                <input matInput [formControl]="profileName" required>
                <mat-error>Please enter profile name</mat-error>
            </mat-form-field>
            <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Rest day</mat-label>
                <mat-select class="selectLeave" multiple>
                    <mat-option *ngFor="let day of weekdays; let j=index" [value]="day" (click)="restDaySelected(day)">
                        {{day}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Country list</mat-label>
                <mat-select>
                    <mat-option selected>None</mat-option>
                    <mat-option *ngFor="let list of countryList; let i=index" [value]="list.iso"
                        (click)="countryRegion = countryDB[list.iso].regions; countryIso = list.iso;">
                        {{list.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <mat-label>Regions</mat-label>
                <mat-select>
                    <mat-option selected>None</mat-option>
                    <mat-option *ngFor="let list of countryRegion; let i=index" [value]="list.iso"
                        (click)=" regionISO = list.iso">
                        {{list.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display:block; white-space: nowrap;">
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <input matInput placeholder="Year(yyyy)" [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <!-- <span *ngIf="addCalendar">&nbsp;&nbsp;</span>
            <mat-form-field appearance="outline" style="width: 47%;" *ngIf="addCalendar ">
                <input matInput placeholder="Month(mm)" [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
            </mat-form-field> -->
        </div>

        <ion-item class="divider" lines="full" *ngIf="editCalendar || addCalendar"></ion-item>

        <ion-row class="titleRow" *ngIf="!addCalendar" style="background: #057dcd;height: 37px;margin-bottom: 10px">
            <ion-col size="3">
                <ion-label style="color: white">Day</ion-label>
            </ion-col>
            <ion-col size="3.5">
                <ion-label style="color: white">Date</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label style="color: white">Holiday</ion-label>
            </ion-col>
        </ion-row>

        <div *ngIf="!addCalendar ">
            <ion-row class="detailsRow" *ngFor="let holiday of events; let i=index">
                <ion-col size="3">
                    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" *ngIf="!editCalendar">
                        {{holiday.day}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [(value)]="holiday.day" disabled>
                    </mat-form-field>
                </ion-col>

                <ion-col size="3.5" class="colOfLeave">
                    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" *ngIf="!editCalendar">
                        {{holiday.str}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [matDatepicker]="datePicker" [(value)]="holiday.start" required
                            (dateChange)="dateChanged($event.target.value, i)">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                </ion-col>

                <ion-col size="4" class="colOfLeave">
                    <p *ngIf="!editCalendar">
                        {{holiday.title}}</p>
                    <mat-form-field *ngIf="editCalendar" style="width: 100%">
                        <input matInput [(value)]="holiday.title" (input)=" events[i].title = $event.target.value;">
                    </mat-form-field>
                </ion-col>
                <ion-col size="1.5" *ngIf="editCalendar"
                    style="display: flex;align-items: center;justify-content: center;">
                    <i class="far fa-trash-alt" (click)="events.splice(i, 1);"></i>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
            </ion-row>
        </div>
    </div>
</form>