:host {
  .personal {
    color: #057dcd;
    padding-right: 10px;
    cursor: pointer;
  }
  .detailsRow {
    padding-left: 10%;
    padding-top: 5px;
  }
  .divider {
    --min-height: none;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  ion-label {
    color: #20291f;
    font-weight: 500;
  }
  .family-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: rgba(0, 0, 0, 0.3);
  }
  .education-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: rgba(0, 0, 0, 0.3);
  }
}
