<div *ngIf="!editProfile" style="color: #057dcd; text-align: right;padding-top: 15px;padding-bottom: 15px;"
    (click)="editProfile = true;">
    <i class="far fa-edit personal"></i>
    <span style="padding-right: 10px;cursor: pointer;">Edit</span>
</div>
<div style="text-align: right;" *ngIf="editProfile">
    <ion-button fill="clear" (click)="editProfile = false"
        style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
        cancel
    </ion-button>
    <div style="display: inline-block"></div>
    <ion-button shape="round" fill="outline" (click)="patchAllData()"
        style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
        save
    </ion-button>
</div>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>FULL NAME</ion-label>
        <p *ngIf="!editProfile">{{personalList.employeeName}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </ion-col>
    <ion-col>
        <ion-label>DISPLAY NAME</ion-label>
        <p *ngIf="!editProfile">{{personalList.employeeName}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="nickname">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>PERSONAL PHONE NUMBER</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.phoneNumber}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="personalPhoneValue">
        </mat-form-field>
    </ion-col>
    <ion-col>
        <ion-label>PERSONAL EMAIL ADDRESS</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.emailAddress}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="personalEmailValue" value="{{personalList.personalDetail.emailAddress}}">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>WORK PHONE NUMBER</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.workPhoneNumber}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="workPhoneValue" value="{{personalList.personalDetail.workPhoneNumber}}">
        </mat-form-field>
    </ion-col>
    <ion-col>
        <ion-label>WORK EMAIL ADDRESS</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.workEmailAddress}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="workEmailValue" value="{{personalList.personalDetail.workEmailAddress}}">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>BIRTHDATE</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.dob}}</p>
        <form [formGroup]="dateForm">
            <mat-form-field *ngIf="editProfile" style="width:67%">
                <input matInput [matDatepicker]="datePicker" formControlName="datepicker" required
                    (dateChange)="dateChange()">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </form>
    </ion-col>
    <ion-col>
        <ion-label>NRIC</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.nric}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="nric">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>GENDER</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.gender}}</p>
        <mat-form-field *ngIf="editProfile">
            <mat-select [(value)]="genderValue" (selectionChange)="gender($event)">
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Male">Male</mat-option>
            </mat-select>
        </mat-form-field>
    </ion-col>
    <ion-col>
        <ion-label>MARITAL STATUS</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.maritalStatus}}</p>
        <mat-form-field *ngIf="editProfile">
            <mat-select [(value)]="maritalStatusValue" (selectionChange)="maritalStatus($event)">
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
            </mat-select>
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>RELIGION</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.religion}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="religionValue">
        </mat-form-field>
    </ion-col>
    <ion-col>
        <ion-label>RACE</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.race}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="raceValue">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>NATIONALITY</ion-label>
        <p *ngIf="!editProfile">{{personalList.personalDetail.nationality}}</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput [(ngModel)]="nationalityValue">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-row class="detailsRow" *ngIf="personalList">
    <ion-col>
        <ion-label>RESIDENTIAL ADDRESS</ion-label>
        <p style="display: inline" *ngIf="!editProfile">
            {{personalList.personalDetail.residentialAddress1}},</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="Address line 1" [(ngModel)]="addLine1">
        </mat-form-field>
        &nbsp;
        <p style="display: inline" *ngIf="!editProfile">
            {{personalList.personalDetail.residentialAddress2}},</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="Address line 2" [(ngModel)]="addLine2">
        </mat-form-field>
        &nbsp;
        <p style="display: inline" *ngIf="!editProfile">{{personalList.personalDetail.postcode}},</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="Postcode" [(ngModel)]="postcode">
        </mat-form-field>
        &nbsp;
        <p style="display: inline" *ngIf="!editProfile">{{personalList.personalDetail.city}},</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="City" [(ngModel)]="city">
        </mat-form-field>
        &nbsp;
        <p style="display: inline" *ngIf="!editProfile">{{personalList.personalDetail.state}},</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="State" [(ngModel)]="state">
        </mat-form-field>
        &nbsp;
        <p style="display: inline" *ngIf="!editProfile">{{personalList.personalDetail.country}}.</p>
        <mat-form-field *ngIf="editProfile">
            <input matInput placeholder="Country" [(ngModel)]="country">
        </mat-form-field>
    </ion-col>
</ion-row>
<ion-item class="divider"></ion-item>
<ion-label style="display: block; padding-left: 10.6%;padding-top: 5px;">EMERGENCY CONTACT(S)
</ion-label>
<ion-row class="detailsRow" *ngFor="let item of removeList; let index = index">
    <ion-col>
        <p *ngIf="!showEditContact[index]" style="display: inline">
            {{item.contactName}}</p>
        <mat-form-field *ngIf="showEditContact[index]">
            <input matInput placeholder="Contact Name" [(ngModel)]="removeList[index].contactName">
        </mat-form-field>
        &nbsp;
        <p *ngIf="!showEditContact[index]" style="display: inline;position: absolute; right: 50%;">
            {{item.contactNumber}}</p>
        <mat-form-field *ngIf="showEditContact[index]">
            <input matInput placeholder="Contact Number" [(ngModel)]="removeList[index].contactNumber">
        </mat-form-field>
        <div class="delete-icon" *ngIf="!showEditContact[index]" [inlineSVG]="'assets/icon/Option/trash.svg'"
            (click)="removeContact(index)">
        </div>
        <div class="edit-pencil-icon" *ngIf="!showEditContact[index]" [inlineSVG]="'assets/icon/Option/pencil.svg'"
            (click)="editContact(index, true)">
        </div>
        <div style="float: right;" *ngIf="showEditContact[index]">
            <ion-button fill="clear" (click)="editContact(index, false)"
                style="font-size: 12px;height: 30px;cursor: pointer;text-transform: none;" color="primary">
                cancel
            </ion-button>
            <div style="display: inline-block"></div>
            <ion-button shape="round" fill="outline" (click)="patchAllData(); editContact(index, false)"
                style="font-size: 12px;height: 23px;width: 55px;cursor: pointer;text-transform: none;" color="primary">
                save
            </ion-button>
        </div>
    </ion-col>
</ion-row>
<ion-row class="detailsRow">
    <ion-icon name="add-circle-outline" style="color: #057dcd;padding-top: 2px;padding-right: 10px;
        padding-left: 0.5%;font-size: 16px;cursor: pointer;"></ion-icon>
    <span style="color:#057dcd; cursor: pointer;" (click)="addInput();editContact(removeList.length-1, true)">Add more</span>
</ion-row>
<ion-item class="divider"></ion-item>
<ion-row class="detailsRow">
    <ion-col style="background: #006994; border-radius: 3px;padding: 20px;height: 100px;">
        <span style="color: white; font-size: 18px;">Add family </span>
        <br>
        <span style="color: white; font-size: 18px;">information</span>
        <div class="family-icon" [inlineSVG]="'assets/icon/User_profile/family.svg'"></div>
    </ion-col>
    <div style="width: 20px"></div>
    <ion-col style="background: #5f4180; border-radius: 3px;padding: 20px;height: 100px;">
        <span style="color: white; font-size: 18px;">Add education </span>
        <br>
        <span style="color: white; font-size: 18px;">qualification</span>
        <div class="education-icon" [inlineSVG]="'assets/icon/User_profile/education.svg'"></div>
    </ion-col>
</ion-row>