<div style="width: 100%; height:100%; text-align: center;margin-top: -30px" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="row" *ngIf="showContent">
    <div class="column1">
        <mat-card class="leaveSetup">
            a
        </mat-card>
        <mat-card class="reportView">
            b
        </mat-card>
    </div>
    <div class="column2">
        <mat-card class="leaveManagement">
            a
        </mat-card>
        <mat-card class="calendarView">
            b
        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="profileManagement">
            a
        </mat-card>
    </div>
</div>