<p style="padding-left: 15px;font-size: 13px;font-weight: bold;color: #a3a6b4;">
  EMERGENCY CONTACT (S)</p>
<div>
  <ion-row class="detailsRow" style="display: flex; flex-flow: row wrap; max-width: 100%;"
    *ngFor="let item of removeItems; let index = index">
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label *ngIf="index === 0" class="labelTitle">Contact Person
      </ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.contactName}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Contact Name" [(ngModel)]="removeItems[index].contactName">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label *ngIf="index === 0" class="labelTitle">Relationship
      </ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.contactRelationship}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Contact Relationship" [(ngModel)]="removeItems[index].contactRelationship">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label *ngIf="index === 0" class="labelTitle">Phone Number
      </ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.contactNumber}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Contact Number" [(ngModel)]="removeItems[index].contactNumber">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 15px; min-width: 15px;">
      <div class="delete-icon" *ngIf="mode === 'ON' && details.personalDetail != undefined"
        [inlineSVG]="'assets/icon/option/trash.svg'" (click)="removeItem(index, removeItems)">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="detailsRow" *ngIf="mode === 'ON' && details.personalDetail != undefined">
    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
      padding-left: 0.5%;font-size: 16px;cursor: pointer;" (click)="addList(removeItems, contactObj)"></ion-icon>
    <span style="color:#3b86ff;">Add
      emergency contact</span>
  </ion-row>
</div>
<p style="padding-top: 20px;padding-left: 15px;font-size: 13px;font-weight: bold;color: #a3a6b4;">
  FAMILY INFORMATION (S)</p>
<div>
  <ion-row class="detailsRow" style="display: flex; flex-flow: row wrap; max-width: 100%;"
    *ngFor="let item of spouseItems; let index = index">
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label class="labelTitle" *ngIf="index === 0">Spouse
      </ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.spouseName}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Spouse Name" [(ngModel)]="spouseItems[index].spouseName">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label class="labelTitle" *ngIf="index === 0">NRIC</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.spouseIdentificationNumber}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Identity card Number" [(ngModel)]="spouseItems[index].spouseIdentificationNumber">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;"></ion-col>
    <ion-col style="flex: 1 1 15px; min-width: 15px;">
      <div class="delete-icon" *ngIf="mode === 'ON' && details.personalDetail != undefined"
        [inlineSVG]="'assets/icon/option/trash.svg'" (click)="removeItem(index, spouseItems)">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="detailsRow" *ngIf="mode === 'ON' && details.personalDetail != undefined">
    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
padding-left: 0.5%;font-size: 16px;cursor: pointer;" (click)="addList(spouseItems, spouseObj)"></ion-icon>
    <span style="color:#3b86ff;">Add
      spouse</span>
  </ion-row>
  <ion-row class="detailsRow" style="display: flex; flex-flow: row wrap; max-width: 100%;"
    *ngFor="let item of childItems; let index = index">
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label class="labelTitle" *ngIf="index === 0">Child
      </ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.childName}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Child Name" [(ngModel)]="childItems[index].childName">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;">
      <ion-label class="labelTitle" *ngIf="index === 0">NRIC</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.childIdentificationNumber}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined">
        <input matInput placeholder="Identity card Number" [(ngModel)]="childItems[index].childIdentificationNumber">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 30%; min-width: 150px;"></ion-col>
    <ion-col style="flex: 1 1 15px; min-width: 15px;">
      <div class="delete-icon" *ngIf="mode === 'ON' && details.personalDetail != undefined"
        [inlineSVG]="'assets/icon/option/trash.svg'" (click)="removeItem(index, childItems)">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="detailsRow" *ngIf="mode === 'ON' && details.personalDetail != undefined">
    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
  padding-left: 0.5%;font-size: 16px;cursor: pointer;" (click)="addList(childItems, childObj)"></ion-icon>
    <span style="color:#3b86ff">Add
      child</span>
  </ion-row>
</div>
<p style="padding-top: 20px;padding-left: 15px;font-size: 13px;font-weight: bold;color: #a3a6b4;">
  EDUCATION QUALIFICATION (S)</p>
<div>
  <ion-row class="detailsRow" style="display: flex; flex-flow: row wrap; max-width: 100%;"
    *ngFor="let item of eduList; let index = index">
    <ion-col style="flex: 1 1 20%; min-width: 150px;" class="colContent">
      <ion-label class="labelTitle" *ngIf="index === 0">Level</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.qualificationLevel}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Education Level" [(ngModel)]="eduList[index].qualificationLevel">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 20%; min-width: 150px;" class="colContent">
      <ion-label class="labelTitle" *ngIf="index === 0">Major</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.major}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Major" [(ngModel)]="eduList[index].major">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 20%; min-width: 150px;" class="colContent">
      <ion-label class="labelTitle" *ngIf="index === 0">University</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.university}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="University" [(ngModel)]="eduList[index].university">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 20%; min-width: 150px;" class="colContent">
      <ion-label class="labelTitle" *ngIf="index === 0">Year</ion-label>
      <p *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText">
        {{item.year}}</p>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Year" [(ngModel)]="eduList[index].year">
      </mat-form-field>
    </ion-col>
    <ion-col style="flex: 1 1 20%; min-width: 150px;" class="colContent">
      <div class="education-delete-icon" *ngIf="mode === 'ON' && details.personalDetail != undefined"
        [inlineSVG]="'assets/icon/option/trash.svg'" (click)="removeItem(index, eduList)">
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="detailsRow" *ngIf="mode === 'ON' && details.personalDetail != undefined">
    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
padding-left: 0.5%;font-size: 16px;cursor: pointer;" (click)="addList(eduList, educationObj)"></ion-icon>
    <span style="color:#3b86ff;">
      Add new</span>
  </ion-row>
</div>
<p style="padding-top: 20px;padding-left: 15px;font-size: 13px;font-weight: bold;color: #a3a6b4;">
  AWARDS & CERTIFICATION (S)</p>
<div>
  <!-- <ion-row class="detailsRow">
    <ion-col size="4" style="display: inline-flex;text-overflow: ellipsis;
        white-space: nowrap;overflow: hidden;">
      <ion-label class="labelTitle">CERTIFICATE NAME</ion-label>
    </ion-col>
    <ion-col [style.text-align]="mode === 'ON'? 'left':'center'" style="text-overflow: ellipsis; white-space: nowrap;overflow:
        hidden;">
      <ion-label class="labelTitle">ENROLL YEAR</ion-label>
    </ion-col>
    <ion-col [style.text-align]="mode === 'ON'? 'left':'center'" style="text-overflow: ellipsis;
        white-space: nowrap;overflow: hidden;">
      <ion-label class="labelTitle">GRADUATE YEAR</ion-label>
    </ion-col>
    <ion-col style="text-overflow: ellipsis;
        white-space: nowrap;overflow: hidden;">
    </ion-col>
    <ion-col size="0.5" style="text-overflow: ellipsis;
    white-space: nowrap;overflow: hidden;">
    </ion-col>
  </ion-row> -->
  <ion-row class="detailsRow" style="display: flex; flex-flow: row wrap; max-width: 100%; margin-bottom: 15px;"
    *ngFor="let item of awards; let i = index">
    <ion-col class="colContent"
      style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;flex: 2; min-width: 150px;">
      <ion-label class="labelTitle" *ngIf="i === 0">CERTIFICATE NAME</ion-label>
      <span *ngIf="mode === 'OFF' && details.personalDetail != undefined" class="contentText"
        style="white-space: pre-line;">{{item.certificationName}}</span>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Certification Name" [(ngModel)]="item.certificationName">
      </mat-form-field>
    </ion-col>
    <ion-col class="colContent" style="text-align: center;text-overflow: ellipsis;
  white-space: nowrap;overflow: hidden;flex: 1.5; min-width: 120px;">
      <ion-label class="labelTitle" *ngIf="i === 0" [style.text-align]="mode=== 'ON'? 'left': 'center'">ENROLL YEAR
      </ion-label>
      <span *ngIf="mode === 'OFF' && details.personalDetail != undefined"
        class="contentText">{{item.certificationEnrollYear}}</span>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Certification enroll year" [(ngModel)]="item.certificationEnrollYear">
      </mat-form-field>
    </ion-col>
    <ion-col class="colContent" style="text-align: center;text-overflow: ellipsis;
  white-space: nowrap;overflow: hidden;flex: 1.5; min-width: 120px;">
      <ion-label class="labelTitle" *ngIf="i === 0" [style.text-align]="mode=== 'ON'? 'left': 'center'">GRADUATE YEAR
      </ion-label>
      <span *ngIf="mode === 'OFF' && details.personalDetail != undefined"
        class="contentText">{{item.certificationGraduateYear}}</span>
      <mat-form-field *ngIf="mode === 'ON' && details.personalDetail != undefined" style="width: 100%;">
        <input matInput placeholder="Certification graduate year" [(ngModel)]="item.certificationGraduateYear">
      </mat-form-field>
    </ion-col>
    <ion-col class="colContent" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align: center;flex: 1.5; min-width:
      120px;">
      <ion-label class="labelTitle" style="height: 23px;" *ngIf="i === 0"></ion-label>
      <ion-button *ngIf="mode === 'ON' && details.personalDetail != undefined" fill="outline" (click)="file.click();"
        style="margin: 0;background: #f0f0f7;font-size: 12px;height: 30px;width: 90px;display: inline-block; text-transform: capitalize"
        color="primary">Attachment
      </ion-button>
      <a class="contentText" [style.text-align]="mode=== 'ON'? 'center': 'left'" style="display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
        [href]="details.link+item.certificationAttachment" download>{{item.certificationAttachment}}</a>
    </ion-col>
    <ion-col class="colContent" style="flex: 1; min-width: 10px;">
      <ion-label class="labelTitle" style="height: 23px;" *ngIf="i === 0"></ion-label>
      <div *ngIf="mode === 'ON' && details.personalDetail != undefined" class="education-delete-icon"
        style="margin-right: 60%;" [inlineSVG]="'assets/icon/option/trash.svg'" (click)="removeItem(i, awards)">
      </div>
    </ion-col>
    <input style="display:none" #file name="file" type="file" (change)="upload($event.target.files, i)">
  </ion-row>
  <ion-row class="detailsRow" *ngIf="mode === 'ON' && details.personalDetail != undefined">
    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
padding-left: 0.5%;font-size: 16px;cursor: pointer;" (click)="addList(awards, awardObj);"></ion-icon>
    <span style="color:#3b86ff;">
      Add award or certification</span>
  </ion-row>
</div>