<!-- ---------------------------------------- add company menu ------------------- -->
<ion-menu contentId="createCompanyContent" side="end" type="overlay" menuId="createCompanyDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 15px;width: 24px;height: 24px;float:left" src="assets/icon/leave_setup/icon create@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 21px;">CREATE NEW COMPANY
        </p>
    </ion-header>

    <ion-content>
        <p style="margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;">Create new company here.</p>
        <div style="width: 100%;">
            <mat-form-field appearance="outline"
                style="margin: 15px;height: 55px;display: block;font-size: 12px;color:#43425d;">
                <mat-label>Fill new company name here</mat-label>
                <input matInput [formControl]="newName">
            </mat-form-field>
        </div>
        <div style="margin: 30px;text-align: center;">
            <ion-button style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary" (click)="createNewCompany();showSmallSpinner=true" [disabled]="!newName.valid">
                Create<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                </ion-spinner>
            </ion-button>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="createCompanyContent">
</ion-router-outlet>

<!-- ---------------------------------------- edit company name menu ------------------- -->
<ion-menu contentId="editCompanyContent" side="end" type="overlay" menuId="editCompanyDetails">
    <ion-header style="background-color:#43425d; color: #fcfcfc;">
        <img style="margin: 15px;width: 24px;height: 24px;float:left" src="assets/icon/leave_setup/icon create@3x.png">
        <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 21px;">EDIT COMPANY NAME
        </p>
    </ion-header>

    <ion-content>
        <p style="margin: 15px;margin-top: 20px;font-size: 12px; color: #808495;">Edit company name here.</p>
        <div style="width: 100%;">
            <mat-form-field appearance="outline"
                style="margin: 15px;height: 55px;display: block;font-size: 12px;color:#43425d;">
                <input matInput [formControl]="editName">
            </mat-form-field>
        </div>
        <div style="margin: 30px;text-align: center;">
            <ion-button style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
                color="primary" (click)="updateCompanyName(); showSmallSpinner =true">
                Update<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
                </ion-spinner>
            </ion-button>
        </div>
    </ion-content>
</ion-menu>
<ion-router-outlet id="editCompanyContent">
</ion-router-outlet>

<!-- ---------------------------------------- content ------------------- -->
<ion-card>
    <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
        <div class="fullContainer">
            <ion-item-group style="display: flex;">
                <div class="left" style="min-width: fit-content;">
                    <img src="assets/icon/leave_setup/icon_year_end_closing@3x.png" style="width:34px;height:33px">
                </div>
                <div class="right">
                    <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">General
                        Leave
                        Policy
                    </ion-card-subtitle>
                    <ion-card-subtitle class="subtitle" style="font-size: 12px;">
                        Manage tenant leave policy to ensure general information is created in application
                    </ion-card-subtitle>
                </div>
            </ion-item-group>
            <ion-item-group style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
                <div style="right: 75px;top: 25px;">
                    <p
                        style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
                        Edit
                        Mode: {{modeValue}}</p>
                    <div style="display: inline-block;position: absolute;margin-top: 12px;">
                        <ion-toggle style="zoom:0.70;--background: #a5a4bf;" mode="ios" color="secondary"
                            (ionChange)="toggleEvent($event)">
                        </ion-toggle>
                    </div>
                </div>
            </ion-item-group>
        </div>
    </ion-card-header>

    <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
        <div class="cardContent">
            <ion-card-content class="policy-overflow-style" style="max-height:100%;height: 100%;overflow: auto;">
                <div [class]="'hide-md-down'">
                    <div class="row">
                        <div class="list">
                            <div style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-bottom: 1px;
                    padding-top: 1px;margin-bottom: 10px;color: #a3a6b4;font-weight: bold;">
                                <ion-row>
                                    <ion-col size="9" align-self-center style="padding: 10px;">
                                        COMPANY LIST
                                    </ion-col>
                                    <ion-col size="3" align-self-center style="text-align: right;padding-right: 10px;">
                                        <ion-icon *ngIf="modeValue==='ON'" class="addIcon" name="add-circle-outline"
                                            (click)="clickedIndex=null;sharedService.menu.enable(true, 'createCompanyDetails');sharedService.menu.open('createCompanyDetails');sharedService.menu.enable(false,'editCompanyDetails');">
                                        </ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <div style="height: calc(100% - 62px);overflow-y: auto;">
                                <ion-row class="detailsRow" *ngFor="let item of companyName; let i=index"
                                    style="padding-left: 10px;">
                                    <ion-col size="9"
                                        style="overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                                        <p class="textHover" style="cursor: pointer;font-size: 12px;font-weight: bold;overflow:
                                    hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;" [ngClass]="{
                                        'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                            (click)="clickedPolicy(item, i)">
                                            {{item.NAME}}
                                        </p>
                                        <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space:
                                    pre-line;text-overflow: ellipsis;">
                                            Assigned Employee No.: <p
                                                style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                {{item.employee}}</p>
                                        </div>
                                    </ion-col>
                                    <ion-col size="3" align-self-center style="text-align: right;padding-right: 10px;">
                                        <img src="assets/icon/leave_setup/icon_edit@3x.png" *ngIf="modeValue==='ON'"
                                            style="width: 11px;height:11px;display: inline-block;cursor:pointer"
                                            (click)="clickedPolicy(item, i);companyId = item.TENANT_COMPANY_GUID ; editName.patchValue(item.NAME); sharedService.menu.open('editCompanyDetails'); sharedService.menu.enable(true,'editCompanyDetails');sharedService.menu.enable(false, 'createCompanyDetails');">
                                        &nbsp;&nbsp;
                                        <img src="assets/icon/leave_setup/icon_trash@3x.png" *ngIf="modeValue==='ON'"
                                            style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                            (click)="deleteCompany(item)">
                                    </ion-col>
                                    <ion-item class="divider" lines="full">
                                    </ion-item>
                                </ion-row>
                            </div>
                        </div>
                        <div class="details">
                            <div style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-bottom: 1px;
                        padding-top: 1px;margin-bottom: 10px;color: #a3a6b4;font-weight: bold;">
                                <ion-row>
                                    <ion-col align-self-center style="padding: 10px;">
                                        GENERAL LEAVE POLICY CONFIGURATION
                                    </ion-col>
                                </ion-row>
                            </div>
                            <div style="height: calc(100% - 62px);overflow-y: auto;">
                                <app-create-policy [companyId]="policyDetails" [mode]="modeValue" [tenantId]="tenantId">
                                </app-create-policy>
                            </div>
                        </div>
                    </div>
                </div>
                <div [class]="'hide-md-up'">
                    <div class="row">
                        <div style="width:100%;">
                            <div style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-bottom: 1px;
                    padding-top: 1px;margin-bottom: 10px;color: #a3a6b4;font-weight: bold;">
                                <ion-row>
                                    <ion-col size="9" align-self-center style="padding: 10px;">
                                        COMPANY LIST
                                    </ion-col>
                                    <ion-col size="3" align-self-center style="text-align: right;padding-right: 10px;">
                                        <ion-icon *ngIf="modeValue==='ON'" class="addIcon" name="add-circle-outline"
                                            (click)="clickedIndex=null;sharedService.menu.enable(true, 'createCompanyDetails');sharedService.menu.open('createCompanyDetails');sharedService.menu.enable(false,'editCompanyDetails');">
                                        </ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <div style="display: flex;height: fit-content;">
                                <div  style="display: flex; width: 100%; max-width: 100%; overflow-x: auto; margin: auto
                                    auto 10px;user-select: none;">
                                    <ion-row class="detailsRow" *ngFor="let item of companyName; let i=index"
                                        style="padding-left: 10px;min-width: fit-content;border-right: 1px solid
                                        #e1e1e2; margin-bottom: 10px; display: flex;">
                                        <ion-col 
                                            style="overflow: hidden;white-space: pre-line;text-overflow: ellipsis;flex:
                                            5;">
                                            <p class="textHover" style="cursor: pointer;font-size: 12px;font-weight: bold;overflow:
                                        hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;" [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                                                (click)="clickedPolicy(item, i)">
                                                {{item.NAME}}
                                            </p>
                                            <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space:
                                        pre-line;text-overflow: ellipsis;">
                                                Assigned Employee No.: <p
                                                    style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                                                    {{item.employee}}</p>
                                            </div>
                                        </ion-col>
                                        <ion-col align-self-center style="text-align: right;padding-right: 10px; flex: 1; display: flex; flex-flow: column;">
                                            <img src="assets/icon/leave_setup/icon_edit@3x.png" *ngIf="modeValue==='ON'"
                                                style="width: 11px;height:11px;display: inline-block;cursor:pointer"
                                                (click)="clickedPolicy(item, i);companyId = item.TENANT_COMPANY_GUID ; editName.patchValue(item.NAME); sharedService.menu.open('editCompanyDetails'); sharedService.menu.enable(true,'editCompanyDetails');sharedService.menu.enable(false, 'createCompanyDetails');">
                                            &nbsp;&nbsp;
                                            <img src="assets/icon/leave_setup/icon_trash@3x.png" *ngIf="modeValue==='ON'"
                                                style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                                                (click)="deleteCompany(item)">
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div style="font-size: 12px;width:100%;background: #f5f6fa;padding-left: 5px;padding-bottom: 1px;
                        padding-top: 1px;margin-bottom: 10px;color: #a3a6b4;font-weight: bold;">
                                <ion-row>
                                    <ion-col align-self-center style="padding: 10px; white-space: pre-line;">
                                        GENERAL LEAVE POLICY CONFIGURATION
                                    </ion-col>
                                </ion-row>
                            </div>
                            <div style="height: calc(100% - 62px);overflow-y: auto;">
                                <app-create-policy [companyId]="policyDetails" [mode]="modeValue" [tenantId]="tenantId">
                                </app-create-policy>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card-content>
        </div>
    </div>
</ion-card>