:host {
  top: 48px;
  overflow: auto;

  /////////////////////// header //////////////////////

  .header-md:after {
    height: 0px;
    background-image: none;
  }
  .toolbar2 {
    --min-height: 35px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .back-icon {
    width: 30px;
    height: 19px;
    fill: #20291f;
    float: left;
    cursor: pointer;
  }
  .fa-instagram {
    font-size: 18px;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .fa-linkedin-in {
    color: #007bb6;
    padding-right: 10px;
  }
  .fa-facebook-f {
    color: #3b5998;
    padding-right: 10px;
    font-size: 18px;
    padding-top: 5px;
  }
  .card-content-md p {
    font-size: 13px;
  }
  .fa-map-marker-alt {
    padding-right: 10px;
  }
  .leftCard {
    width: 94%;
    position: absolute;
    top: 58px;
    left: 2%;
  }

  ////////////////////////// mat tab ///////////////////

  ::ng-deep .mat-tab-header {
    background-color: #f2f2f2 !important;
    margin-top: -13px;
    margin-left: -16px;
    margin-right: -16px;
  }
  ::ng-deep .mat-tab-label {
    height: 35px !important;
    color: #7a8589;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    color: #057dcd;
  }
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #057dcd;
  }
}
