<ion-header>
    <ion-toolbar class="toolbar2">
        <ion-title style="display: inline-block;color: #20291f;font-size: 16px;">
            General Policy
        </ion-title>
        <div style="float: right; padding-right: 20px;">
            <!-- <i class="material-icons" style="padding-right: 5px; color: #057dcd; cursor: pointer;">add</i> -->
            <!-- <ion-label class="label" style="font-size: 14px; color: #057dcd;float: right;
            margin-top: 5px;padding-right: 10px;cursor: pointer"
                (click)="router.navigate(['/main/general-leave-policy/create-policy']);">
                Create policy</ion-label> -->
        </div>
    </ion-toolbar>
</ion-header>
<router-outlet></router-outlet>