<div class="header" *ngIf="showHeader">
    Your profile completeness is {{progressPercentage}}%
    <ion-progress-bar [value]="progressPercentage/100" color="success"
        style="display:inline-block; width:10%; margin-left: 3%"></ion-progress-bar>
    <ion-icon class="crossIcon" name="close" (click)="clickToHideHeader()"></ion-icon>
</div>
<ion-card>
    <div style="width: 100%; height:100%; text-align: center;margin-top: -30px" *ngIf="showSpinner">
        <app-spinner></app-spinner>
    </div>
    <ion-card-header>
        <div class="fullContainer">
            <div class="left">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                </ion-avatar>
                <ion-badge style="background-color: white;border: 1px solid#bebebe;">
                    <!-- <ion-icon name="image"></ion-icon> -->
                    <div class="pic-icon" [inlineSVG]="'assets/icon/Option/picture.svg'"></div>
                </ion-badge>
            </div>
            <div class="right" *ngIf="personalList">
                <ion-card-title>{{personalList.employeeName}}</ion-card-title>
                <div style="display:inline-block; padding-top: 10px;">
                    <ion-card-subtitle class="subtitle">
                        {{personalList.employeeDesignation}}</ion-card-subtitle>
                    <i class="fas fa-circle"></i>
                    <ion-card-subtitle class="subtitle">{{personalList.employmentDetail.department}}
                    </ion-card-subtitle>
                </div>
                <div style="padding-top: 10px;">
                    <!-- <i class="fas fa-map-marker-alt"></i> -->
                    <div class="marker-icon" [inlineSVG]="'assets/icon/User_profile/pin.svg'"></div>
                    <ion-card-subtitle class="subtitle" style="padding-left:8px">
                        {{personalList.employmentDetail.workLocation}}
                    </ion-card-subtitle>
                </div>
            </div>
        </div>
    </ion-card-header>
    <ion-item lines="full" class="mainDivider"></ion-item>
    <div class="cardContent">
        <ion-card-content>
            <div class="leaveHistoryContainer">View leave history</div>
            <div style="margin-top: 3%">
                <ion-row class="titleRow">
                    <ion-col size="2.5" style="display: inline-flex">
                        <ion-label>LEAVE TYPES</ion-label>
                        <ion-icon class="arrow" name="arrow-dropdown" (click)="sortDesLeaveType()"
                            *ngIf="sortDirectionArrowDown">
                        </ion-icon>
                        <ion-icon class="arrow" name="arrow-dropup" *ngIf="!sortDirectionArrowDown"
                            (click)="sortAscLeaveType()">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="2.4">
                        <ion-label>ENTITLED DAYS</ion-label>
                    </ion-col>
                    <ion-col size="1.8">
                        <ion-label>TAKEN</ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label>PENDING</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>BALANCE</ion-label>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                </ion-row>

                <ion-row class="detailsRow" *ngFor="let leaveDetail of entitlement">
                    <ion-col size="2">
                        <ion-label style="color: #057dcd">{{leaveDetail.leaveTypeName}}</ion-label>
                    </ion-col>
                    <ion-col class="colOfLeave" size="2.3">{{leaveDetail.entitledDays}}
                    </ion-col>
                    <ion-col class="colOfLeave" size="2">{{leaveDetail.takenDays}}
                    </ion-col>
                    <ion-col class="colOfLeave" size="2">{{leaveDetail.pendingDays}}
                    </ion-col>
                    <ion-col class="colOfLeave" size="2">{{leaveDetail.balanceDays}}
                    </ion-col>
                    <ion-col align-self-end>
                        <ion-button shape="round" fill="outline" float-right style="margin-right: 7%; margin-top: -0.2%;font-size: 10px;
                    height: 27px;"
                            (click)="toPlanLeave(leaveDetail.leaveTypeName, leaveDetail.balanceDays, leaveDetail.leaveTypeId)">
                            Apply
                        </ion-button>
                    </ion-col>
                    <ion-item class="divider" lines="full"></ion-item>
                    <br>
                    <br>
                </ion-row>
            </div>
        </ion-card-content>
    </div>
</ion-card>