<div class="outerBox">
    <ion-icon name="close" style="color:#bebebe;padding: 10px;font-size: 25px;cursor: pointer;"
        (click)="onCloseClick()">
    </ion-icon>
    <div style="border-radius: 3px;border: 2px dotted #7a8589;background-color: #f2f2f2;
    width: 40%;height: 70%;margin: 0 auto;padding: 5%;min-width: 150px;">
        <file-drop (onFileDrop)="dropped($event)">
            <div class="upload-icon" [inlineSVG]="'assets/icon/add_employee/upload-file.svg'"></div>
            <p style="color:#7a8589;text-align: center;font-size: 14px;">Drag and drop document here to upload</p>
            <p style="color:#7a8589;text-align: center;font-size: 14px;font-weight: 600;">OR</p>
            <div style="text-align: center;">
                <form [formGroup]="fileform">
                    <ion-button *ngIf="fileName === undefined"
                        style="font-size: 12px;height: 35px;width: 60%;text-transform: none;" color="primary"
                        (click)="file.click()">
                        Browse file
                    </ion-button>
                    <ion-button *ngIf="fileName !== undefined" (click)="onSubmit()"
                        style="font-size: 12px;height: 35px;width: 60%;text-transform: none;" color="primary">
                        Upload file
                    </ion-button>
                    <span style="padding-top: 5px;font-size: 12px;display: block;">{{fileName}}</span>
                    <input style="display:none" #file name="file" type="file" accept=".csv"
                        (change)="openFile($event, fileName)">
                </form>
            </div>
        </file-drop>


    </div>
</div>