:host {
  margin: auto;
  width: 100%;
  min-height: calc(100% - 58px);
  overflow: auto;

  // flex-layout
  .row {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 1%;
    width: 65%;
    float: left;
  }
  .row:after {
    content: "";
    background-color: #dfe3e6;
    position: absolute;
    width: 0.7px;
    height: 100%;
    left: 63%;
    top: 0;
    display: block;
  }
  .column1 {
    flex: 100%;
    max-width: 49%;
    padding: 0 10px;
    padding-right: 0;
  }
  .column2 {
    flex: 100%;
    max-width: 49%;
    padding: 0 10px;
  }
  .column1 .leaveSetup {
    margin-top: 10px;
    vertical-align: middle;
  }
  .column1 .leaveManagement {
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
  }
  .column2 .profileManagement {
    margin-top: 10px;
    vertical-align: middle;
  }
  .column2 .calendarView {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  .column2 .reportView {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
  }
  .inputForm {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 95%;
    margin: 1.5%;
    margin-bottom: 0;
    background: white;
    padding: 16px;
  }

  // content style
  .ionItem {
    color: #7a8589;
    font-size: 13px;
  }
  .ionCheckbox {
    width: 20px;
    height: 20px;
    margin-right: 14px;
  }
  ::ng-deep .mat-select-value {
    color: #7a8589;
  }
  ::ng-deep .mat-option-text {
    color: #7a8589;
  }
  .cardTitle {
    font-size: 16px;
    color: #7a8589;
  }

  // button
  .button-outline {
    --border-width: 1px;
  }
  // create role
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0%;
  }
  //rightSelection
  .dropdown {
    cursor: pointer;
  }
  .dropdownList {
    position: absolute;
    margin-top: -17px;
    width: 100%;
    z-index: 2;
    height: 300px;
    overflow: auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .showSelection {
    width: 100%;
    height: 300px;
    overflow: auto;
    margin-bottom: 20px;
  }
  ::ng-deep .mat-checkbox-layout {
    display: contents;
    white-space: inherit;
  }
  .ionCheckbox[disabled] {
    opacity: unset;
  }
  .item-interactive-disabled .sc-ion-label-md-h{
    opacity: unset;
  }
}
