<p style="color: #43425d;line-height: 1.53;font-size:16px;padding-left: 20px;margin-bottom: 5px;">Overview</p>


<!-------------------------------- show announcement menu ---------------------------------->
<ion-menu contentId="announcedMenuContent" side="end" type="overlay" menuId="viewAnnouncementDetails">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 17px;width: 20px;height:21px;float:left" src="assets/icon/dashboard/icon announcement@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">ANNOUNCEMENT</p>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- <ion-list-header>
                          Online
                      </ion-list-header> -->
      <ng-container *ngFor="let item of announcements; let i =index">
        <ion-item *ngIf="i<6 && showallannouncement===false">
          <ion-label>
            <p style="color:#4d4f5c; font-weight: bold;font-size: 11px;line-height: 1.82;white-space: normal;">
              {{item.TITLE}}</p>
            <p style="opacity: 0.8;font-size: 9px;line-height: 2.22;color: #4d4f5c;">{{item.FROM_DATE}}
            </p>
            <p style="white-space: normal;font-size: 10px;color: #4d4f5c;line-height:1.4;text-align: justify;">
              {{item.MESSAGE}}
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showallannouncement">
          <ion-label>
            <p style="color:#4d4f5c; font-weight: bold;font-size: 11px;line-height: 1.82;white-space: normal;">
              {{item.TITLE}}</p>
            <p style="opacity: 0.8;font-size: 9px;line-height: 2.22;color: #4d4f5c;">{{item.FROM_DATE}}
            </p>
            <p style="white-space: normal;font-size: 10px;color: #4d4f5c;line-height:1.4;text-align: justify;">
              {{item.MESSAGE}}
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    <div style="text-align: center;margin:30px">
      <ion-button *ngIf="!viewLessAnnouncement" (click)="showallannouncement = true; viewLessAnnouncement = true"
        style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;" color="primary">
        View More
      </ion-button>
      <ion-button *ngIf="viewLessAnnouncement" (click)="showallannouncement = false; viewLessAnnouncement = false"
        style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;" color="primary">
        View Less
      </ion-button>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="announcedMenuContent"></ion-router-outlet>

<!--------------------------------- create announcement ------------------------------------->
<ion-menu contentId="createAnnouncementContent" side="end" type="overlay" menuId="createAnnouncementDetails"
  style="--width: 660px;">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 17px;width: 20px;height:21px;float:left" src="assets/icon/dashboard/icon announcement@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">ANNOUNCEMENT</p>
  </ion-header>

  <ion-content>
    <mat-form-field appearance="outline"
      style="width: 94%;margin: 20px;margin-top: 30px;margin-bottom: 0;font-size: 13px;color:#43425d;opacity: 0.8;">
      <input matInput placeholder=" Add Announcement's Title">
    </mat-form-field>
    <div style="width: 94%;margin: 20px;">
      <p-editor placeholder="Write Something" [style]="{'height':'230px','border-radius': '4px',
      'border': 'solid 1px #e8e9ec', 'font-size': '13px','color':'#43425d','opacity': '0.8'}" [(ngModel)]="message">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-image" aria-label="Image"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean"></button>
          </span>
        </p-header>
      </p-editor>
      <div style="height: 40px;width:100%"></div>
      <mat-checkbox color="primary" style="opacity: 0.8;color: #4d4f5c;font-size: 13px;" [(ngModel)]="checked">Make
        annoucement as
        featured (stick on the top)</mat-checkbox>
      <div style="text-align: right;padding: 30px;padding-right: 0;">
        <!-- <ion-button
          style="display: inline-block;--background: #43425d;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;">
          Save Draft
        </ion-button>
        &nbsp; -->
        <ion-button
          style="display: inline-block;font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;"
          color="primary">
          Publish
        </ion-button>
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="createAnnouncementContent"></ion-router-outlet>

<!-------------------------------- show holiday menu ---------------------------------->
<ion-menu contentId="holidayMenuContent" side="end" type="overlay" menuId="viewHolidayDetails">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 17px;width: 22px;height: 17px;float:left" src="assets/icon/dashboard/icon All Holidays@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">ALL HOLIDAYS</p>
  </ion-header>

  <ion-content>
    <ion-list>
      <ng-container *ngFor="let item of holidays; let i = index;">
        <ion-item *ngIf="i<6 && showall===false">
          <ion-row style="width: 100%;padding-bottom: 10px;">
            <ion-col size="4">
              <mat-chip-list>
                <ion-label style="padding: 5px;padding-bottom: 0;color:#4d4f5c; font-size:9px;line-height:2.22">
                  {{item.start}}
                </ion-label>
                <mat-chip>
                  <p
                    style="white-space: nowrap;width: 100%;text-align: center;color: #ffffff;font-size: 9px;line-height: 2.22;">
                    {{item.day}}</p>
                </mat-chip>
              </mat-chip-list>
            </ion-col>
            <ion-col align-self-center style="padding-top: 15px;color:#4d4f5c;font-size:11px;line-height: 1.82;">
              {{item.title}}
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="showall">
          <ion-row style="width: 100%;padding-bottom: 10px;">
            <ion-col size="4">
              <mat-chip-list>
                <ion-label style="padding: 5px;padding-bottom: 0;color:#4d4f5c; font-size:9px;line-height:2.22">
                  {{item.start}}
                </ion-label>
                <mat-chip>
                  <p
                    style="white-space: nowrap;width: 100%;text-align: center;color: #ffffff;font-size: 9px;line-height: 2.22;">
                    {{item.day}}</p>
                </mat-chip>
              </mat-chip-list>
            </ion-col>
            <ion-col align-self-center style="padding-top: 15px;color:#4d4f5c;font-size:11px;line-height: 1.82;">
              {{item.title}}
            </ion-col>
          </ion-row>
        </ion-item>
      </ng-container>
    </ion-list>

    <div style="text-align: center;margin:30px">
      <ion-button *ngIf="!showViewLessButton" (click)="showall = true; showViewLessButton = true"
        style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;" color="primary">
        View More
      </ion-button>
      <ion-button *ngIf="showViewLessButton" (click)="showall = false; showViewLessButton = false"
        style="font-size: 11px;height: 30px;width:124px;cursor: pointer;text-transform: none;" color="primary">
        View Less
      </ion-button>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="holidayMenuContent"></ion-router-outlet>


<!----------------------------------- dashboard content ----------------------------------------------->

<div class="row" *ngIf="row">
  <div class="annoucement">
    <div style="background-color: #ffffff;padding: 10px;">
      <div style="font-size: 13px;width:100%;background: #f5f6fa;padding-left: 15px;padding-top: 1px;
        padding-bottom: 1px;color: #a3a6b4;font-weight: bold;">
        <p style="float: left;margin-top: 10px;">Latest Annoucement</p>
        <ion-button
          style="margin-left: 10px;font-size: 11px;height: 26px;width:92px;cursor: pointer;text-transform: none;font-weight: bold;"
          color="primary" (click)="menu.enable(true, 'createAnnouncementDetails');menu.enable(false, 'viewHolidayDetails');
          menu.enable(false, 'viewAnnouncementDetails');menu.open('createAnnouncementDetails');">
          Create New
        </ion-button>
        <p (click)="menu.enable(true, 'viewAnnouncementDetails');menu.enable(false, 'viewReplacementDetails');menu.enable(false, 'viewAnnualDetails');menu.enable(false, 'viewHolidayDetails');menu.open('viewAnnouncementDetails');"
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 15px;margin-top: 10px;color:#3b86ff;opacity: 0.8;line-height: 1.36;font-size: 11px;font-weight: bold;">
          View Details</p>
      </div>
      <ion-row style="width: 100%;" *ngFor="let item of announcements; let i = index;">
        <ng-container style="padding-top: 2%;" *ngIf="i<3">
          <ion-col align-self-center size="3"
            style="padding-left: 15px;color:#4d4f5c;font-size:11px;line-height: 1.82;">
            {{item.FROM_DATE}}
          </ion-col>
          <ion-col style="color:#4d4f5c;font-size:11px;line-height: 1.82;overflow: hidden;
                  white-space: nowrap;text-overflow: ellipsis;">
            <span *ngIf="item.IS_PINNED === 1" style="font-weight: bold;color:#43425d;font-size:11px">
              {{item.TITLE}} <br></span>
            <span>{{item.MESSAGE}}</span>
          </ion-col>
          <ion-col align-self-center>
            <div style="margin-right: 42px;text-align: right;">
              <ion-icon name="close" style="color: #ff6768;padding-top: 3px;padding-right: 5px;
                font-size: 15px;cursor: pointer;">
              </ion-icon>
              <p
                style="position: absolute;top: -5px;display: inline-block;color: #ff6768;cursor: pointer;font-size: 11px;line-height: 1.82;">
                Delete</p>
            </div>
          </ion-col>
          <ion-item *ngIf="i<2" class="divider" lines="full"></ion-item>
        </ng-container>
      </ion-row>
    </div>
  </div>
  <div class="holiday">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #f5f6fa;padding: 10px;padding-left: 15px;color: #a3a6b4;font-weight: bold;">
        Upcoming Holidays <p
          (click)="menu.enable(true, 'viewHolidayDetails');menu.enable(false, 'createAnnouncementDetails');;menu.enable(false, 'viewAnnouncementDetails');menu.open('viewHolidayDetails');"
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 5px;color:#3b86ff;opacity: 0.8;line-height: 1.36;font-size: 11px;font-weight: bold;">
          View Details</p>
      </div>
      <ion-row style="width: 100%;" *ngFor="let item of holidays; let i = index;">
        <ng-container style="padding-top: 2%;" *ngIf="i<3">
          <ion-col size="3" style="padding-left: 15px;color:#4d4f5c;font-size:11px;line-height: 1.82;">
            <ion-label>{{item.start}}</ion-label>
          </ion-col>
          <ion-col size="3">
            <mat-chip-list>
              <mat-chip>
                <p
                  style="white-space: nowrap;width: 100%;text-align: center;color: #ffffff;font-size: 9px;line-height: 2.22;">
                  {{item.day}}</p>
              </mat-chip>
            </mat-chip-list>
          </ion-col>
          <ion-col style="color:#4d4f5c;font-size:11px;line-height: 1.82;">{{item.title}}
          </ion-col>
          <ion-item *ngIf="i<2" class="divider" lines="full"></ion-item>
        </ng-container>
      </ion-row>
    </div>
  </div>
</div>

<div class="row" *ngIf="row">
  <div class="joiner">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #7069d8;padding: 10px;padding-left: 15px;color: #ffffff;font-weight: bold;">
        Upcoming New Joiner <p
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 5px;color: #ffffff;line-height: 1.31;font-size: 13px;font-weight: bold;">
          Date of Join</p>
      </div>
      <ion-list class="list" style="width: 100%;">
        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

      </ion-list>
    </div>
  </div>

  <div class="leaver">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #43425d;padding: 10px;padding-left: 15px;color: #ffffff;font-weight: bold;">
        Upcoming Leaver <p
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 5px;color: #ffffff;line-height: 1.31;font-size: 13px;font-weight: bold;">
          Last Day</p>
      </div>
      <ion-list class="list" style="width: 100%;">
        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

      </ion-list>
    </div>
  </div>

  <div class="longleave">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #f8bb40;padding: 10px;padding-left: 15px;color: #ffffff;font-weight: bold;">
        Long Leave Reminder <p
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 5px;color: #ffffff;line-height: 1.31;font-size: 13px;font-weight: bold;">
          Start On</p>
      </div>
      <ion-list class="list" style="width: 100%;">
        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">
            <ion-label text-wrap class="labelText">
              <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">30
                Sept 2019
              </p>
              <p
                style="margin-bottom: 0;margin-right: 7px;color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap">
                Total: 6 Days
              </p>
            </ion-label>
          </ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">
            <ion-label text-wrap class="labelText">
              <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">30
                Sept 2019
              </p>
              <p
                style="margin-bottom: 0;margin-right: 7px;color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap">
                Total: 6 Days
              </p>
            </ion-label>
          </ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">
            <ion-label text-wrap class="labelText">
              <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">30
                Sept 2019
              </p>
              <p
                style="margin-bottom: 0;margin-right: 7px;color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap">
                Total: 6 Days
              </p>
            </ion-label>
          </ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

      </ion-list>
    </div>
  </div>
</div>

<div class="row" *ngIf="row">
  <div class="tasks">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #f5f6fa;padding: 10px;padding-left: 15px;color: #a3a6b4;font-weight: bold;">
        Your Tasks
      </div>
      <ng-container *ngIf="tasks && tasks.status == undefined">
        <ion-list>
          <ion-item *ngFor="let item of tasks; let i = index;">
            <ion-row style="width: 100%;">
              <ng-container style="padding-top: 2%;">
                <ion-col align-self-center size="6"
                  style="padding-left: 15px;color:#4d4f5c;font-size:11px;line-height: 1.82;">
                  {{item.message}}
                </ion-col>
                <ion-col align-self-center>
                  <div style="display: inline;padding-right: 30px;">
                    <ion-icon name="add-circle-outline" style="color: #3b86ff;padding-top: 2px;padding-right: 10px;
                            padding-left: 0.5%;font-size: 16px;cursor: pointer;">
                    </ion-icon>
                    <p
                      style="position: absolute;top: -5px;font-weight: bold;display: inline-block;color: #3b86ff;cursor: pointer;font-size: 11px;line-height: 1.82;">
                      Action</p>
                  </div>
                </ion-col>
                <ion-col align-self-center>
                  <div style="display: inline;padding-right: 30px;">
                    <ion-icon name="checkmark" style="color: #46cdcf;padding-top: 2px;padding-right: 10px;
                                padding-left: 0.5%;font-size: 16px;cursor: pointer;"
                      (click)="approveLeave(item.leave_transaction_guid)">
                    </ion-icon>
                    <p style="position: absolute;top: -5px;font-weight: bold;display: inline-block;color: #46cdcf;cursor: pointer;font-size: 11px;line-height: 1.82;"
                      (click)="approveLeave(item.leave_transaction_guid)">Accept</p>
                  </div>
                </ion-col>
                <ion-col align-self-center>
                  <div style="display: inline;padding-right: 30px;">
                    <ion-icon name="close" style="color: #ff6768;padding-top: 2px;padding-right: 10px;
                                            padding-left: 0.5%;font-size: 16px;cursor: pointer;"
                      (click)="rejectLeave(item.leave_transaction_guid)">
                    </ion-icon>
                    <p style="position: absolute;top: -5px;font-weight: bold;display: inline-block;color: #ff6768;cursor: pointer;font-size: 11px;line-height: 1.82;"
                      (click)="rejectLeave(item.leave_transaction_guid)">Reject</p>
                  </div>
                </ion-col>
                <!-- <ion-item *ngIf="i<notification.length-1" class="divider" lines="full"></ion-item> -->
              </ng-container>
            </ion-row>
          </ion-item>
        </ion-list>
      </ng-container>
      <ng-container *ngIf="tasks && tasks.status != undefined">
        <p style="padding-left: 15px;color: rgb(77, 79, 92);font-size: 11px;line-height: 1.82;">
          No task assigned to you</p>
      </ng-container>
    </div>
  </div>
  <div class="birthday">
    <div style="background-color: #ffffff;padding: 10px;">
      <div
        style="font-size: 13px;width:100%;background: #46cdcf;padding: 10px;padding-left: 15px;color: #ffffff;font-weight: bold;">
        Upcoming Birthday <p
          style="cursor: pointer;margin-top: 0px;float: right;margin-right: 5px;color: #ffffff;line-height: 1.31;font-size: 13px;font-weight: bold;">
          Date of Birth</p>
      </div>
      <ion-list class="list" style="width: 100%;">
        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 0;">
            <ion-item lines="none">
              <ion-avatar slot="start" class="avatar">
                <img src="assets/icon/picture.png">
              </ion-avatar>
              <ion-label text-wrap class="labelText">
                <p style="color: #4d4f5c; font-size: 11px;white-space: nowrap;margin: 0">Rizaidi Ahmand
                </p>
                <p style="color: #4d4f5c; opacity: 0.8;font-size: 10px;white-space: nowrap;margin: 0">
                  Software Developer
                </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col align-self-center
            style="text-align: right;margin-right: 10px;font-size: 11px;line-height: 1.82;color: #4d4f5c;">20
            Sept 2019</ion-col>
          <ion-item class="divider" lines="full"></ion-item>
        </ion-row>

      </ion-list>
    </div>
  </div>
</div>

<div style="width: 100%; height:100%; text-align: center" *ngIf="showSpinner">
  <app-spinner style="width: 100%; height:100%; text-align: center" *ngIf="showSpinner"></app-spinner>
</div>