<ion-content class="contentMenu" contentId="content">
    <ion-list lines="none" style="background: #8b89b4;">
        <ion-title style="font-weight: bold;display: inline-block;color: #f0f0f7;font-size: 15px;padding-bottom: 20px;
        padding-top: 10px;">
            Leave Setup
        </ion-title>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of leaveSetupPage; let i=index">
            <ion-item class="items" lines="none" (click)="showHighlightMenu(i)" [ngClass]="{
                    'mainColor': numOfArray === i,'highlightColor': numOfArray !== i}">
                <ion-label>
                    {{p.title}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>
</ion-content>

<ion-content class="content2">
    <ion-router-outlet></ion-router-outlet>
</ion-content>