:host {
  top: 48px;
  background: #f9fafc;

  /////////////////////// header //////////////////////

  .header-md:after {
    height: 0px;
    background-image: none;
  }
  .toolbar1 {
    height: 48px;
    padding-right: 20px;
  }
  .toolbar2 {
    --min-height: 35px;
    border: 1px solid
      var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .contentMenu {
    width: 230px;
    --background: #8b89b4;
    // border-right: 1px solid
    //   var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
    // border-left: 1px solid
    //   var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
  .labels:hover {
    color: var(--ion-color-primary-shade);
  }
  .items {
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    // --background: #8b89b4;
  }
  .my-icon {
    // fill: #f9fafc;
    width: 14px;
    height: 14px;
  }
  .mainColor {
    --background: rgba(0, 0, 0, 0.1);
    border-left: 4px solid #a3a0fb;
    --padding-start: 12px;
  }
  .highlightColor {
    --background: #8b89b4;
  }
  .item:hover {
    --background: rgba(0, 0, 0, 0.1);
    // border-left: 2px solid #a3a0fb;
  }
  .content2 {
    @media screen and (min-width: 992px) {
      position: absolute;
      // top: 37px;
      width: calc(100% - 230px);
      right: 0;
      // height: calc(100% - 38px);
      left: 230px;
    }
  }
  .dropdownList {
    font-weight: bold;
    display: inline-block;
    background: #8b89b4;
    padding: 15px;
    width: -webkit-fill-available;
    margin: 7px;
    border-radius: 2px;
    border: solid 1px #a5a4bf;
    font-size: 13px;
    opacity: 0.8;
    color: #43425d !important;

    ::ng-deep .mat-select-value {
      color: #ffffff !important;
    }

    ::ng-deep .mat-select-arrow {
      color: #ffffff !important;
    }
  }
  
}
