<span class="alertSuccess" *ngIf="data == 'successfully'">
    <ion-icon name="checkmark-circle-outline" style="width: 24px;
        height: 24px;position: absolute;top: 11px;"></ion-icon>
    <ion-label style="padding-left: 35px;">You have submitted {{data}}!</ion-label>
</span>
<span class="alertFail" *ngIf="data == 'unsuccessfully'">
    <ion-icon name="information-circle-outline" style="width: 24px;
        height: 24px;position: absolute;top: 11px;"></ion-icon>
    <ion-label style="padding-left: 35px;">You have submitted {{data}}!</ion-label>
</span>