<!--------------create client, projects, contract -------------------------------------->
<ion-menu style="--width:465px" class="leave-entitlement-popup" contentId="createClientContent" side="end"
  type="overlay" menuId="createNewClientDetails">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">CREATE NEW CLIENTS,
      PROJECTS, SUPPORTS & LOCATIONS
    </p>
  </ion-header>

  <ion-content>
    <div>
      <div>
        <p style="margin: 15px;margin-top: 20px;margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
          CLIENT NAME</p>
        <ion-row style="display: flex;">
          <ion-col style="flex: 21;">
            <div style="width: 40%;display: inline-block;">
              <mat-form-field appearance="outline"
                style="margin: 10px;height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;margin-top: 0;margin-right: 0;">
                <mat-label>Abbreviation</mat-label>
                <input matInput [(ngModel)]="newClientAbbr" required>
              </mat-form-field>
            </div>
            <div style="width: 1%;display: inline-block;"></div>
            <div style="width: 58%;display: inline-block;">
              <mat-form-field appearance="outline" style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                <mat-label>Client Name</mat-label>
                <input matInput [(ngModel)]="newClientName" required>
              </mat-form-field>
            </div>
          </ion-col>
          <ion-col align-self-center style="text-align: right;padding-right: 20px;">
          </ion-col>
          <ion-item class="divider" lines="full" style="padding-top: 1%;padding-bottom: 3%;padding-left: 15px;
padding-right: 15px;">
          </ion-item>
        </ion-row>

        <div>
          <div class="edit-leave-entitlement-profile-items" style="overflow: auto;">
            <!---------------------------------- Projects (menu) -------------------------------------->
            <p style="margin: 15px;margin-bottom: 0;margin-top: 0;font-size: 12px; color: #808495;font-weight: bold;">
              PROJECT NAME</p>
            <ng-container *ngFor="let item of newProject; let i =index">
              <ion-row style="display: flex;">
                <ion-col style="flex: 21;">
                  <div style="width: 40%;display: inline-block;">
                    <mat-form-field appearance="outline"
                      style="margin: 10px;height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;margin-top: 0;margin-right: 0;">
                      <mat-label>SOC No.</mat-label>
                      <input matInput [(ngModel)]="item.code" required>
                    </mat-form-field>
                  </div>
                  <div style="width: 1%;display: inline-block;"></div>
                  <div style="width: 58%;display: inline-block;">
                    <mat-form-field appearance="outline"
                      style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                      <mat-label>Project Name</mat-label>
                      <input matInput [(ngModel)]="item.name" required>
                    </mat-form-field>
                  </div>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right: 20px;">
                  <img src="assets/icon/leave_setup/icon_trash@3x.png"
                    style="width: 11px;height:11px;display: inline-block;cursor: pointer;margin-top: -15px;"
                    (click)="deleteProjet(i, 'new')">
                </ion-col>
              </ion-row>
              <ion-row style="display: flex;">
                <!-- *ngFor="let item of leaveEntitlement[j]; let i=index" -->
                <ion-col style="flex: 21;padding-left: 0;">
                  <div style="width: 40%;display: inline-block;">
                  </div>
                  <div style="width: 1%;display: inline-block;"></div>
                  <div style="width: 58%;display: inline-block;padding-left: 1%;">
                    <mat-form-field appearance="outline"
                      style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                      <input matInput placeholder="Description here" [(ngModel)]="item.description" required>
                    </mat-form-field>
                  </div>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right:20px">
                </ion-col>
              </ion-row>
            </ng-container>
            <div style="margin: 15px;margin-top: 0;"><img (click)="addNewProject('new')"
                style="display: inline-block;cursor: pointer;margin-right: 6px;width: 14px;height: 14px;"
                src="assets/icon/leave_setup/icon_request@3x.png">
              <p style="color: #808495;font-size: 11px;font-weight: bold;
display: inline-block;"> Add New Project</p>
              <ion-item class="divider" lines="full" style="padding-top: 0;padding-bottom: 3%;">
              </ion-item>

              <!----------------------------- Contract (menu) ------------------------------------>
              <p style="margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
                CONTRACT NAME</p>
              <ng-container *ngFor="let item of newContract;let i=index">
                <ion-row style="display: flex;">
                  <!-- *ngFor="let item of leaveEntitlement[j]; let i=index" -->
                  <ion-col style="flex: 21;padding-left: 0;">
                    <div style="width: 40%;display: inline-block;">
                      <mat-form-field appearance="outline"
                        style="height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <mat-label>Contract No.</mat-label>
                        <input matInput [(ngModel)]="item.code" required>
                      </mat-form-field>
                    </div>
                    <div style="width: 1%;display: inline-block;"></div>
                    <div style="width: 58%;display: inline-block;">
                      <mat-form-field appearance="outline"
                        style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <mat-label>Contract Name</mat-label>
                        <input matInput [(ngModel)]="item.name" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;">
                    <img src="assets/icon/leave_setup/icon_trash@3x.png"
                      style="width: 11px;height:11px;display: inline-block;cursor: pointer;margin-top: -15px;"
                      (click)="deleteContract(i, 'new')">
                  </ion-col>
                </ion-row>
                <ion-row style="display: flex;">
                  <ion-col style="flex: 21;padding-left: 0;">
                    <div style="width: 40%;display: inline-block;">
                    </div>
                    <div style="width: 1%;display: inline-block;"></div>
                    <div style="width: 58%;display: inline-block;">
                      <mat-form-field appearance="outline"
                        style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <input matInput placeholder="Description here" [(ngModel)]="item.description" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;">
                  </ion-col>
                </ion-row>
              </ng-container>
              <div><img (click)="addNewContract('new')"
                  style="display: inline-block;cursor: pointer;margin-right: 6px;width: 14px;height: 14px;"
                  src="assets/icon/leave_setup/icon_request@3x.png">
                <p style="color: #808495;font-size: 11px;font-weight: bold;
  display: inline-block;"> Add New Contract</p>
                <ion-item class="divider" lines="full" style="padding-top: 0;padding-bottom: 3%;">
                </ion-item>
              </div>
              <p style="margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
                LOCATION</p>
              <ion-row style="display: flex;">
                <ion-col style="flex: 21;padding-left: 0;">
                  <mat-form-field appearance="outline" class="locationFormField"
                    style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" [matAutocomplete]="auto" [(ngModel)]="currentAddress"
                      (keyup)="getNewSearchLocation($event.srcElement.value)">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of newFilteredLocation" [value]="option.description"
                        style="font-size: 12px;color:#43425d;opacity: 0.8;"
                        (click)="getNewLocationCoordinate(option.description, i)">
                        {{option.description}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </ion-col>
              </ion-row>

              <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
            </div>
          </div>
          <div style="text-align: center;margin-top: 20px;">
            <ion-button
              style="--border-radius: 2px;font-size: 11px;height: 30px;width:204px;cursor: pointer;text-transform: none;"
              color="primary" (click)="createClientProfile(); showSmallSpinner=true"
              [disabled]="newClientName == undefined || newClientAbbr == undefined ">
              Create New<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
              </ion-spinner>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>


</ion-menu>
<ion-router-outlet id="createClientContent">
</ion-router-outlet>

<!------------- update client, projects, supports & locations -------------------------->

<ion-menu style="--width:465px" class="leave-entitlement-popup" contentId="editLeaveTypeContent" side="end"
  type="overlay" menuId="editClientDetails">
  <ion-header style="background-color:#43425d; color: #fcfcfc;">
    <img style="margin: 15px;width: 22px;height: 22px;float:left" src="assets/icon/leave_setup/icon_roles@3x.png">
    <p style="line-height: 1.27;font-size: 11px;color: #fcfcfc;font-weight: bold;margin: 20px;">UPDATE CLIENTS,
      PROJECTS, SUPPORTS & LOCATIONS
    </p>
  </ion-header>

  <ion-content>
    <div>
      <div>
        <p style="margin: 15px;margin-top: 20px;margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
          CLIENT NAME</p>
        <ion-row style="display: flex;">
          <ion-col style="flex: 21;">
            <div style="width: 40%;display: inline-block;">
              <mat-form-field appearance="outline"
                style="margin: 10px;height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;margin-top: 0;margin-right: 0;">
                <mat-label>Abbreviation</mat-label>
                <input matInput [formControl]="editClientAbbr" required>
              </mat-form-field>
            </div>
            <div style="width: 1%;display: inline-block;"></div>
            <div style="width: 58%;display: inline-block;">
              <mat-form-field appearance="outline" style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                <mat-label>Client Name</mat-label>
                <input matInput [formControl]="editClientName" required>
              </mat-form-field>
            </div>
          </ion-col>
          <ion-col align-self-center style="text-align: right;padding-right: 20px;">
          </ion-col>
          <ion-item class="divider" lines="full" style="padding-top: 1%;padding-bottom: 3%;padding-left: 15px;
padding-right: 15px;">
          </ion-item>
        </ion-row>

        <div>
          <div class="edit-leave-entitlement-profile-items" style="overflow: auto;">
            <!---------------------------------- Projects (menu) -------------------------------------->
            <p style="margin: 15px;margin-bottom: 0;margin-top: 0;font-size: 12px; color: #808495;font-weight: bold;">
              PROJECT NAME</p>
            <ng-container *ngFor="let item of project;let i=index">
              <ion-row style="display: flex;">
                <ion-col style="flex: 21;">
                  <div style="width: 40%;display: inline-block;">
                    <mat-form-field appearance="outline"
                      style="margin: 10px;height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;margin-top: 0;margin-right: 0;">
                      <mat-label>SOC No.</mat-label>
                      <input matInput [(ngModel)]="item.SOC_NO" required>
                    </mat-form-field>
                  </div>
                  <div style="width: 1%;display: inline-block;"></div>
                  <div style="width: 58%;display: inline-block;">
                    <mat-form-field appearance="outline"
                      style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                      <mat-label>Project Name</mat-label>
                      <input matInput [(ngModel)]="item.NAME" required>
                      <!-- [(ngModel)]="item.leaveEntitlementDescription" -->
                    </mat-form-field>
                  </div>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right: 20px;">
                  <img src="assets/icon/leave_setup/icon_trash@3x.png"
                    style="width: 11px;height:11px;display: inline-block;cursor: pointer;margin-top: -15px;"
                    (click)="deleteProjet(i, 'edit')">
                </ion-col>
              </ion-row>
              <ion-row style="display: flex;">
                <!-- *ngFor="let item of leaveEntitlement[j]; let i=index" -->
                <ion-col style="flex: 21;padding-left: 0;">
                  <div style="width: 40%;display: inline-block;">
                  </div>
                  <div style="width: 1%;display: inline-block;"></div>
                  <div style="width: 58%;display: inline-block;padding-left: 1%;">
                    <mat-form-field appearance="outline"
                      style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                      <input matInput [(ngModel)]="item.DESCRIPTION" placeholder="Description here" required>
                    </mat-form-field>
                  </div>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right: 20px;">
                </ion-col>
              </ion-row>
            </ng-container>
            <div style="margin: 15px;margin-top: 0;"><img (click)="addNewProject('edit')"
                style="display: inline-block;cursor: pointer;margin-right: 6px;width: 14px;height: 14px;"
                src="assets/icon/leave_setup/icon_request@3x.png">
              <p style="color: #808495;font-size: 11px;font-weight: bold;
display: inline-block;"> Add New Project</p>
              <ion-item class="divider" lines="full" style="padding-top: 0;padding-bottom: 3%;">
              </ion-item>

              <!----------------------------- Contract (menu) ------------------------------------>
              <p style="margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
                CONTRACT NAME</p>
              <ng-container *ngFor="let item of contract; let i =index">
                <ion-row style="display: flex;">
                  <ion-col style="flex: 21;padding-left: 0;">
                    <div style="width: 40%;display: inline-block;">
                      <mat-form-field appearance="outline"
                        style="height: 45px;display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <mat-label>Contract No.</mat-label>
                        <input matInput [(ngModel)]="item.CONTRACT_NO" required>
                      </mat-form-field>
                    </div>
                    <div style="width: 1%;display: inline-block;"></div>
                    <div style="width: 58%;display: inline-block;">
                      <mat-form-field appearance="outline"
                        style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <mat-label>Contract Name</mat-label>
                        <input matInput [(ngModel)]="item.NAME" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;">
                    <img src="assets/icon/leave_setup/icon_trash@3x.png"
                      style="width: 11px;height:11px;display: inline-block;cursor: pointer;margin-top: -15px;"
                      (click)="deleteContract(i, 'edit')">
                  </ion-col>
                </ion-row>
                <ion-row style="display: flex;">
                  <ion-col style="flex: 21;padding-left: 0;">
                    <div style="width: 40%;display: inline-block;">
                    </div>
                    <div style="width: 1%;display: inline-block;"></div>
                    <div style="width: 58%;display: inline-block;padding-left: 1%;">
                      <mat-form-field appearance="outline"
                        style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                        <input matInput [(ngModel)]="item.DESCRIPTION" placeholder="Description here" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;">
                  </ion-col>
                </ion-row>
              </ng-container>
              <div><img (click)="addNewContract('edit')"
                  style="display: inline-block;cursor: pointer;margin-right: 6px;width: 14px;height: 14px;"
                  src="assets/icon/leave_setup/icon_request@3x.png">
                <p style="color: #808495;font-size: 11px;font-weight: bold;
  display: inline-block;"> Add New Contract</p>
                <ion-item class="divider" lines="full" style="padding-top: 0;padding-bottom: 3%;">
                </ion-item>
              </div>
              <p style="margin-bottom: 0;font-size: 12px; color: #808495;font-weight: bold;">
                LOCATION</p>
              <ng-container *ngFor="let item of location; let i=index">
                <ion-row style="display: flex;">
                  <ion-col style="flex: 21;padding-left: 0;">
                    <mat-form-field appearance="outline" class="locationFormField"
                      style="display: block;font-size: 12px;color:#43425d;opacity: 0.8;">
                      <mat-label>Location</mat-label>
                      <input matInput type="text" [matAutocomplete]="auto" [(ngModel)]="item.ADDRESS"
                        (keyup)="getSearchLocation($event.srcElement.value)">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredLocation" [value]="option.description"
                          style="font-size: 12px;color:#43425d;opacity: 0.8;"
                          (click)="getLocationCoordinate(option.description, i)">
                          {{option.description}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </ion-col>
                </ion-row>
                <agm-map [latitude]="item.LATITUDE" [longitude]="item.LONGITUDE" [scrollwheel]="true" [zoom]="zoom">
                  <agm-marker [latitude]="item.LATITUDE" [longitude]="item.LONGITUDE" [markerDraggable]="true"
                    (dragEnd)="markerDragEndEdit($event, i)"></agm-marker>
                </agm-map>
              </ng-container>
            </div>
          </div>
          <div style="text-align: center;margin-top: 20px;">
            <ion-button
              style="--border-radius: 2px;font-size: 11px;height: 30px;width:204px;cursor: pointer;text-transform: none;"
              color="primary" (click)="saveEditClient(); showSmallSpinner=true">
              Update<ion-spinner *ngIf="showSmallSpinner" name="lines-small" style="color: white;">
              </ion-spinner>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>


</ion-menu>
<ion-router-outlet id="editLeaveTypeContent">
</ion-router-outlet>


<!-------------------------------------- main page --------------------------------------->
<ion-card>
  <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
    <div class="fullContainer">
      <ion-item-group style="display: flex;">
        <div class="left" style="min-width: fit-content;">
          <img src="assets/icon/attendance/icon_time_attendance.png" style="width:35px;height:33px">
        </div>
        <div class="right">
          <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Client Profile
            Management
          </ion-card-subtitle>
          <ion-card-subtitle class="subtitle" style="font-size: 12px;">
            Create the attendance profile and assign employee according configuration of working place details
          </ion-card-subtitle>
        </div>
      </ion-item-group>
      <ion-item-group style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
        <div style="right: 75px;top: 25px;">
          <p
            style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
            Edit
            Mode: {{mode}}</p>
          <div style="display: inline-block;position: absolute;margin-top: 12px;">
            <ion-toggle class="toggleButton" mode="ios" color="secondary" (ionChange)="toggleMode($event)">
            </ion-toggle>
          </div>
        </div>
      </ion-item-group>
    </div>
  </ion-card-header>
  <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
    <app-spinner></app-spinner>
  </div>
  <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
    <div class="cardContent">
      <ion-card-content style="max-height: 100%;height: 100%;">
        <div class="row" style="flex-wrap: wrap; overflow-y: auto;">
          <div class="role" style="flex: 1; min-width: 200px;">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col size="11" style="font-size: 12px;white-space: nowrap;
                                    text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  CLIENT DETAILS</ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="11">
                  <ion-searchbar mode="md" class="searchbar" placeholder="Search company name"
                    (ionChange)="changeDetails($event.srcElement.value)" style="padding-left: 0;">
                  </ion-searchbar>
                </ion-col>
                <ion-col align-self-center style="text-align: right;">
                  <ion-icon class="addIcon" name="add-circle-outline" *ngIf="mode == 'ON'"
                    (click)="menuOpen = true;_sharedService.menu.open('createNewClientDetails'); _sharedService.menu.enable(true, 'createNewClientDetails');createNew=true">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 114px);">
              <ng-container *ngIf="mode == 'OFF'">
                <ion-row *ngFor="let client of clientList; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="textHover"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                      (click)="selectedProfile(client, i)">
                      {{client.NAME}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      <img src="assets/icon/attendance/path_563@2x.png" style="width:12px;height:12px;display: inline-block;
                        margin-right: 5px;">
                    </p>
                    <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;
                        margin-right: 10px;">
                      No. Of Projects: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{client.PROJECT_DATA.length}}</p>
                    </div>
                    <div
                      style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;">
                      No. Of Contracts: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{client.CONTRACT_DATA.length}}</p>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                    <ion-button disabled=true style="--opacity:1;font-size: 10px;width: 50px;height: 20px;">
                      {{client.ABBR}}
                    </ion-button>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </ng-container>
              <ng-container *ngIf="mode == 'ON'">
                <ion-row *ngFor="let client of clientList; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="textHover"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      [ngClass]="{
                                            'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                      (click)="selectedProfile(client, i)">
                      {{client.NAME}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      <img src="assets/icon/attendance/path_563@2x.png" style="width:12px;height:12px;display: inline-block;
                        margin-right: 5px;">
                    </p>
                    <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;
                        margin-right: 10px;">
                      No. Of Projects: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{client.PROJECT_DATA.length}}</p>
                    </div>
                    <div
                      style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;">
                      No. Of Contracts: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{client.CONTRACT_DATA.length}}</p>
                    </div>
                  </ion-col>
                  <ion-col align-self-center *ngIf="mode == 'ON'" style="padding-right: 15px;
                    display: flex;flex-flow: column nowrap;align-items: flex-end;">
                    <ion-button disabled=true style="--opacity: 1;font-size: 10px;width: 60px;height: 18px;">
                      {{client.ABBR}}
                    </ion-button>
                    <div>
                      <img src="assets/icon/leave_setup/icon_edit@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="menuOpen = true;selectedProfile(client, i);editClientName.patchValue(client.NAME);editClientAbbr.patchValue(client.ABBR);_sharedService.menu.enable(true, 'editClientDetails'); _sharedService.menu.open('editClientDetails'); _sharedService.menu.enable(false, 'createNewClientDetails');createNew=false"
                        [ngClass]="{ 
                                            'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                      &nbsp;&nbsp;
                      <img src="assets/icon/leave_setup/icon_trash@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="delete(client.CLIENT_GUID, client.NAME)">
                    </div>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </ng-container>
            </div>
          </div>

          <!--------------------------------- Project list ------------------------------------->
          <div class="leave">
            <div (click)="showLocation=false;showContrat=false;showProject=true"
              style="cursor: pointer;font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
                  text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  PROJECT(S) NAME</ion-col>
              </ion-row>
            </div>
            <div>
              <div class="leaveSetup" *ngIf="showProject">
                <ion-row *ngFor="let item of project; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="oriColor"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;">
                      {{item.NAME}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      {{item.DESCRIPTION}}
                    </p>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                    <ion-button disabled=true
                      style="--opacity: 1;--background: var(--ion-color-project);font-size: 10px;width: 50px;height: 20px;">
                      {{item.SOC_NO}}
                    </ion-button>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </div>
            </div>

            <!------------------------------ Contract list ------------------------------------->
            <div (click)="showLocation=false;showContrat=true;showProject=false"
              style="cursor: pointer;font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;margin-top: 10px;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
                text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  CONTRACT(S) NAME</ion-col>
              </ion-row>
            </div>
            <div class="leaveManagement" *ngIf="showContrat">
              <ion-row *ngFor="let item of contract; let i=index" style="padding-left: 5px;">
                <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  <p class="oriColor"
                    style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;">
                    {{item.NAME}}
                  </p>
                  <p
                    style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                    {{item.DESCRIPTION}}
                  </p>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                  <ion-button disabled=true
                    style="--opacity: 1;--background: var(--ion-color-contract);font-size: 10px;width: 50px;height: 20px;">
                    {{item.CONTRACT_NO}}
                  </ion-button>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
              </ion-row>
            </div>
            <div (click)="showLocation=true;showContrat=false;showProject=false"
              style="cursor: pointer;font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;margin-top: 10px;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
              text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  LOCATION(S)</ion-col>
              </ion-row>
            </div>
            <div class="leaveManagement" *ngIf="showLocation">
              <ion-row *ngFor="let item of location; let i=index" style="padding-left: 5px;">
                <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  <p class="oriColor"
                    style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;">
                    {{item.ADDRESS}}
                  </p>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-card>

<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>