<ion-card>
  <ion-card-header style="border-radius: 2px;box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);">
    <div class="fullContainer">
      <ion-item-group style="display: flex;">
        <div class="left" style="min-width: fit-content;">
          <img src="assets/icon/attendance/icon_time_attendance.png" style="width:35px;height:33px">
        </div>
        <div class="right">
          <ion-card-subtitle style="color: #43425d;opacity: 0.8;font-weight: bold;font-size: 13px;">Client Profile
            Management
          </ion-card-subtitle>
          <ion-card-subtitle class="subtitle" style="font-size: 12px;">
            Create the attendance profile and assign employee according configuration of working place details
          </ion-card-subtitle>
        </div>
      </ion-item-group>
      <ion-item-group style="margin-right: 33px; margin-left: auto; padding-left: 5px; line-height: initial;">
        <div style="right: 75px;top: 25px;">
          <p
            style="margin-top: 16px;opacity: 0.8;font-size: 12px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
            Edit
            Mode: {{mode}}</p>
          <div style="display: inline-block;position: absolute;margin-top: 12px;">
            <ion-toggle class="toggleButton" mode="ios" color="secondary" (ionChange)="toggleMode($event)">
            </ion-toggle>
          </div>
        </div>
      </ion-item-group>
    </div>
  </ion-card-header>
  <div style="width: 100%; height:100%; text-align: center; margin-top: -30px" *ngIf="showSpinner">
    <app-spinner></app-spinner>
  </div>
  <div style="background: #f0f0f7;height: 100%;position: absolute;width: 100%;">
    <div class="cardContent">
      <ion-card-content style="max-height: 100%;height: 100%;">
        <div class="row" style="flex-wrap: wrap; overflow-y: auto;">
          <div class="role" style="flex: 1; min-width: 200px;">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col size="11" style="font-size: 12px;white-space: nowrap;
                                  text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  CLIENT DETAILS</ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="11">
                  <ion-searchbar mode="md" class="searchbar" placeholder="Search company name"
                    (ionChange)="changeDetails($event.srcElement.value)" style="padding-left: 0;">
                  </ion-searchbar>
                </ion-col>
                <ion-col align-self-center style="text-align: right;">
                  <ion-icon class="addIcon" name="add-circle-outline" *ngIf="mode == 'ON'"
                    (click)="menuOpen = true;_sharedService.menu.open('createNewRoleDetails'); _sharedService.menu.enable(true, 'createNewRoleDetails'); _sharedService.menu.enable(false, 'editRoleDetails');">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </div>
            <div style="overflow-y: auto;height: calc(100% - 62px);">
              <ng-container *ngIf="mode == 'OFF'">
                <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="textHover"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      [ngClass]="{
                                          'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                      (click)="selectedProfile(role, i)">
                      {{role.code}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      <img src="assets/icon/attendance/path_563@2x.png" style="width:12px;height:12px;display: inline-block;
                      margin-right: 5px;">{{role.description}}
                    </p>
                    <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;
                      margin-right: 10px;">
                      No. Of Projects: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{role.total_employee_attach}}</p>
                    </div>
                    <div
                      style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;">
                      No. Of Contracts: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{role.total_employee_attach}}</p>
                    </div>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                    <ion-button style="font-size: 10px;width: 50px;height: 20px;">SWT</ion-button>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </ng-container>
              <ng-container *ngIf="mode == 'ON'">
                <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="textHover"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      [ngClass]="{
                                          'textColor': clickedIndex === i, 'oriColor': clickedIndex !== i}"
                      (click)="selectedProfile(role, i)">
                      {{role.code}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      <img src="assets/icon/attendance/path_563@2x.png" style="width:12px;height:12px;display: inline-block;
                      margin-right: 5px;">{{role.description}}
                    </p>
                    <div style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;
                      margin-right: 10px;">
                      No. Of Projects: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{role.total_employee_attach}}</p>
                    </div>
                    <div
                      style="font-size: 10px;color: #4d4f5c;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;display: inline-block;">
                      No. Of Contracts: <p
                        style="display: inline;font-size: 10px;color: #4d4f5c;padding: 0;font-weight: bold;">
                        {{role.total_employee_attach}}</p>
                    </div>
                  </ion-col>
                  <ion-col align-self-center *ngIf="mode == 'ON'" style="padding-right: 15px;
                  display: flex;flex-flow: column nowrap;align-items: flex-end;">
                    <ion-button style="font-size: 10px;width: 60px;height: 18px;">SWT</ion-button>
                    <div>
                      <img src="assets/icon/leave_setup/icon_edit@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="menuOpen = true;selectedProfile(role, i);editRoleName.patchValue(role.code);editRoleDescription.patchValue(role.description);_sharedService.menu.enable(true, 'editRoleDetails'); _sharedService.menu.open('editRoleDetails'); _sharedService.menu.enable(false, 'createNewRoleDetails');"
                        [ngClass]="{ 
                                          'imgFilter': clickedIndex !== i && clickedIndex !== null, 'imgColor': clickedIndex === i, 'showCursor':clickedIndex === null }">
                      &nbsp;&nbsp;
                      <img src="assets/icon/leave_setup/icon_trash@3x.png"
                        style="width: 11px;height:11px;display: inline-block;cursor: pointer;"
                        (click)="delete(role.role_guid, role.code)">
                    </div>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </ng-container>
            </div>
          </div>
          <div class="leave">
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
                text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  PROJECT(S) NAME</ion-col>
              </ion-row>
            </div>
            <div>
              <div class="leaveSetup">
                <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                  <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <p class="oriColor"
                      style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                      (click)="selectedProfile(role, i)">
                      {{role.code}}
                    </p>
                    <p
                      style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                      {{role.description}}
                    </p>
                  </ion-col>
                  <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                    <ion-button
                      style="--background: var(--ion-color-project);font-size: 10px;width: 50px;height: 20px;">SER09
                    </ion-button>
                  </ion-col>
                  <ion-item class="divider" lines="full"></ion-item>
                </ion-row>
              </div>
            </div>
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;margin-top: 10px;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
              text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  CONTRACT(S) NAME</ion-col>
              </ion-row>
            </div>
            <div class="leaveManagement">
              <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  <p class="oriColor"
                    style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                    (click)="selectedProfile(role, i)">
                    {{role.code}}
                  </p>
                  <p
                    style="padding-bottom: 5px;font-size: 11px;color: #4d4f5c;opacity:0.8;padding: 0;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;">
                    {{role.description}}
                  </p>
                </ion-col>
                <ion-col align-self-center style="text-align: right;padding-right: 15px;">
                  <ion-button style="--background: var(--ion-color-contract);font-size: 10px;width: 50px;height: 20px;">
                    CS004
                  </ion-button>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
              </ion-row>
            </div>
            <div
              style="font-size: 12px;width:100%;background: #f5f6fa;padding: 10px;margin-bottom: 5px;color: #a3a6b4;font-weight: bold;margin-top: 10px;">
              <ion-row>
                <ion-col style="font-size: 12px;white-space: nowrap;
            text-overflow: ellipsis;overflow: hidden;padding-bottom: 0;margin-bottom: 5px;">
                  LOCATION(S)</ion-col>
              </ion-row>
            </div>
            <div class="leaveManagement">
              <ion-row *ngFor="let role of roleList; let i=index" style="padding-left: 5px;">
                <ion-col size="8" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  <p class="oriColor"
                    style="cursor: pointer;font-size: 12px;font-weight: bold;overflow: hidden;white-space: pre-line;text-overflow: ellipsis;margin-bottom: 0;"
                    (click)="selectedProfile(role, i)">
                    {{role.code}}
                  </p>
                </ion-col>
                <ion-item class="divider" lines="full"></ion-item>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-card>