:host {
  height: calc(100% - 35px);
  overflow: auto;

  .leftCard {
    width: 94%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: white;
    min-height: calc(100% - 58px);
  }

  ////////////////////////// mat tab ///////////////////

  ::ng-deep .mat-tab-header {
    background-color: #f2f2f2 !important;
    margin-top: -13px;
    margin-left: -16px;
    margin-right: -16px;
  }
  ::ng-deep .mat-tab-label {
    height: 35px !important;
    color: #7a8589;
  }
  ::ng-deep .mat-tab-label.mat-tab-label-active {
    color: #057dcd;
  }
  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #057dcd;
  }
  ::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow: hidden;
  }
}
