:host {
  // margin: auto;
  // width: 100%;
  // height: calc(100% - 58px);

  .divider {
    --min-height: none;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
  }
  ion-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container {
    background: white;
    min-height: 100%;
    width: 95%;
    margin: auto;
    height: 100%;
  }
  .cardContent {
    // overflow: auto;
    // --offset-top: 0px;
    // --offset-bottom: 0px;
    // min-height: calc(100% - 38px);
    // height: calc(100% - 130px);
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .textAssign {
    color: #057dcd;
    cursor: pointer;
    margin-right: 3%;
    margin-top: 10px;
    position: absolute;
    right: 20px;
  }
  .paginator {
    color: #7a8589;
    font-size: 12px;
    margin-top: 11px;
    margin-right: 25px;
    text-align: right;
    width: 95%;
    white-space: nowrap;
    margin: auto;
  }
  .titleLabel {
    color: #20291f;
    font-weight: 500;
    font-size: 12px;
  }
  .titleRow {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 2%;
  }
  .detailsRow {
    padding-left: 2%;
  }
  .colOfLeave {
    color: #7a8589;
    font-size: 13px;
  }
  .button-round {
    --padding-start: 18px;
    --padding-end: 18px;
  }
  .button-outline {
    --border-width: 1px;
  }
  .arrow {
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
    position: absolute;
  }
  .edit-pencil-icon {
    width: 10px;
    height: 10px;
    fill: #057dcd;
    float: right;
    cursor: pointer;
  }
  //new
  ion-card {
    height: 100%;
    margin: 0;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
    // padding-top: 4px;
  }
  .mainDivider {
    --min-height: none;
  }
  .subtitle {
    display: block;
    // padding-left: 2px;
    color: #43425d;
    opacity: 0.8;
    // padding-top: 3px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    max-height: 100%;
    height: 100%;
    // padding: 0 10px;
  }
  .list {
    flex: 30%;
    max-width: 30%;
    max-height: 100%;
    height: 100%;
  }
  .details {
    flex: 70%;
    max-width: 70%;
    margin-left: 10px;
    max-height: 100%;
    height: 100%;
  }
  .textColor {
    color: #3b86ff;
    opacity: 0.8;
  }
  .oriColor {
    color: #4d4f5c;
    opacity: 0.8;
    opacity: 0.8;
  }
  .textHover:hover {
    color: #3b86ff;
    opacity: 0.8;
  }
  .addIcon {
    color: #7069d8;
    font-size: 16px;
    cursor: pointer;
    margin-top: 3px;
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
}
