<!-- <div style="width: 100%; height:100%; text-align: center;" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div> -->
<div>
    <div class="content" *ngIf="policyList">

        <!-- Anyone, Everyone, Superior -->
        <span class="example-radio-group-label" style="padding-left: 20px;display: block;padding-top: 15px">
            Employee can go on leave, if:</span>
        <mat-radio-group class="example-radio-group"
            [value]="policyList.PROPERTIES_XML.approvalConfirmation.requirement">
            <ion-item-group style="display: flex; flex-flow: row wrap;">
                <mat-radio-button class="example-radio-button" value="Anyone" style="display:inline-block; flex: 1;"
                    (change)="policyList.PROPERTIES_XML.approvalConfirmation.requirement = $event.value"
                    [disabled]="modeInput === 'OFF'">
                    <p style="font-size: 11px;color: #4d4f5c;min-width: 191px;"
                        [style.color]="policyList.PROPERTIES_XML.approvalConfirmation.requirement == 'Anyone' && modeInput === 'OFF' || modeInput === 'ON' ? '#4d4f5c':'' ">
                        Anyone in hierarchy
                        approves limit to </p>
                </mat-radio-button>
                <div style="flex: 2; margin-left: 50px;">
                    <mat-form-field appearance="outline"
                        style="font-size: 12px;width: 56px;color:#43425d;padding-left: 5px;">
                        <input matInput [(ngModel)]="policyList.PROPERTIES_XML.approvalConfirmation.approvalLevel"
                            [disabled]="modeInput === 'OFF'" required>
                    </mat-form-field>
                    <p style="color: #4d4f5c;font-size:11px;display: inline-block;">&nbsp; Level</p>
                    <div style="display: block"></div>
                </div>
            </ion-item-group>
            <ion-item-group style="display: flex; flex-flow: row wrap;">
                <mat-radio-button class="example-radio-button" style="display:inline-block; flex: 1;" value="Everyone"
                    [disabled]="modeInput === 'OFF'"
                    (change)="policyList.PROPERTIES_XML.approvalConfirmation.requirement = $event.value"
                    style="display:inline-block">
                    <p style="font-size: 11px;color: #4d4f5c;min-width: 191px;"
                        [style.color]="policyList.PROPERTIES_XML.approvalConfirmation.requirement === 'Everyone' && modeInput === 'OFF' || modeInput === 'ON' ? '#4d4f5c':'' ">
                        Everyone in hierarchy approves limit to
                    </p>
                </mat-radio-button>
                <div style="flex: 2; margin-left: 50px; min-width: fit-content;">
                    <mat-form-field appearance="outline"
                        style="font-size: 12px;width: 56px;color:#43425d;padding-left: 5px;">
                        <input matInput [(ngModel)]="policyList.PROPERTIES_XML.approvalConfirmation.approvalLevel"
                            [disabled]="modeInput === 'OFF'" required>
                    </mat-form-field>
                    <p style="color: #4d4f5c;font-size:11px;display: inline-block;">&nbsp; Level</p>
                </div>
                <div style="display: block; margin-right: 30px;"
                    *ngIf="policyList.PROPERTIES_XML.approvalConfirmation.requirement === 'Everyone'">
                    <p style="padding-left: 53px;color: #4d4f5c;font-size:11px;display: inline-block;">Escalate
                        after &nbsp;</p>
                    <mat-form-field appearance="outline"
                        style="width:56px;font-size: 12px;color:#43425d;display:inline-block">
                        <input matInput [(ngModel)]="policyList.PROPERTIES_XML.approvalConfirmation.escalateAfterDays"
                            [disabled]="modeInput === 'OFF'" required>
                    </mat-form-field>
                    <p style="color: #4d4f5c;font-size:11px;display: inline-block;">&nbsp; Days</p>
                </div>
            </ion-item-group>
            <ion-item-group>
                <mat-radio-button class="example-radio-button" value="Superior"
                    (change)="policyList.PROPERTIES_XML.approvalConfirmation.requirement = $event.value"
                    [disabled]="modeInput === 'OFF'">
                    <p style="font-size: 11px;color: #4d4f5c;"
                        [style.color]="policyList.PROPERTIES_XML.approvalConfirmation.requirement === 'Superior' && modeInput === 'OFF' || modeInput === 'ON' ? '#4d4f5c':'' ">
                        Superior approves</p>
                </mat-radio-button>
            </ion-item-group>
        </mat-radio-group>
        <ion-item class="divider" lines="full"></ion-item>

        <!-- CF leaves -->
        <ion-list lines="none">
            <ion-item class="ionItem">
                <ion-label class="cf-leave-label"
                    [style.opacity]="policyList.PROPERTIES_XML.forfeitCFLeave.value ? '0.8': '' ">Forfeit
                    carried
                    forward leaves on
                    <div [class]="'hide-sm-up'" style="margin: auto 3px; max-width: 45.23px"> next year
                    </div>
                    :
                </ion-label>
                <ion-checkbox class="ionCheckbox" slot="start" mode="ios"
                    [(ngModel)]="policyList.PROPERTIES_XML.forfeitCFLeave.value"
                    [checked]="policyList.PROPERTIES_XML.forfeitCFLeave.value" [disabled]="modeInput === 'OFF'">
                </ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-item-group style="padding-left: 44px;">
            <mat-form-field appearance="outline" style="font-size: 13px;width: 166px; padding-left: 6px;
                padding-right: 6px;color:#7a8589;">
                <mat-label>Month</mat-label>
                <mat-select [(value)]="policyList.PROPERTIES_XML.forfeitCFLeave.month"
                    (selectionChange)="monthChanged('monthCF')" [disabled]="modeInput === 'OFF'">
                    <mat-option>None</mat-option>
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="Jun">Jun</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="font-size: 13px;color:#7a8589;width: 166px; padding-left: 6px;
                padding-right: 6px;">
                <mat-label>Day</mat-label>
                <mat-select [(value)]="policyList.PROPERTIES_XML.forfeitCFLeave.day" [disabled]="modeInput === 'OFF'">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let day of daysOfCF" [value]=day>{{day}}</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <span [class]="'hide-sm-down'" style="font-size: 11px;color: #43425d;opacity:0.8">Next year</span>

        </ion-item-group>
        <ion-item class="divider" lines="full"></ion-item>
        <!-- Year end closing -->
        <ion-list lines="none">
            <ion-item class="ionItem">
                <ion-label [style.opacity]="policyList.PROPERTIES_XML.allowYearEndClosing.value === true ? '0.8': '' ">
                    Allow year end
                    closing after:
                </ion-label>
                <ion-checkbox class="ionCheckbox" slot="start" mode="ios"
                    [(ngModel)]="policyList.PROPERTIES_XML.allowYearEndClosing.value"
                    [checked]="policyList.PROPERTIES_XML.allowYearEndClosing.value" [disabled]="modeInput === 'OFF'">
                </ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-item-group style="padding-left:44px;">
            <mat-form-field appearance="outline"
                style="font-size: 13px;width: 166px;color:#7a8589;padding-left: 6px; padding-right: 6px;">
                <mat-label>Month</mat-label>
                <mat-select [(value)]="policyList.PROPERTIES_XML.allowYearEndClosing.month"
                    (selectionChange)="monthChanged('monthYE')" [disabled]="modeInput === 'OFF'">
                    <mat-option>None</mat-option>
                    <mat-option value="January">January</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="May">May</mat-option>
                    <mat-option value="Jun">Jun</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline"
                style="font-size: 13px;width: 166px;color:#7a8589;padding-left: 6px; padding-right: 6px;">
                <mat-label>Day</mat-label>
                <mat-select [(value)]="policyList.PROPERTIES_XML.allowYearEndClosing.day"
                    [disabled]="modeInput === 'OFF'">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let day of daysOfYE" [value]=day>{{day}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline"
                style="font-size: 13px;width: 166px;color:#7a8589;padding-left: 6px; padding-right: 6px;">
                <mat-label>Year</mat-label>
                <mat-select [(value)]="policyList.PROPERTIES_XML.allowYearEndClosing.relativeYear"
                    (selectionChange)="yearChanged($event.value)" [disabled]="modeInput === 'OFF'">
                    <mat-option>None</mat-option>
                    <mat-option value="This year">This year</mat-option>
                    <mat-option value="Next year">Next year</mat-option>
                </mat-select>
            </mat-form-field>
        </ion-item-group>
        <ion-item class="divider" lines="full"></ion-item>

        <!-- Apply on behalf -->
        <ion-list lines="none">
            <ion-item class="ionItem item-label">
                <ion-label [style.opacity]="policyList.PROPERTIES_XML.applyOnBehalfConfirmation === true ? '0.8': '' ">
                    Apply on
                    behalf
                    feature requires
                    employee to confirm the application</ion-label>
                <ion-checkbox class="ionCheckbox" slot="start" mode="ios"
                    [(ngModel)]="policyList.PROPERTIES_XML.applyOnBehalfConfirmation"
                    [checked]="policyList.PROPERTIES_XML.applyOnBehalfConfirmation" [disabled]="modeInput === 'OFF'">
                </ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-item class="divider" lines="full"></ion-item>

        <!-- Email reminder -->
        <ion-list lines="none">
            <ion-item class="ionItem">
                <ion-label [style.opacity]="policyList.PROPERTIES_XML.emailReminder === true ? '0.8' : '' ">Email
                    reminder
                </ion-label>
                <ion-checkbox class="ionCheckbox" slot="start" mode="ios"
                    [(ngModel)]="policyList.PROPERTIES_XML.emailReminder"
                    [checked]="policyList.PROPERTIES_XML.emailReminder" [disabled]="modeInput === 'OFF'">
                </ion-checkbox>
            </ion-item>
            <div style="left: 178px;top: 21px;position: absolute;">
                <p
                    style="opacity: 0.8;font-size: 11px;font-weight: bold;color: #43425d;display: inline-block;padding-right: 10px;">
                    {{emailValue}}</p>
                <div style="display: inline-block;position: absolute;" *ngIf="modeInput === 'ON'">
                    <ion-toggle [checked]="policyList.PROPERTIES_XML.emailReminder"
                        style="zoom:0.70;--background: #a5a4bf;" mode="ios" color="secondary"
                        (ionChange)="$event.detail.checked == true? emailValue = 'Yes': emailValue = 'No'; $event.detail.checked == true? policyList.PROPERTIES_XML.emailReminder = true: policyList.PROPERTIES_XML.emailReminder = false">
                    </ion-toggle>
                </div>
            </div>
        </ion-list>
        <ion-item class="divider" lines="full"></ion-item>

        <!-- Anniversary -->
        <ion-list lines="none">
            <ion-item class="ionItem">
                <ion-label
                    [style.opacity]="policyList.PROPERTIES_XML.anniversaryBonus.allowAutoApplyLeave === true ? '0.8': '' ">
                    Anniversary leave
                </ion-label>
                <ion-checkbox class="ionCheckbox" slot="start" mode="ios"
                    [(ngModel)]="policyList.PROPERTIES_XML.anniversaryBonus.allowAutoApplyLeave"
                    [checked]="policyList.PROPERTIES_XML.anniversaryBonus.allowAutoApplyLeave"
                    [disabled]="modeInput === 'OFF'">
                </ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-item-group style="padding-left:44px;">
            <mat-form-field appearance="outline"
                style="font-size: 13px;width: 166px;color:#7a8589;padding-left: 6px; padding-right: 6px;">
                <mat-label>Leave type</mat-label>
                <mat-select [(ngModel)]="policyList.PROPERTIES_XML.anniversaryBonus.applyLeaveOnDate"
                    [disabled]="modeInput === 'OFF'" multiple>
                    <mat-option>None</mat-option>
                    <mat-option value="birthday">Birthday</mat-option>
                    <mat-option value="join-date">Join date</mat-option>
                </mat-select>
            </mat-form-field>
        </ion-item-group>
        <ion-item class="divider" lines="full"></ion-item>
    </div>
</div>