<div style="margin-top: 4%;" *ngIf="showAssignPage">
    <form [formGroup]="workingHrForm">
        <div style="width: 31%;display: inline-block;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                WORKING HOUR PROFILE NAME</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select profile to assign</mat-label>
                <mat-select formControlName="profile" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let item of workingHrProfileList" [value]=item.working_hours_guid
                        (click)="enableDisableSubmitButton(true); ">
                        <!-- getWorkingProfile(item.working_hours_guid) -->
                        {{item.code}}
                    </mat-option>
                </mat-select>
                <mat-error>Leave type is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 31%;">
            <span style="padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                COMPANY LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select company tenant</mat-label>
                <mat-select formControlName="company" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of company" [value]=company.TENANT_COMPANY_GUID
                        (click)="companyList(company.TENANT_COMPANY_GUID);enableDisableSubmitButton(true)">
                        {{company.NAME}}
                    </mat-option>
                </mat-select>
                <mat-error>Company tenant is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div style="display: inline-block;width: 31%;">
            <span style=" padding-bottom: 10px;font-size: 12px;color:#707070;padding-left: 18px;display: block">
                DEPARTMENT LIST</span>
            <mat-form-field appearance="outline"
                style="display: block;font-size: 13px;width: 100%;color:#7a8589;padding-left: 18px;">
                <mat-label>Please select department</mat-label>
                <mat-select formControlName="department" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let department of department" [value]=department.department
                        (click)="departmentList(department.department);enableDisableSubmitButton(true)">
                        {{department.department}}
                    </mat-option>
                </mat-select>
                <ion-spinner name="lines-small" *ngIf="showSpinner" color="primary" style="position: absolute;
                        margin-left: -50px;margin-top: -10px;"></ion-spinner>
                <mat-error>Department is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </form>

    <div class="content" *ngIf="filteredUser.length > 0">
        <ion-row class="titleRow" nowrap>
            <ion-col align-self-start size="1" style="padding-left: 10px;padding-right: 30px;text-overflow: initial;">
                <ion-checkbox mode="ios" style="width: 20px; height: 20px;margin-top: 6px;" [(ngModel)]="mainCheckBox"
                    [indeterminate]="indeterminate" (click)="checkMainEvent()">
                </ion-checkbox>
            </ion-col>
            <ion-col size="1" align-self-center>
                <ion-label style="font-size: 12px;">ID</ion-label>
            </ion-col>
            <ion-col size="6" align-self-end>
                <ion-label style="font-size: 12px;">EMPLOYEE NAME</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="detailsRow" *ngFor="let item of filteredUser; let i=index" nowrap>
            <ion-col align-self-start size="1" style="padding-left: 10px;padding-right: 30px;">
                <ion-avatar class="avatar" (mouseover)="mouseEvent(i, true, item.isChecked)"
                    (mouseout)="mouseEvent(i, false, item.isChecked)">
                    <img src="assets/icon/evans.jpg" style="margin-left: -4px;"
                        [style.display]="showTickbox[i] ? 'none' : 'block'">
                    <div class="checkboxOnAvatar" [style.display]="showTickbox[i] ? 'block' : 'none'">
                        <ion-checkbox mode="ios" style="width: 20px; height: 20px;position: absolute;margin-top: 7px;"
                            [(ngModel)]="item.isChecked" (ionChange)="checkItemsEvent()">
                        </ion-checkbox>
                    </div>
                </ion-avatar>
            </ion-col>
            <ion-col size="1" class="colOfLeave" align-self-center
                style="color: #7a8589; font-size: 13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{item.staffNumber}}
            </ion-col>
            <ion-col size="6" align-self-end style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <ion-label style="color:#057dcd; font-size: 13px;">{{item.employeeName}}</ion-label>
            </ion-col>
            <ion-item class="divider" lines="full"></ion-item>
        </ion-row>
    </div>
    <div *ngIf="showNoSearchFound" style="width: 100%; text-align:center;padding: 10px">
        <div class="search-icon" [inlineSVG]="'assets/icon/top_header/search.svg'"></div>
        <p style="font-size: 20px;color:#bebebe;padding-top:10px ">No Results Found</p>
    </div>
    <div style="margin: 0 auto;padding: 20px;text-align: center;">
        <ion-button style="font-size: 12px;height: 30px;width: 110px;background: white;" fill="outline" color="primary"
            (click)="hideAssignPage(false)">
            BACK
        </ion-button>
        <ion-button style="font-size: 12px;height: 30px;width: 110px;background: white;" color="primary"
            (click)="workingHrForm.reset();smallSpinner = true;mainCheckBox=false;indeterminate=false;showTickbox = false;"
            [disabled]="submitButton">
            SUBMIT
        </ion-button>
        <div style="display: inline-block;margin-top: 10px;padding-left: 5px;vertical-align: middle;"
            *ngIf="smallSpinner">
            <ion-spinner name="lines-small" color="primary"></ion-spinner>
        </div>
    </div>
</div>