:host {
  margin: auto;
  width: 100%;
  z-index: 0 !important;

  ion-card {
    height: calc(100% - 48px);
    margin: 0;
    top: 48px;
    box-shadow: none;
  }
  .fullContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 17px;
  }
  .right {
    padding-left: 20px;
  }
  .cardContent {
    line-height: 1.25;
    background: white;
    height: calc(100% - 154px);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content {
    overflow: auto;
    height: calc(100% - 133px);
  }
  .titleRow {
    text-align: center;
  }
  .text {
    font-size: 12px;
    color: #43425d;
  }
  ::ng-deep .mat-form-field-outline {
    background: white;
    border-radius: 4px;
  }
}
