<ion-card class="leftCard">
    <ion-card-content>
        <mat-tab-group selectedIndex="0">
            <mat-tab label="Setup Public Holiday">
                <app-manage-holiday></app-manage-holiday>
            </mat-tab>
            <mat-tab label="Assign Calendar">
                <app-assign-calendar></app-assign-calendar>
            </mat-tab>
            <mat-tab label="Apply on Behalf">
                <app-apply-on-behalf></app-apply-on-behalf>
            </mat-tab>
            <mat-tab label="Approval Override">
                <app-approval-override></app-approval-override>
            </mat-tab>
        </mat-tab-group>
    </ion-card-content>
</ion-card>