<div class="header" *ngIf="showHeader">
    Your profile completeness is {{progressPercentage}}%
    <ion-progress-bar [value]="progressPercentage/100" color="success"
        style="display:inline-block; width:10%; margin-left: 3%"></ion-progress-bar>
    <ion-icon class="crossIcon" name="close" (click)="clickToHideHeader()"></ion-icon>
</div>
<ion-card>
    <ion-card-header>
        <div class="fullContainer">
            <div class="left">
                <ion-avatar class="avatar">
                    <img src="assets/icon/picture.png">
                </ion-avatar>
                <ion-badge style="background-color: white;border: 1px solid#bebebe;">
                    <!-- <i style="color: #bebebe; padding-top: 1px;" class="far fa-image"></i> -->
                    <div class="pic-icon" [inlineSVG]="'assets/icon/Option/picture.svg'"></div>
                </ion-badge>
            </div>
            <div class="right" *ngIf="personalList">
                <ion-card-title>{{personalList.employeeName}}</ion-card-title>
                <div style="display:inline-block; padding-top: 10px;">
                    <ion-card-subtitle class="subtitle">
                        {{personalList.employeeDesignation}}</ion-card-subtitle>
                    <i class="fas fa-circle"></i>
                    <ion-card-subtitle class="subtitle">{{personalList.employmentDetail.department}}
                    </ion-card-subtitle>
                </div>
                <div style="padding-top: 10px;">
                    <!-- <i class="fas fa-map-marker-alt"></i> -->
                    <div class="marker-icon" [inlineSVG]="'assets/icon/User_profile/pin.svg'"></div>
                    <ion-card-subtitle class="subtitle" style="padding-left:8px">
                        {{personalList.employmentDetail.workLocation}}
                    </ion-card-subtitle>
                </div>
            </div>
        </div>
    </ion-card-header>
    <ion-item lines="full" class="mainDivider"></ion-item>
    <div class="cardContent" *ngIf="personalList">
        <ion-card-content>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>EMPLOYEE NUMBER</ion-label>
                    <p>{{personalList.employmentDetail.employeeNumber}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>DESIGNATION</ion-label>
                    <p>{{personalList.employmentDetail.designation}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>NRIC</ion-label>
                    <p>{{personalList.employmentDetail.nric}}</p>
                </ion-col>

            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>REPORITNG TO</ion-label>
                    <p>{{personalList.employmentDetail.reportingTo}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>DEPARTMENT</ion-label>
                    <p>{{personalList.employmentDetail.department}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>WORK LOCATION</ion-label>
                    <p>{{personalList.employmentDetail.workLocation}}</p>
                </ion-col>

            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>DATE OF JOIN</ion-label>
                    <p>{{personalList.employmentDetail.dateOfJoin}}</p>

                </ion-col>
                <ion-col>
                    <ion-label>CONFIRMATION DATE</ion-label>
                    <p>{{personalList.employmentDetail.dateOfConfirmation}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>RESIGNATION DATE</ion-label>
                    <p>{{personalList.employmentDetail.dateOfResign}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>YEARS OF SERVICE</ion-label>
                    <p>{{personalList.employmentDetail.yearOfService}}</p>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-item class="divider"></ion-item>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>EMPLOYMENT TYPE</ion-label>
                    <p>{{personalList.employmentDetail.employmentType}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>STATUS</ion-label>
                    <p>{{personalList.employmentDetail.employmentStatus}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>USER ROLE</ion-label>
                    <p>{{personalList.employmentDetail.userRole}}</p>
                </ion-col>
            </ion-row>
            <ion-item class="divider"></ion-item>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>BANK ACCOUNT NAME</ion-label>
                    <p>{{personalList.employmentDetail.bankAccountName}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>BANK ACCOUNT NO</ion-label>
                    <p>{{personalList.employmentDetail.bankAccountNumber}}</p>
                </ion-col>
                <ion-col>
                    <ion-label>EPF NO</ion-label>
                    <p>{{personalList.employmentDetail.epfNumber}}</p>
                </ion-col>
            </ion-row>
            <ion-row class="detailsRow">
                <ion-col>
                    <ion-label>INCOME TAX NO</ion-label>
                    <p>{{personalList.employmentDetail.incomeTaxNumber}}</p>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </div>

</ion-card>